<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->	

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Inner intro START -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-9 mx-auto pt-md-5 mt-n5">
				<h3 class="">22년도 국산 햇참깨 저렴하게 생산자 직접판매</h3>
				<!-- Tags -->
				<ul class="list-inline text-primary-hover mt-0">
					<li class="list-inline-item">
						<div class="badge bg-success bg-opacity-10 text-success">판매중</div>
					</li>
				</ul>
        <!-- Info -->
				<div class="row">
					<div class="col-9">
						<ul class="nav nav-divider align-items-center mt-n2">
							<li class="nav-item">test1</li>
							<li class="nav-item">2023-01-22</li>
							<li class="nav-item">조회수 20</li>
						</ul>
					</div>
					<div class="col-3 mt-n4">
						<!-- Buttons -->
						<div class="d-flex gap-2 mt-2 mt-sm-0">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<a href="#" class="btn btn-sm btn-success-soft"><i class="fa-solid fa-pen-to-square"></i> 수정</a>
							<a href="#" class="btn btn-sm btn-danger-soft"><i class="bi bi-trash"></i> 삭제</a>
						</div>
					</div>
				</div>
        <img class="rounded mt-3" src="assets/images/farmstouch/bloom-1835391.jpg" alt="Image">
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Main START -->
<section class="pt-0">
	<div class="container position-relative">
		<div class="row">
			<!-- Main Content START -->
			<div class="col-lg-9 mx-auto">
				<p class="fs-5">국산 햇참깨 저렴하게 생산자 직접판매 <br>
					▣품명 : 국산 햇참깨 <br>
					일반 시중가격보다 훨씬 저렴합니다. <br>
					●생산지 : 국산 원주시 <br>
					●판매방법 : 생산자 직접판매(택배발송) <br>
					●판매가격(Price) : 해마다 시세에 따라 변동될수있음을 알려드립니다 <br>
					1kg : 28,000원 <br>
					6kg (1말) : 168,000원 <br>
					●판매단위 : kg단위 <br>
					※ 택배비 : 4,500원(6kg이상 무료배송) <br>
					● 출하시기 : 10월하순경 <br>
					● 재고수량 : ○○kg <br>
					☎ 연락처 : 010-3213-5280 <br>
					●입금계좌번호 : 농협 212-02-032857 (예금주:정기수) <br>
					●주문 및 배송방법 : 전화로 혹은 문자로 혹은 카카오톡으로 주문받습니다 → 대금은 계좌입금 확인후 → 귀댁으로 물품을 택배발송해 드립니다.
					※ 구매자 수신처는 전화 또는 문자로 또는 카카오톡으로 알려주시면 됩니다.
					​</p>
				<!-- Divider -->

				<!-- Comments START -->
				<div class="mt-5">
					<h5>3개의 댓글</h5>
					<!-- Comment level 1-->
					<div class="my-4 d-flex">
						<img class="avatar avatar-md rounded-circle float-start me-3" src="assets/images/avatar/01.jpg" alt="avatar">
						<div>
							<div class="mb-2">
								<h5 class="m-0">Allen Smith</h5>
								<div class="row">
									<div class="col-9">
										<span class="me-3 small">2022.01.23 오전 07:07 </span>
									</div>
									<div class="col-3 mt-n4">
										<!-- Buttons -->
										<div class="d-flex gap-2 mt-2 mt-sm-0">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="#" class="btn btn-sm btn-dark-bg-check" style="background-color: gainsboro;">수정</a>
											<a href="#" class="btn btn-sm btn-dark-bg-check" style="background-color: gainsboro;">삭제</a>
										</div>
									</div>
								</div>
							</div>
							<p>Satisfied conveying a dependent contented he gentleman agreeable do be. Warrant private blushes removed an in equally totally if. Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do. </p>
						</div>
					</div>
					<!-- Comment level 1-->
					<div class="my-4 d-flex">
						<img class="avatar avatar-md rounded-circle float-start me-3" src="assets/images/avatar/01.jpg" alt="avatar">
						<div>
							<div class="mb-2">
								<h5 class="m-0">Allen Smith</h5>
								<div class="row">
									<div class="col-9">
										<span class="me-3 small">2022.01.23 오전 07:07 </span>
									</div>
									<div class="col-3 mt-n4">
										<!-- Buttons -->
										<div class="d-flex gap-2 mt-2 mt-sm-0">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="#" class="btn btn-sm btn-dark-bg-check" style="background-color: gainsboro;">수정</a>
											<a href="#" class="btn btn-sm btn-dark-bg-check" style="background-color: gainsboro;">삭제</a>
										</div>
									</div>
								</div>
							</div>
							<p>Satisfied conveying a dependent contented he gentleman agreeable do be. Warrant private blushes removed an in equally totally if. Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do. </p>
						</div>
					</div>
					<!-- Comment level 1-->
					<div class="my-4 d-flex">
						<img class="avatar avatar-md rounded-circle float-start me-3" src="assets/images/avatar/01.jpg" alt="avatar">
						<div>
							<div class="mb-2">
								<h5 class="m-0">Allen Smith</h5>
								<div class="row">
									<div class="col-9">
										<span class="me-3 small">2022.01.23 오전 07:07 </span>
									</div>
									<div class="col-3 mt-n4">
										<!-- Buttons -->
										<div class="d-flex gap-2 mt-2 mt-sm-0">
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<a href="#" class="btn btn-sm btn-dark-bg-check" style="background-color: gainsboro;">수정</a>
											<a href="#" class="btn btn-sm btn-dark-bg-check" style="background-color: gainsboro;">삭제</a>
										</div>
									</div>
								</div>
							</div>
							<p>Satisfied conveying a dependent contented he gentleman agreeable do be. Warrant private blushes removed an in equally totally if. Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do. </p>
						</div>
					</div>
				<!-- Comments END -->
				<!-- Reply START -->
				<div>
					<form class="row g-3 mt-2">
					  <div class="col-12">
					  	<textarea class="form-control" rows="3" placeholder="댓글을 작성하세요."></textarea>
					  </div>
					  <div class="col-12">
					    <button type="submit" class="btn btn-success2">등록</button>
					  </div>
					</form>
				</div>
				<!-- Reply END -->

        <!-- Next prev post START -->
				<div class="row g-0 mt-5 mx-0 border-top border-bottom">
					<div class="col-sm-6 py-3 py-md-4">
						<div class="d-flex align-items-center position-relative">
							<!-- Icon -->
							<div class="py-1" style="background-color: #446A46;">
								<i class="bi bi-chevron-compact-left fs-3 text-white px-1 rtl-flip"></i>
							</div>
							<!-- Title -->
							<div class="ms-3">
								<h5 class="m-0"> <a href="#" class="stretched-link btn-link text-reset">고창이그린열매마농원 열매마 할인 판매</a></h5>
							</div>
						</div>
					</div>
					<div class="col-sm-6 py-3 py-md-4 text-sm-end">
						<div class="d-flex align-items-center position-relative">
							<!-- Title -->
							<div class="me-3">
								<h5 class="m-0"> <a href="#" class="stretched-link btn-link text-reset">배즙)농학박사의 타이틀을 걸고, 맛을 보장하겠습니다</a></h5>
							</div>
							<!-- Icon -->
							<div class="py-1" style="background-color: #446A46;">
								<i class="bi bi-chevron-compact-right fs-3 text-white px-1 rtl-flip"></i>
							</div>
						</div>
					</div>
				</div>
				<!-- Next prev post START -->

			</div>
			<!-- Main Content END -->
		</div>
	</div>
</section>
<!-- =======================
Main END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- footer 시작 -->
<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>