<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<!-- 제목의 글자수를 제한하고 ... 처리하는 css 수정 완료 -->
<style>
	.textcutting{
	  width        : 20.5rem;     
	  text-overflow: ellipsis;  /* 위에 설정한 넓이보다 길면 말줄임표처럼 표시 */
	  white-space  : nowrap;    /* 줄바꿈을 하지 않음 */
	  overflow     : hidden;    /* 내용이 길면 감춤 */
	  display      : block;     /* ie6이상 현재요소를 블럭처리 */
	  margin-left : -0.625rem
}
</style>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->	

<!-- **************** MAIN CONTENT START **************** -->
<main>
<!-- =======================
Main Banner START -->
<section class="py-0 mt-4">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-11 mx-auto">
				<!-- Slider START -->
				<div class="tiny-slider arrow-round arrow-blur arrow-hover rounded-3 overflow-hidden">
					<div class="tiny-slider-inner" data-gutter="0" data-arrow="true" data-dots="false" data-items="1">
						<!-- Card item START -->
						<div class="card overflow-hidden h-400px h-sm-600px rounded-0" style="background-image:url(../assets/images/farmstouch/example/nong3.jpg); background-position: center left; background-size: cover;">
							<!-- Background dark overlay -->
							<div class="bg-overlay bg-dark opacity-3"></div>
							<!-- Card image overlay -->
							<div class="card-img-overlay d-flex align-items-center"> 
								<div class="container">
									<div class="row">
										<div class="col-11 col-lg-7">
											<h6 class="text-white fw-normal mb-0">💖 Fall in love with the Food</h6>
											<!-- Title -->
											<h1 class="text-white display-6">농가 맛집</h1>
											<!-- Form -->
									<form class="bg-body d-flex rounded-2 p-2" th:action="@{/life/farmHouseRestaurantList}" method="get">
										<input class="form-control border-0 me-1" type="text" placeholder="맛집 이름을 검색하세요. 지역별 보기는 아래쪽에" id="searchValue" name="searchValue" th:value="${param.searchValue}">
										<button type="submit" class="btn btn-dark btn-round flex-shrink-0 mb-0"><i class="bi bi-arrow-right fa-fw"></i></button>
									</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->
					</div>
				</div>
				<!-- Slider END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main Banner END -->



	<section class="pt-0">
		<div class="container position-relative">
<!-- =======================
Main Banner START -->


<!-- =======================
Main Banner END -->
		
	
			<!-- =======================
			Near by START -->
			<section>
				<div class="container" style="margin: -3.125rem auto;">
					<div class="row g-4 g-md-4">
						<!-- Card item START -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card bg-transparent text-center p-1 h-100">
								<!-- Image -->
								<img src="../assets/images/farmstouch/example/resize/suwan.jpg" class="rounded-circle" alt="">

								<div class="card-body p-0 pt-3">
									<h5 class="card-title">
										<a th:href="|/life/farmHouseRestaurantList?searchCity=경기도|" id="searchCity" name="searchCity" class="stretched-link" data-value="경기도">경기도</a>
									</h5>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card bg-transparent text-center p-1 h-100">
								<!-- Image -->
								<img src="../assets/images/farmstouch/example/resize/강원도.jpg" class="rounded-circle" alt="">

								<div class="card-body p-0 pt-3">
									<h5 class="card-title">
										<a th:href="|/life/farmHouseRestaurantList?searchCity=강원도|" id="searchCity" name="searchCity" class="stretched-link" data-value="강원도">강원도</a>
									</h5>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card bg-transparent text-center p-1 h-100">
								<!-- Image -->
								<img src="../assets/images/farmstouch/example/resize/jungjeong.jpg" class="rounded-circle" alt="">

								<div class="card-body p-0 pt-3">
									<h5 class="card-title">
										<a th:href="|/life/farmHouseRestaurantList?searchCity=충청도|" id="searchCity" name="searchCity" class="stretched-link" data-value="충청도">충청도</a>
									</h5>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card bg-transparent text-center p-1 h-100">
								<!-- Image -->
								<img src="../assets/images/farmstouch/example/resize/jeonla.jpg" class="rounded-circle" alt="">

								<div class="card-body p-0 pt-3">
									<h5 class="card-title">
										<a th:href="|/life/farmHouseRestaurantList?searchCity=전라도|" id="searchCity" name="searchCity" class="stretched-link" data-value="전라도">전라도</a>
									</h5>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card bg-transparent text-center p-1 h-100">
								<!-- Image -->
								<img src="../assets/images/farmstouch/example/resize/busan.jpg" class="rounded-circle" alt="">

								<div class="card-body p-0 pt-3">
									<h5 class="card-title">
										<a th:href="|/life/farmHouseRestaurantList?searchCity=경상도|" id="searchCity" name="searchCity" class="stretched-link" data-value="경상도">경상도</a>
									</h5>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card bg-transparent text-center p-1 h-100">
								<!-- Image -->
								<img src="../assets/images/farmstouch/example/resize/jeju.jpg" class="rounded-circle" alt="">

								<div class="card-body p-0 pt-3">
									<h5 class="card-title">
										<a th:href="|/life/farmHouseRestaurantList?searchCity=특별|" id="searchCity" name="searchCity" class="stretched-link" data-value="특별">제주&특광역</a>
									</h5>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						
					</div> <!-- Row END -->
				</div>
			</section>
			<!-- =======================
			Near by END -->
	
		</div>
	</section>
	<!-- =======================
	Main Banner END -->

<!-- =======================
Tour grid START -->
<section class="pt-0">
	<div class="container">

		<!-- Filter and content START -->
		<div class="row g-4 align-items-center justify-content-between mb-4">
			<!-- Content -->
			<div class="col-12 col-xl-8">
				<h5 class="mb-0">총 [[${fboardCount}]]개가 검색되었습니다.<a th:href="|/life/farmHouseRestaurantList|" style="font-size:1.25rem; margin-left:15.625rem; color:green">검색결과 초기화</a></h5>
			</div>

			<!-- Select option -->
			<div class="col-xl-2">
				<form class="form-control-bg-light" th:action="@{/life/farmHouseRestaurantList}" method="get">
					<select class="form-select js-choice" id="sortby" th:onchange="sorting();" th:name="searchSort">
						<option value="cntntsSj" th:selected="${param.searchSort}=='cntntsSj'">이름순</option>
						<option value="star" th:selected="${param.searchSort}=='star'">별점순</option>
						<option value="reviews" th:selected="${param.searchSort}=='reviews'">리뷰 갯수 순</option>
					</select>
				</form>
			</div>
		</div>
		<!-- Filter and content END -->

		<div class="row g-4">

			<!-- Card item START -->
			<th:block th:if="${flist == null}">
				<div>조회된 글이 없습니다.</div>
			</th:block>
			<th:block th:if="${flist != null}">
				<!-- Card item START -->
			<div th:each="FrmhsTasteHos : ${flist}" class="col-md-6 col-xl-4">
				<div class="card card-hover-shadow pb-0 h-100" style="background-color: #daf0da; border-radius: 0.938rem;">
					<!-- Overlay item -->
					<div class="position-relative">
						<!-- Image -->
						<img th:src="${FrmhsTasteHos.imgUrl1}" class="card-img-top" alt="Card image" style="height: 17.5rem;">
						<!-- Overlay -->
						<div class="card-img-overlay d-flex flex-column p-4 z-index-1">
							<!-- Card overlay top -->
							<div>
								<span class="badge text-bg-dark">
									<h6 class="fw-light text-white m-0"><i class="fa-solid fa-star text-warning me-2"></i>
										<th:block th:if="${param.star == null}">	
											별점없음
										</th:block>
										<th:block th:unless="${param.star != null}">	
											[[${param.star}]]
										</th:block>
									</h6>
								</span>
							</div>
						</div>
					</div>
					<!-- Image -->

					<!-- Card body START -->
					<div class="card-body px-3">
						<!-- Title -->
						<h5 class="card-title mb-0"><a th:href="|/life/farmHouseRestaurantDetails?cntntsNo=${FrmhsTasteHos.cntntsNo}|" class="stretched-link">[[${FrmhsTasteHos.cntntsSj}]]</a></h5>
						<!-- <span class="small"><i class="far fa-calendar-alt me-2"></i>April 12-17</span> -->

						<!-- List -->
						<ul class=" mt-3 mb-3">
							<li class="nav-item h6 fw-normal textcutting">
								<i class="fa-solid fa-location-dot text-success me-2"></i>지역 : [[${FrmhsTasteHos.subArea}]] [[${FrmhsTasteHos.adstrdNm}]]
							</li>
							<li class="nav-item h6 fw-normal textcutting">
								<i class="fa-solid fa-phone text-orange me-2"></i>전화번호 : [[${FrmhsTasteHos.telno}]]
							</li>
							<li class="nav-item h6 fw-normal textcutting">
								<i class="fa-solid fa-cancel text-danger me-2"></i>쉬는 날 : [[${FrmhsTasteHos.restde}]]
							</li>
							<li class="nav-item h6 fw-normal textcutting">
								<i class="fa-solid fa-clock text-info me-2"></i> 영업시간 : [[${FrmhsTasteHos.bsnTime}]]
							</li>
						</ul>
					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Card item END -->

		</div> <!-- Row END -->

		<!-- 페이지 부 -->
		<th:block th:if="${fboardCount > 0}">
			<div class="row">
				<div class="col-12">
					<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
						<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
							<li class="page-item mb-0">
								<button class="page-link" tabindex="-1" th:onclick="movePage(1);">처음</button>
							</li>
							<li class="page-item mb-0">
								<button class="page-link" tabindex="-1" th:onclick="movePage([[${pageInfo.prevPage}]]);"><i class="fa-solid fa-angle-left"></i></button>
							</li>
									
							<th:block th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
								<th:block th:if="${status.current == pageInfo.currentPage}">
									<li class="page-item mb-0 active">
										<button class="page-link" disabled >[[${status.current}]]</button>
									</li>
								</th:block>
								<th:block th:if="${status.current != pageInfo.currentPage}">
									<li class="page-item mb-0">
										<button class="page-link" th:onclick="movePage([[${status.current}]])">[[${status.current}]]</button>
									</li>
								</th:block>
							</th:block>
							<li class="page-item mb-0">
								<button class="page-link" th:onclick="movePage([[${pageInfo.nextPage}]])"><i class="fa-solid fa-angle-right"></i></button>
							</li>
							<li class="page-item mb-0">
								<button class="page-link" th:onclick="movePage([[${pageInfo.maxPage}]])">끝</button>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</th:block>
	</div>
</section>
<!-- =======================
Tour grid END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================Footer START -->

	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>

<script type="text/javascript">
	var url_href = window.location.href;
	var url = new URL(url_href); // URL 객체 선언

    $(function() {
		var city = url.searchParams.get('city');
		if(city != '') {
			itemChange();
		}
	})
	
	function sorting() {
		var searchSort = $("#sortby").val();
		url.searchParams.set("searchSort", searchSort);
		window.location.search = url.searchParams;
	}

	function movePage(page){
		url.searchParams.set("page", page);
		window.location.search = url.searchParams;
	};
</script>