<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->	
<!-- ***************************************************************** MAIN CONTENT START ************************************************************************* -->
<main>

<!-- =======================
Main banner START -->
<section class="py-0">
	<div class="container-fluid px-0">
		<!-- Slider START -->
		<div class="tiny-slider arrow-round arrow-blur">
			<div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-gutter="0" data-edge="0" data-dots="false" data-items="3" data-items-md="2" data-items-xs="1">
				
				<!-- Slider item -->
				<!-- <th:block th:each="imgList : ${imgList}"> -->
				<!-- 1 -->
				<th:block th:if="${not #strings.isEmpty(frmhsTasteHos.imgUrl1)}">
					<div>
						<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="${frmhsTasteHos.imgUrl1}" target="_blank">
							<div class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden">
								<!-- Image -->
								<img th:src="${frmhsTasteHos.imgUrl1}" class="" alt="" style="height: 23.75rem;">
								<!-- Full screen button -->
								<div class="hover-element w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>
					</div>
				</th:block>
				<!-- 2 -->
				<th:block th:if="${not #strings.isEmpty(frmhsTasteHos.imgUrl2)}">
					<div>
						<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="${frmhsTasteHos.imgUrl2}" target="_blank">
							<div class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden">
								<!-- Image -->
								<img th:src="${frmhsTasteHos.imgUrl2}" class="" alt="" style="height: 23.75rem;">
								<!-- Full screen button -->
								<div class="hover-element w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>
					</div>
				</th:block>
				<!-- 3 -->
				<th:block th:if="${not #strings.isEmpty(frmhsTasteHos.imgUrl3)}">
					<div>
						<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="${frmhsTasteHos.imgUrl3}" target="_blank">
							<div class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden">
								<!-- Image -->
								<img th:src="${frmhsTasteHos.imgUrl3}" class="" alt="" style="height: 23.75rem;">
								<!-- Full screen button -->
								<div class="hover-element w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>
					</div>
				</th:block>
				<!-- 4 -->
				<th:block th:if="${not #strings.isEmpty(frmhsTasteHos.imgUrl4)}">
					<div>
						<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="${frmhsTasteHos.imgUrl4}" target="_blank">
							<div class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden">
								<!-- Image -->
								<img th:src="${frmhsTasteHos.imgUrl4}" class="" alt="" style="height: 23.75rem;">
								<!-- Full screen button -->
								<div class="hover-element w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>
					</div>
				</th:block>
				<!-- 5 -->
				<th:block th:if="${not #strings.isEmpty(frmhsTasteHos.imgUrl5)}">
					<div>
						<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="${frmhsTasteHos.imgUrl5}" target="_blank">
							<div class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden">
								<!-- Image -->
								<img th:src="${frmhsTasteHos.imgUrl5}" class="" alt="" style="height: 23.75rem;">
								<!-- Full screen button -->
								<div class="hover-element w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>
					</div>
				</th:block>
			</div>
		</div>
		<!-- Slider START -->
	</div>
</section>
<!-- =======================
Main banner END -->

<!-- =======================
Title and tabs START -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="card bg-light p-0 pb-0">
					<!-- Card body -->
					<div class="card-body d-flex justify-content-between flex-wrap">
						<!-- Title and badge -->
						<div>
							<!-- Badge -->
							<div class="badge text-bg-dark"><i class="fa-solid fa-utensils fa-fw text-warning"></i> 농가맛집</div>
							<div class="badge text-bg-dark"><i class="fa-solid fa-map-location-dot fa-fw text-warning"></i>[[${frmhsTasteHos.subArea}]] [[${frmhsTasteHos.adstrdNm}]]</div>
							<div class="badge text-bg-dark"><i class="fas fa-star fa-fw text-warning"></i>
								<th:block th:if="${param.star == null}">	
									별점없음
								</th:block>
								<th:block th:unless="${param.star != null}">	
									[[${param.star}]]
								</th:block>
							</div>
							
							<!-- Title -->
							<h1 class="h3 mt-2 mb-1" style="padding: 0.625rem 0px;">[[${frmhsTasteHos.cntntsSj}]]</h1>
							<p class="mb-2 mb-sm-0"><i class="bi bi-geo-alt me-1 text-primary"></i>[[${frmhsTasteHos.locplc}]]</p>
						</div>
						
						
						<!-- Buttons -->
					 <!--  -->
						<ul class="list-inline mb-0" >
							<!-- wishlist -->
							<li class="list-inline-item">
								<a href="#" class="btn btn-sm btn-white px-2"><i class="fa-solid fa-fw fa-heart"></i></a>
							</li>
							
							<!-- Share -->
							<li class="list-inline-item dropdown">
								<!-- Share button -->
								<a href="#" class="btn btn-sm btn-white px-2" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fa-solid fa-fw fa-share-alt"></i>
								</a>
								<!-- dropdown button -->
								<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
									<li><a id="btnTwitter" class="dropdown-item link-icon twitter" href="javascript:shareTwitter();"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
									<!-- <li><a id="btnFacebook" class="dropdown-item link-icon facebook" href="javascript:shareFacebook();"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li> -->
									<li><a id="btnKakao" class="dropdown-item link-icon kakao" href="javascript:shareKakao();">
										<img src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/null/external-free-instant-messaging-app-for-cross-platform-devices-logo-bold-tal-revivo.png" style="height:15px"/> KaKao</a></li>
									<li><a class="dropdown-item" href="#" onclick="clip(); return false;"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
								</ul>
							</li>
							<!-- Report -->
							<li class="list-inline-item">
								<a href="/life/farmHouseRestaurantList" class="btn btn-sm btn-white px-2"><i class="bi bi-exclamation-triangle-fill fa-fw"></i> 검색페이지</a>
							</li>
						</ul>
	
					</div>
					<!-- Card footer -->
					<div class="card-footer bg-transparent border-top py-0">
						<ul class="nav nav-tabs nav-bottom-line nav-responsive border-0" role="tablist">
							<li class="nav-item"> <a class="nav-link mb-0 active" data-bs-toggle="tab" href="#tab-1">상세정보</a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Title and tabs END -->

<!-- =======================
Content START -->
<section class="pt-0">
	<div class="container">
		<!-- Tabs contents START -->
		<div class="tab-content mb-0" id="tour-pills-tabContent">

			<!-- Content item START -->
			<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
				<div class="row g-4 g-lg-5">
					<!-- Left side START -->
					<div class="col-lg-7 col-xl-8">
						<!-- Card START -->
						<div class="card bg-transparent mb-4">
							<!-- Card header -->
							<div class="card-header bg-transparent border-bottom px-0 pt-0">
								<h4 class="mb-0">맛집 소개</h4>
							</div>
							<!-- Card body -->
							<div class="card-body px-0 pb-0">
								<h6 style="color: green;">[[${frmhsTasteHos.cntntsSj}]] | [[${frmhsTasteHos.slogan}]]</h6>
								<p class="mb-3" th:utext="|${frmhsTasteHos.smm}|"></p>
							</div>
						</div>
						<!-- Card END -->

<!-- *******************************************************************영업시간*************************************************************** -->
<!-- Card START -->
<div class="card bg-transparent mb-4">
	<!-- Card header -->
	<div class="card-header bg-transparent border-bottom px-0 pt-0">
		<h4 class="mb-0">영업 시간</h4>
	</div>
	<!-- Card body -->
	<div class="card-body px-0 pb-0" style="margin-bottom: 1.875rem;" >
		<div class="card shadow">
			<!-- Card header -->

			<div class="card-body" style="background-color:#daf0da; border-radius: 0.938rem;" >
				<ul class="list-group list-group-borderless mb-0">
					<li class="list-group-item d-flex justify-content-between">
						<span style="color: red;"><i class="fa-solid fa-hashtag"></i> 쉬는 날 </span>
						<span>[[${frmhsTasteHos.restde}]]</span>
					</li>
					<li class="list-group-item py-0"><hr class="my-1"></li>
					<li class="list-group-item d-flex justify-content-between">
						<span style="color: blue;"><i class="fa-solid fa-hashtag"></i> 영업하는 날 </span>
						<span style="text-align: right;">[[${frmhsTasteHos.bsnTime}]]
						<br>[[${frmhsTasteHos.operMth}]]</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Card END -->						
											

						<!-- Card START -->
						<div class="card bg-transparent mb-4">
							<!-- Card header -->
							<div class="card-header bg-transparent border-bottom px-0 pt-0">
								<h4 class="mb-0">취급 메뉴</h4>
							</div>
							<!-- Card body -->
							<div class="card-body px-0 pb-0">
								<th:block th:if="${frmhsTasteHos.trtmntMenu != null}">
									<p class="mb-3" th:utext="|${frmhsTasteHos.trtmntMenu}|"></p>
								</th:block>
								<th:block th:unless="${frmhsTasteHos.trtmntMenu == null}">
									<p class="mb-3">자세한 메뉴 문의는 기재된 연락처로 전화 문의 바랍니다.</p>
								</th:block>
							</div>
						</div>
						<!-- Card END -->

						<!-- Card START -->
						<div class="card bg-transparent mb-4">
							<!-- Card header -->
							<div class="card-header bg-transparent border-bottom px-0 pt-0">
								<h4 class="mb-0">체험 프로그램</h4>
							</div>
							<!-- Card body -->
							<div class="card-body px-0 pb-0">
								<th:block th:if="${frmhsTasteHos.exprnProgrm != null}">
									<p class="mb-3" th:utext="|${frmhsTasteHos.exprnProgrm}|"></p>
								</th:block>
								<th:block th:unless="${frmhsTasteHos.exprnProgrm == null}">
									<p class="mb-3">자세한 체험 프로그램 문의는 기재된 연락처로 전화 문의 바랍니다.</p>
								</th:block>
							</div>
						</div>
						<!-- Card END -->

						<!-- Card START -->
						<div class="card bg-transparent mb-4">
							<!-- Card header -->
							<div class="card-header bg-transparent border-bottom px-0 pt-0">
								<h4 class="mb-0">주변 관광/볼거리</h4>
							</div>
							<!-- Card body -->
							<div class="card-body px-0 pb-0">
								<th:block th:if="${frmhsTasteHos.trrsrt != ''}">
									<p class="mb-3" th:utext="|${frmhsTasteHos.trrsrt}|"></p>
								</th:block>
								<th:block th:if="${frmhsTasteHos.trrsrt == ''}">
									<p class="mb-3">자세한 주변 관광 및 볼거리 문의는 기재된 연락처로 전화 문의 바랍니다.</p>
								</th:block>
							</div>
						</div>
						<!-- Card END -->

						<!-- Card START -->
						<div class="card bg-transparent">
							<!-- Card header -->
							<div class="card-header bg-transparent border-bottom px-0">
								<h4 class="mb-0">맛집 사진</h4>
							</div>
							<!-- Card body -->
							<div class="card-body px-0 pb-0">
								<div class="row g-4">
									<th:block th:if="${imgList != null}">
										<!-- Card item START -->
										<div th:each="FrmhsTasteHos : ${imgList}" class="col-md-4">
											<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="${FrmhsTasteHos.imgUrl1}" target="_blank">
												<div class="card card-element-hover card-overlay-hover overflow-hidden">
													<!-- Image -->
													<th:block th:if="${FrmhsTasteHos.imgUrl1 != ''}">
														<img th:src="${FrmhsTasteHos.imgUrl1}" class="card-img" alt="" style="height: 10.625rem;">
													</th:block>
													<th:block th:if="${FrmhsTasteHos.imgUrl1 == ''}">
													</th:block>
													<!-- Full screen button -->
													<div class="hover-element w-100 h-100">
														<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
													</div>
												</div>
											</a>
										</div>
										<div th:each="FrmhsTasteHos : ${imgList}" class="col-md-4">
											<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="${FrmhsTasteHos.imgUrl2}" target="_blank">
												<div class="card card-element-hover card-overlay-hover overflow-hidden">
													<!-- Image -->
													<th:block th:if="${FrmhsTasteHos.imgUrl2 != ''}">
														<img th:src="${FrmhsTasteHos.imgUrl2}" class="card-img" alt="" style="height: 10.625rem;">
													</th:block>
													<th:block th:if="${FrmhsTasteHos.imgUrl2 == ''}">
													</th:block>
													<!-- Full screen button -->
													<div class="hover-element w-100 h-100">
														<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
													</div>
												</div>
											</a>
										</div>
										<div th:each="FrmhsTasteHos : ${imgList}" class="col-md-4">
											<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="${FrmhsTasteHos.imgUrl3}" target="_blank">
												<div class="card card-element-hover card-overlay-hover overflow-hidden">
													<!-- Image -->
													<th:block th:if="${FrmhsTasteHos.imgUrl3 != ''}">
														<img th:src="${FrmhsTasteHos.imgUrl3}" class="card-img" alt="" style="height: 10.625rem;">
													</th:block>
													<th:block th:if="${FrmhsTasteHos.imgUrl3 == ''}">
													</th:block>
													<!-- Full screen button -->
													<div class="hover-element w-100 h-100">
														<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
													</div>
												</div>
											</a>
										</div>
										<div th:each="FrmhsTasteHos : ${imgList}" class="col-md-4">
											<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="${FrmhsTasteHos.imgUrl4}" target="_blank">
												<div class="card card-element-hover card-overlay-hover overflow-hidden">
													<!-- Image -->
													<th:block th:if="${FrmhsTasteHos.imgUrl4 != ''}">
														<img th:src="${FrmhsTasteHos.imgUrl4}" class="card-img" alt="" style="height: 10.625rem;">
													</th:block>
													<th:block th:if="${FrmhsTasteHos.imgUrl4 == ''}">
													</th:block>
													<!-- Full screen button -->
													<div class="hover-element w-100 h-100">
														<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
													</div>
												</div>
											</a>
										</div>
										<div th:each="FrmhsTasteHos : ${imgList}" class="col-md-4">
											<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="${FrmhsTasteHos.imgUrl5}" target="_blank">
												<div class="card card-element-hover card-overlay-hover overflow-hidden">
													<!-- Image -->
													<th:block th:if="${FrmhsTasteHos.imgUrl5 != ''}">
														<img th:src="${FrmhsTasteHos.imgUrl5}" class="card-img" alt="" style="height: 10.625rem;">
													</th:block>
													<th:block th:if="${FrmhsTasteHos.imgUrl5 == ''}">
													</th:block>
													<!-- Full screen button -->
													<div class="hover-element w-100 h-100">
														<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
													</div>
												</div>
											</a>
										</div>
									</th:block>
								</div>
							</div>
						</div>
						<!-- Card END -->
					</div>
					<!-- Left side END -->

					<!-- Right side START -->
					<div class="col-lg-5 col-xl-4">
						<!-- Direction START -->
						<div class="card shadow mb-4">
							<!-- Card header -->
							<div class="card-header border-bottom">
								<h5 class="mb-0">찾아오시는 길</h5>
							</div>

							<!-- Card body -->
							<div class="card-body">
<!-- ===================================================== Map START ================================================================================ -->
								<div class="w-100  rounded" id="map" style="width:100%; height:12.5rem;"></div>
								
								<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b9742eb79e2bd0b8423d5b16098064c5&libraries=services"></script>
								<script th:inline="javascript">
						            var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
						                  mapOption = {
						                        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
						                        level: 1 // 지도의 확대 레벨 - 필요한 만큼 숫자를 늘리세요 숫자를 늘리면 더 넓은 범위 보여줘요 ex) 부산
						                  };
						
						            //지도를 생성합니다    
						            var map = new kakao.maps.Map(mapContainer, mapOption);
						           
						            //주소-좌표 변환 객체를 생성합니다
						            var geocoder = new kakao.maps.services.Geocoder();
						            
						            // 여기 let farmMap = /*[[ ${frmhsTasteHos.locplc} ]]*/ 에서 frmhsTasteHos.locplc 만 수정하심 됩니다.
						            /*<![CDATA[*/
						            	let farmMap = /*[[ ${frmhsTasteHos.locplc} ]]*/
       								 /*]]*/
						            //주소로 좌표를 검색합니다
						            geocoder.addressSearch(farmMap, function (result, status) {
						                  // 정상적으로 검색이 완료됐으면 
						                  if (status === kakao.maps.services.Status.OK) {
						                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
						
						                        // 결과값으로 받은 위치를 마커로 표시합니다
						                        var marker = new kakao.maps.Marker({
						                              map: map,
						                              position: coords
						                        });
						
						                       
						                        // 인포윈도우로 장소에 대한 설명을 표시합니다
						                        var infowindow = new kakao.maps.InfoWindow({	// 마커에 뜰 이름입니다. frmhsTasteHos.cntntsSj 이 부분만 수정하심 됩니다.
						                        	content: '<div style="width:150px;text-align:center;padding:6px 0;">[[ ${frmhsTasteHos.cntntsSj} ]]</div>'
						                        });
						                        infowindow.open(map, marker);
						
						                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
						                        map.setCenter(coords);
						                  }
						            });
						            
						      </script>
								
								
								<!-- Info -->
								<ul class="list-group list-group-borderless my-3" >
									<!-- 주소 -->
									<li class="list-group-item">
										<a class="h6 fw-normal mb-0" style="font-size:0.9rem" >
											<th:block th:if="${frmhsTasteHos.locplc != ''}">
												<i class="bi fa-fw bi-geo-alt me-2"></i>[[${frmhsTasteHos.locplc}]]
											</th:block>
											<th:block th:unless="${frmhsTasteHos.locplc != ''}">
												<i class="bi fa-fw bi-geo-alt me-2"></i>주소 : 전화 문의 바랍니다.
											</th:block>
										</a>
									</li>
									<!-- 전화번호 -->
									<li class="list-group-item">
										<a class="h6 fw-normal mb-0" style="font-size:0.9rem">
											<i class="bi fa-fw bi-telephone-forward me-2"></i>[[${frmhsTasteHos.telno}]]
										</a>
									</li>
									<!-- 운영방법 -->
									<li class="list-group-item">
										<a class="h6 fw-normal mb-0" style="font-size:0.9rem">
											<th:block th:if="${frmhsTasteHos.operMth != ''}">
												<i class="bi fa-fw bi-info-circle me-2"></i>운영방법 : [[${frmhsTasteHos.operMth}]]
											</th:block>
											<th:block th:unless="${frmhsTasteHos.operMth != ''}">
												<i class="bi fa-fw bi-toggle-off me-2"></i>운영방법 : 전화 문의 바랍니다.
											</th:block>
										</a>
									</li>
									<!-- 좌석형태 -->
									<li class="list-group-item">
										<a class="h6 fw-normal mb-0" style="font-size:0.9rem">
											<th:block th:if="${frmhsTasteHos.seatStle != ''}">
												<i class="bi fa-fw bi-person me-2"></i>좌석형태 : [[${frmhsTasteHos.seatStle}]]
											</th:block>
											<th:block th:unless="${frmhsTasteHos.seatStle != ''}">
												<i class="bi fa-fw bi-toggle-off me-2"></i>좌석형태 : 전화 문의 바랍니다.
											</th:block>
										</a>
									</li>
									<!-- 홈페이지 주소 -->
									<li class="list-group-item">
										<a th:href="|${frmhsTasteHos.url}|" class="h6 fw-normal mb-0" style="font-size:0.8rem">
											<th:block th:if="${frmhsTasteHos.url != ''}">
												<i class="bi fa-fw bi-toggle-off me-2" style="font-size:0.9rem"></i>[[${frmhsTasteHos.url}]]
											</th:block>
											<th:block th:unless="${frmhsTasteHos.url != ''}">
												<i class="bi fa-fw bi-toggle-off me-2"></i>홈페이지 주소 없음
											</th:block>
										</a>
									</li>
								</ul>
								<!-- Social button -->
								<ul class="list-inline mb-0 mt-3">
									<li class="list-inline-item">Follow us on: </li>
									<li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
									<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
									<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-twitter mb-0" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
									<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
								</ul>
							</div>
						</div>
						<!-- Direction END -->

						<!-- Time table START*********************************************************************************************************************** -->
					

<!-- ***********************************************************************************인기맛집******************************************************************************* -->
						<div class="mt-4 d-none d-xl-block">
							<h5>요새 뜨는 인기 맛집</h5>
							<th:block th:each="otherList : ${otherList}">
								<!-- 1 -->
								<div class="card shadow rounded-3 overflow-hidden" style="margin-bottom: 0.625rem; background-color: #daf0da;">
									<div class="row g-0 align-items-center">
										<!-- Image -->
										<div class="col-sm-6 col-md-12 col-lg-6">
											<img th:src="|${otherList.imgUrl1}" class="card-img rounded-0" alt="" style="height: 8.75rem;">
										</div>
										<!-- Title and content -->
										<div class="col-sm-6 col-md-12 col-lg-6">
											<div class="card-body p-3">
												<h6 class="card-title"><a th:href="|/life/farmHouseRestaurantDetails?cntntsNo=${otherList.cntntsNo}|" class="stretched-link">[[${otherList.cntntsSj}]]</a></h6>
												<p class="mb-0">[[${otherList.locplc}]]</p>
											</div>
										</div>
									</div>
								</div>
							</th:block>
							

						</div>
						<!-- Best deal END -->


						
					</div>
					<!-- Right side END -->
<!-- ********************************************************************************다른 맛집 소개******************************************************************************* -->
					

					<!-- Customer Review START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<br>
							<h3 class="card-title mb-0">방문하신 분들의 리뷰</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
				






<!-- ****************************************************************************** 리뷰 ******************************************************************************** -->
			<!-- Review box START -->
			<div class="row g-4 g-xl-5 mb-5">
				<!-- Growth -->
				<div class="col-md-6 col-lg-4">
					<div class="bg-light p-4 rounded text-center">
						<h6 class="fw-normal">Total Reviews</h6>
						<div class="d-flex align-items-center justify-content-center">
							<h2 class="mb-0 me-2">1</h2>
							<div class="badge bg-success bg-opacity-10 text-success">명의 </div>
						</div>
						<p class="mb-0">소중한 리뷰 감사합니다</p>
					</div>	
				</div>

				<!-- Average rating -->
				<div class="col-md-6 col-lg-4">
					<div class="bg-light p-4 rounded text-center">
						<h6 class="fw-normal">Average Rating</h6>
						<div class="d-flex align-items-center justify-content-center">
							<h2 class="mb-0 me-2">4.0</h2>
							<ul class="list-inline mb-0">
								<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
								<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
								<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
								<li class="list-inline-item me-0"><i class="fa-solid fa-star text-warning"></i></li>
								<li class="list-inline-item"><i class="fa-solid fa-star text-secondary"></i></li>
							</ul>
						</div>
						<p class="mb-0">이 맛집의 평점입니다</p>
					</div>	
				</div>

				<!-- Progress bars -->
				<div class="col-lg-4">
					<div class="bg-light p-4 rounded">
						<div class="row gx-3 g-0 align-items-center">

							<!-- Button --> <!-- style="background-color: #446A46; color: white;"-->
							<a href="#" class="btn btn-lg btn-success2 mb-0">리뷰 작성하기 <i class="bi fa-fw bi-arrow-right ms-2"></i></a>
							
							<!-- Button -->
							<a href="#" class="btn btn-lg btn-success2 mb-0" style="margin:0.625rem 0px;">리뷰 게시판 <i class="bi fa-fw bi-arrow-right ms-2"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- Review box END -->

							<!-- Review item START -->
							<div class="d-md-flex my-4">
								<!-- Avatar -->
								<div class="avatar avatar-lg me-3 flex-shrink-0">
									<img class="avatar-img rounded-circle" src="../assets/images/farmstouch/avatar/ava01.png" alt="avatar">
								</div>
								<!-- Text -->
								<div>
									<div class="d-flex justify-content-between mt-1 mt-md-0">
										<div>
											<h6 class="me-3 mb-0">hwanhon</h6>
											<!-- Info -->
											<ul class="nav nav-divider small mb-2">
												<li class="nav-item">2023-02-20</li>
											</ul>
										</div>
										<!-- Review star -->
										<div class="icon-md rounded text-bg-success fs-6">4.0</div>
									</div>
									
									<p class="mb-2">음식이 정갈하고 청결에 신경쓰시는 모습이 좋았어요.</p>
									
									<!-- Images -->
									<div class="row g-4">
										<div class="col-4 col-sm-3 col-lg-2">
											<img src="../assets/images/farmstouch/example/dish1.jpg" class="rounded" alt="" style="height: 7.5rem; width: 1000px">
										</div>
										<div class="col-4 col-sm-3 col-lg-2">
											<img src="../assets/images/farmstouch/example/dish2.jpg" class="rounded" alt="" style="height: 7.5rem; width: 1000px">
										</div>
										<div class="col-4 col-sm-3 col-lg-2">
											<img src="../assets/images/farmstouch/example/dish3.jpg" class="rounded" alt="" style="height: 7.5rem; width: 1000px">
										</div>
									</div>
								</div>
							</div>


							<!-- Divider -->
							<hr>
							<!-- Review item END -->

						</div>
						<!-- Card body END -->
					</div>
					<!-- Customer Review END -->
<!-- ****************************************************************************** 리뷰 ******************************************************************************** -->

				</div>
			</div>
			<!-- Content item END -->

<!-- ********************************************************************************* Deal 지운곳 *********************************************************************************** -->
			



<!-- ************************************************************************ Service ********************************************************************* -->
			
		</div>
		<!-- Tabs contents END -->		
	</div>
</section>
<!-- =======================
Content END -->

</main>

	<footer th:replace="~{common/layout2 :: #footer}"></footer>
	
</body>
</html>

<!-- 카카오 공유하기 -->
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

<script type="text/javascript">
var url = '';

function clip(){

	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href;
	textarea.value = url;
	textarea.select();
	document.execCommand("copy");
	document.body.removeChild(textarea);
	alert("URL이 복사되었습니다.")
}

// 트위터
function shareTwitter() {

    var sendText = "farmstouch"; // 전달할 텍스트
    var sendUrl = url; // 전달할 URL
    window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + sendUrl);
}

// 페이스북
/* function shareFacebook() {
	var url = '';
	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href;
	textarea.value = url;
	textarea.select();
	document.execCommand("copy");
	document.body.removeChild(textarea);
    var sendUrl = "url"; // 전달할 URL
    window.open("http://www.facebook.com/sharer/sharer.php?u=" + sendUrl);
} */

// 카카오
function shareKakao() {
      
      // 사용할 앱의 JavaScript 키 설정
      Kakao.init('9b8a2ab69f37af22f6784fef92e74104');

      // 카카오링크 버튼 생성
      Kakao.Link.createDefaultButton({
            container: '#btnKakao', // 카카오공유버튼ID
            objectType: 'feed',
            content: {
                  title: "Farm's Touch", // 보여질 제목
                  description: "반갑습니다. 초보 농부를 위한 온라인 지침서 팜스터치 입니다.", // 보여질 설명
                  imageUrl: "https://www.urbanbrush.net/web/wp-content/uploads/edd/2018/02/web-20180213120309801324.png", // 콘텐츠 URL
                  link: {
                        mobileWebUrl: url,
                        webUrl: url
                  }
            }
      });
}

</script>