<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->	

<!-- **************** MAIN CONTENT START **************** -->
<main>
<!-- =======================
Main Banner START -->
<section class="py-0 mt-4">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-11 mx-auto">
				<!-- Slider START -->
				<div class="tiny-slider arrow-round arrow-blur arrow-hover rounded-3 overflow-hidden">
					<div class="tiny-slider-inner" data-gutter="0" data-arrow="true" data-dots="false" data-items="1">
						<!-- Card item START -->
						<div class="card overflow-hidden h-400px h-sm-600px rounded-0" style="background-image:url(assets/images/farmstouch/example/nong3.jpg); background-position: center left; background-size: cover;">
							<!-- Background dark overlay -->
							<div class="bg-overlay bg-dark opacity-3"></div>
							<!-- Card image overlay -->
							<div class="card-img-overlay d-flex align-items-center"> 
								<div class="container">
									<div class="row">
										<div class="col-11 col-lg-7">
											<h6 class="text-white fw-normal mb-0">💖 Fall in love with the Food</h6>
											<!-- Title -->
											<h1 class="text-white display-6">농가 맛집</h1>
											<!-- Form -->
									<form class="bg-body d-flex rounded-2 p-2">
										<input class="form-control border-0 me-1" type="text" placeholder="명칭을 입력하세요. 지역별 보기는 아래쪽에">
										<button type="submit" class="btn btn-dark btn-round flex-shrink-0 mb-0"><i class="bi bi-arrow-right fa-fw"></i></button>
									</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Card item END -->
					</div>
				</div>
				<!-- Slider END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main Banner END -->



	<section class="pt-0">
		<div class="container position-relative">
<!-- =======================
Main Banner START -->


<!-- =======================
Main Banner END -->
		
	
			<!-- =======================
			Near by START -->
			<section>
				<div class="container" style="margin: -3.125rem auto;">
					<div class="row g-4 g-md-4">
						<!-- Card item START -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card bg-transparent text-center p-1 h-100">
								<!-- Image -->
								<img src="assets/images/farmstouch/example/resize/suwan.jpg" class="rounded-circle" alt="">

								<div class="card-body p-0 pt-3">
									<h5 class="card-title"><a href="#" class="stretched-link">경기도</a></h5>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card bg-transparent text-center p-1 h-100">
								<!-- Image -->
								<img src="assets/images/farmstouch/example/resize/강원도.jpg" class="rounded-circle" alt="">

								<div class="card-body p-0 pt-3">
									<h5 class="card-title"><a href="#" class="stretched-link">강원도</a></h5>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card bg-transparent text-center p-1 h-100">
								<!-- Image -->
								<img src="assets/images/farmstouch/example/resize/jungjeong.jpg" class="rounded-circle" alt="">

								<div class="card-body p-0 pt-3">
									<h5 class="card-title"><a href="#" class="stretched-link">충청도</a></h5>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card bg-transparent text-center p-1 h-100">
								<!-- Image -->
								<img src="assets/images/farmstouch/example/resize/jeonla.jpg" class="rounded-circle" alt="">

								<div class="card-body p-0 pt-3">
									<h5 class="card-title"><a href="#" class="stretched-link">전라도</a></h5>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card bg-transparent text-center p-1 h-100">
								<!-- Image -->
								<img src="assets/images/farmstouch/example/resize/busan.jpg" class="rounded-circle" alt="">

								<div class="card-body p-0 pt-3">
									<h5 class="card-title"><a href="#" class="stretched-link">경상도</a></h5>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						<!-- Card item START -->
						<div class="col-6 col-sm-4 col-lg-3 col-xl-2">
							<div class="card bg-transparent text-center p-1 h-100">
								<!-- Image -->
								<img src="assets/images/farmstouch/example/resize/jeju.jpg" class="rounded-circle" alt="">

								<div class="card-body p-0 pt-3">
									<h5 class="card-title"><a href="#" class="stretched-link">제주&특광역</a></h5>
								</div>
							</div>
						</div>
						<!-- Card item END -->

						
					</div> <!-- Row END -->
				</div>
			</section>
			<!-- =======================
			Near by END -->
	
		</div>
	</section>
	<!-- =======================
	Main Banner END -->

<!-- =======================
Tour grid START -->
<section class="pt-0">
	<div class="container">

		<!-- Filter and content START -->
		<div class="row g-4 align-items-center justify-content-between mb-4">
			<!-- Content -->
			<div class="col-12 col-xl-8">
				<h5 class="mb-0">Showing 1-7 of 32 result</h5>
			</div>

			<!-- Select option -->
			<div class="col-xl-2">
				<form class="form-control-bg-light">
					<select class="form-select js-choice">
						<option value="">Most Viewed</option>
						<option>Recently search</option>
						<option>Most popular</option>
						<option>Top rated</option>
					</select>
				</form>
			</div>
		</div>
		<!-- Filter and content END -->

		<div class="row g-4">

			<!-- Card item START -->
			<div class="col-md-6 col-xl-4" >
				<div class="card card-hover-shadow pb-0 h-100" style="background-color: #daf0da; border-radius: 0.938rem;">
					<!-- Overlay item -->
					<div class="position-relative">
						<!-- Image -->
						<img src="assets/images/farmstouch/example/010.jpg" class="card-img-top" alt="Card image" style="height: 17.5rem;">
						<!-- Overlay -->
						<div class="card-img-overlay d-flex flex-column p-4 z-index-1">
							<!-- Card overlay top -->
							<div>
								<span class="badge text-bg-dark"><h6 class="fw-light text-white m-0"><i class="fa-solid fa-star text-warning me-2"></i>4.5</h6></span>
							</div>
							<!-- Card overlay bottom -->
							<!-- <div class="w-100 mt-auto">
								<span class="badge text-bg-white fs-6">6 days / 5 nights</span>
							</div> -->
						</div>
					</div>
					<!-- Image -->

					<!-- Card body START -->
					<div class="card-body px-3">
						<!-- Title -->
						<h5 class="card-title mb-0"><a href="tour-detail.html" class="stretched-link">명도암수다뜰</a></h5>
						<!-- <span class="small"><i class="far fa-calendar-alt me-2"></i>April 12-17</span> -->

						<!-- List -->
						<ul class=" mt-3 mb-3">
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-location-dot text-success me-2"></i>지역 : 제주시
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-phone text-orange me-2"></i>전화번호 : 064-723-2722
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-cancel text-danger me-2"></i>쉬는 날 : 연중무휴
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-clock text-info me-2"></i> 영업시간 : 09:00~18:00
							</li>
						</ul>
					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Card item END -->
			<!-- Card item START -->
			<div class="col-md-6 col-xl-4" >
				<div class="card card-hover-shadow pb-0 h-100" style="background-color: #daf0da; border-radius: 0.938rem;">
					<!-- Overlay item -->
					<div class="position-relative">
						<!-- Image -->
						<img src="assets/images/farmstouch/example/010.jpg" class="card-img-top" alt="Card image" style="height: 17.5rem;">
						<!-- Overlay -->
						<div class="card-img-overlay d-flex flex-column p-4 z-index-1">
							<!-- Card overlay top -->
							<div>
								<span class="badge text-bg-dark"><h6 class="fw-light text-white m-0"><i class="fa-solid fa-star text-warning me-2"></i>4.5</h6></span>
							</div>
							<!-- Card overlay bottom -->
							<!-- <div class="w-100 mt-auto">
								<span class="badge text-bg-white fs-6">6 days / 5 nights</span>
							</div> -->
						</div>
					</div>
					<!-- Image -->

					<!-- Card body START -->
					<div class="card-body px-3">
						<!-- Title -->
						<h5 class="card-title mb-0"><a href="tour-detail.html" class="stretched-link">명도암수다뜰</a></h5>
						<!-- <span class="small"><i class="far fa-calendar-alt me-2"></i>April 12-17</span> -->

						<!-- List -->
						<ul class=" mt-3 mb-3">
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-location-dot text-success me-2"></i>지역 : 제주시
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-phone text-orange me-2"></i>전화번호 : 064-723-2722
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-cancel text-danger me-2"></i>쉬는 날 : 연중무휴
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-clock text-info me-2"></i> 영업시간 : 09:00~18:00
							</li>
						</ul>
					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Card item END -->
			<!-- Card item START -->
			<div class="col-md-6 col-xl-4" >
				<div class="card card-hover-shadow pb-0 h-100" style="background-color: #daf0da; border-radius: 0.938rem;">
					<!-- Overlay item -->
					<div class="position-relative">
						<!-- Image -->
						<img src="assets/images/farmstouch/example/010.jpg" class="card-img-top" alt="Card image" style="height: 17.5rem;">
						<!-- Overlay -->
						<div class="card-img-overlay d-flex flex-column p-4 z-index-1">
							<!-- Card overlay top -->
							<div>
								<span class="badge text-bg-dark"><h6 class="fw-light text-white m-0"><i class="fa-solid fa-star text-warning me-2"></i>4.5</h6></span>
							</div>
							<!-- Card overlay bottom -->
							<!-- <div class="w-100 mt-auto">
								<span class="badge text-bg-white fs-6">6 days / 5 nights</span>
							</div> -->
						</div>
					</div>
					<!-- Image -->

					<!-- Card body START -->
					<div class="card-body px-3">
						<!-- Title -->
						<h5 class="card-title mb-0"><a href="tour-detail.html" class="stretched-link">명도암수다뜰</a></h5>
						<!-- <span class="small"><i class="far fa-calendar-alt me-2"></i>April 12-17</span> -->

						<!-- List -->
						<ul class=" mt-3 mb-3">
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-location-dot text-success me-2"></i>지역 : 제주시
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-phone text-orange me-2"></i>전화번호 : 064-723-2722
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-cancel text-danger me-2"></i>쉬는 날 : 연중무휴
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-clock text-info me-2"></i> 영업시간 : 09:00~18:00
							</li>
						</ul>
					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Card item END -->
			<!-- Card item START -->
			<div class="col-md-6 col-xl-4" >
				<div class="card card-hover-shadow pb-0 h-100" style="background-color: #daf0da; border-radius: 0.938rem;">
					<!-- Overlay item -->
					<div class="position-relative">
						<!-- Image -->
						<img src="assets/images/farmstouch/example/010.jpg" class="card-img-top" alt="Card image" style="height: 17.5rem;">
						<!-- Overlay -->
						<div class="card-img-overlay d-flex flex-column p-4 z-index-1">
							<!-- Card overlay top -->
							<div>
								<span class="badge text-bg-dark"><h6 class="fw-light text-white m-0"><i class="fa-solid fa-star text-warning me-2"></i>4.5</h6></span>
							</div>
							<!-- Card overlay bottom -->
							<!-- <div class="w-100 mt-auto">
								<span class="badge text-bg-white fs-6">6 days / 5 nights</span>
							</div> -->
						</div>
					</div>
					<!-- Image -->

					<!-- Card body START -->
					<div class="card-body px-3">
						<!-- Title -->
						<h5 class="card-title mb-0"><a href="tour-detail.html" class="stretched-link">명도암수다뜰</a></h5>
						<!-- <span class="small"><i class="far fa-calendar-alt me-2"></i>April 12-17</span> -->

						<!-- List -->
						<ul class=" mt-3 mb-3">
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-location-dot text-success me-2"></i>지역 : 제주시
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-phone text-orange me-2"></i>전화번호 : 064-723-2722
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-cancel text-danger me-2"></i>쉬는 날 : 연중무휴
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-clock text-info me-2"></i> 영업시간 : 09:00~18:00
							</li>
						</ul>
					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Card item END -->
			<!-- Card item START -->
			<div class="col-md-6 col-xl-4" >
				<div class="card card-hover-shadow pb-0 h-100" style="background-color: #daf0da; border-radius: 0.938rem;">
					<!-- Overlay item -->
					<div class="position-relative">
						<!-- Image -->
						<img src="assets/images/farmstouch/example/010.jpg" class="card-img-top" alt="Card image" style="height: 17.5rem;">
						<!-- Overlay -->
						<div class="card-img-overlay d-flex flex-column p-4 z-index-1">
							<!-- Card overlay top -->
							<div>
								<span class="badge text-bg-dark"><h6 class="fw-light text-white m-0"><i class="fa-solid fa-star text-warning me-2"></i>4.5</h6></span>
							</div>
							<!-- Card overlay bottom -->
							<!-- <div class="w-100 mt-auto">
								<span class="badge text-bg-white fs-6">6 days / 5 nights</span>
							</div> -->
						</div>
					</div>
					<!-- Image -->

					<!-- Card body START -->
					<div class="card-body px-3">
						<!-- Title -->
						<h5 class="card-title mb-0"><a href="tour-detail.html" class="stretched-link">명도암수다뜰</a></h5>
						<!-- <span class="small"><i class="far fa-calendar-alt me-2"></i>April 12-17</span> -->

						<!-- List -->
						<ul class=" mt-3 mb-3">
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-location-dot text-success me-2"></i>지역 : 제주시
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-phone text-orange me-2"></i>전화번호 : 064-723-2722
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-cancel text-danger me-2"></i>쉬는 날 : 연중무휴
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-clock text-info me-2"></i> 영업시간 : 09:00~18:00
							</li>
						</ul>
					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Card item END -->
			<!-- Card item START -->
			<div class="col-md-6 col-xl-4" >
				<div class="card card-hover-shadow pb-0 h-100" style="background-color: #daf0da; border-radius: 0.938rem;">
					<!-- Overlay item -->
					<div class="position-relative">
						<!-- Image -->
						<img src="assets/images/farmstouch/example/010.jpg" class="card-img-top" alt="Card image" style="height: 17.5rem;">
						<!-- Overlay -->
						<div class="card-img-overlay d-flex flex-column p-4 z-index-1">
							<!-- Card overlay top -->
							<div>
								<span class="badge text-bg-dark"><h6 class="fw-light text-white m-0"><i class="fa-solid fa-star text-warning me-2"></i>4.5</h6></span>
							</div>
							<!-- Card overlay bottom -->
							<!-- <div class="w-100 mt-auto">
								<span class="badge text-bg-white fs-6">6 days / 5 nights</span>
							</div> -->
						</div>
					</div>
					<!-- Image -->

					<!-- Card body START -->
					<div class="card-body px-3">
						<!-- Title -->
						<h5 class="card-title mb-0"><a href="tour-detail.html" class="stretched-link">명도암수다뜰</a></h5>
						<!-- <span class="small"><i class="far fa-calendar-alt me-2"></i>April 12-17</span> -->

						<!-- List -->
						<ul class=" mt-3 mb-3">
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-location-dot text-success me-2"></i>지역 : 제주시
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-phone text-orange me-2"></i>전화번호 : 064-723-2722
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-cancel text-danger me-2"></i>쉬는 날 : 연중무휴
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-clock text-info me-2"></i> 영업시간 : 09:00~18:00
							</li>
						</ul>
					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Card item END -->
			<!-- Card item START -->
			<div class="col-md-6 col-xl-4" >
				<div class="card card-hover-shadow pb-0 h-100" style="background-color: #daf0da; border-radius: 0.938rem;">
					<!-- Overlay item -->
					<div class="position-relative">
						<!-- Image -->
						<img src="assets/images/farmstouch/example/010.jpg" class="card-img-top" alt="Card image" style="height: 17.5rem;">
						<!-- Overlay -->
						<div class="card-img-overlay d-flex flex-column p-4 z-index-1">
							<!-- Card overlay top -->
							<div>
								<span class="badge text-bg-dark"><h6 class="fw-light text-white m-0"><i class="fa-solid fa-star text-warning me-2"></i>4.5</h6></span>
							</div>
							<!-- Card overlay bottom -->
							<!-- <div class="w-100 mt-auto">
								<span class="badge text-bg-white fs-6">6 days / 5 nights</span>
							</div> -->
						</div>
					</div>
					<!-- Image -->

					<!-- Card body START -->
					<div class="card-body px-3">
						<!-- Title -->
						<h5 class="card-title mb-0"><a href="tour-detail.html" class="stretched-link">명도암수다뜰</a></h5>
						<!-- <span class="small"><i class="far fa-calendar-alt me-2"></i>April 12-17</span> -->

						<!-- List -->
						<ul class=" mt-3 mb-3">
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-location-dot text-success me-2"></i>지역 : 제주시
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-phone text-orange me-2"></i>전화번호 : 064-723-2722
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-cancel text-danger me-2"></i>쉬는 날 : 연중무휴
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-clock text-info me-2"></i> 영업시간 : 09:00~18:00
							</li>
						</ul>
					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Card item END -->
			<!-- Card item START -->
			<div class="col-md-6 col-xl-4" >
				<div class="card card-hover-shadow pb-0 h-100" style="background-color: #daf0da; border-radius: 0.938rem;">
					<!-- Overlay item -->
					<div class="position-relative">
						<!-- Image -->
						<img src="assets/images/farmstouch/example/010.jpg" class="card-img-top" alt="Card image" style="height: 17.5rem;">
						<!-- Overlay -->
						<div class="card-img-overlay d-flex flex-column p-4 z-index-1">
							<!-- Card overlay top -->
							<div>
								<span class="badge text-bg-dark"><h6 class="fw-light text-white m-0"><i class="fa-solid fa-star text-warning me-2"></i>4.5</h6></span>
							</div>
							<!-- Card overlay bottom -->
							<!-- <div class="w-100 mt-auto">
								<span class="badge text-bg-white fs-6">6 days / 5 nights</span>
							</div> -->
						</div>
					</div>
					<!-- Image -->

					<!-- Card body START -->
					<div class="card-body px-3">
						<!-- Title -->
						<h5 class="card-title mb-0"><a href="tour-detail.html" class="stretched-link">명도암수다뜰</a></h5>
						<!-- <span class="small"><i class="far fa-calendar-alt me-2"></i>April 12-17</span> -->

						<!-- List -->
						<ul class=" mt-3 mb-3">
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-location-dot text-success me-2"></i>지역 : 제주시
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-phone text-orange me-2"></i>전화번호 : 064-723-2722
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-cancel text-danger me-2"></i>쉬는 날 : 연중무휴
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-clock text-info me-2"></i> 영업시간 : 09:00~18:00
							</li>
						</ul>
					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Card item END -->
			<!-- Card item START -->
			<div class="col-md-6 col-xl-4" >
				<div class="card card-hover-shadow pb-0 h-100" style="background-color: #daf0da; border-radius: 0.938rem;">
					<!-- Overlay item -->
					<div class="position-relative">
						<!-- Image -->
						<img src="assets/images/farmstouch/example/010.jpg" class="card-img-top" alt="Card image" style="height: 17.5rem;">
						<!-- Overlay -->
						<div class="card-img-overlay d-flex flex-column p-4 z-index-1">
							<!-- Card overlay top -->
							<div>
								<span class="badge text-bg-dark"><h6 class="fw-light text-white m-0"><i class="fa-solid fa-star text-warning me-2"></i>4.5</h6></span>
							</div>
							<!-- Card overlay bottom -->
							<!-- <div class="w-100 mt-auto">
								<span class="badge text-bg-white fs-6">6 days / 5 nights</span>
							</div> -->
						</div>
					</div>
					<!-- Image -->

					<!-- Card body START -->
					<div class="card-body px-3">
						<!-- Title -->
						<h5 class="card-title mb-0"><a href="tour-detail.html" class="stretched-link">명도암수다뜰</a></h5>
						<!-- <span class="small"><i class="far fa-calendar-alt me-2"></i>April 12-17</span> -->

						<!-- List -->
						<ul class=" mt-3 mb-3">
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-location-dot text-success me-2"></i>지역 : 제주시
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-phone text-orange me-2"></i>전화번호 : 064-723-2722
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-cancel text-danger me-2"></i>쉬는 날 : 연중무휴
							</li>
							<li class="nav-item h6 fw-normal">
								<i class="fa-solid fa-clock text-info me-2"></i> 영업시간 : 09:00~18:00
							</li>
						</ul>
					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Card item END -->

			
			
			
			
			

			

			
			

		</div> <!-- Row END -->

		<!-- Pagination -->
		<div class="row">
			<div class="col-12">
				<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
					<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
						<li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fa-solid fa-angle-left"></i></a></li>
						<li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
						<li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
						<li class="page-item mb-0"><a class="page-link" href="#">..</a></li>
						<li class="page-item mb-0"><a class="page-link" href="#">6</a></li>
						<li class="page-item mb-0"><a class="page-link" href="#"><i class="fa-solid fa-angle-right"></i></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Tour grid END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================Footer START -->

	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>