<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<div id="nongsaroApiLoadingArea"></div>
	
<!-- =======================
Main Title START -->
<section class="py-0 pt-sm-5">
	<div class="container position-relative">
		<!-- Title and button START -->
		<div class="row mb-3">
			<div class="col-12">
				<!-- Meta -->
				<div class="d-lg-flex justify-content-lg-between mb-1">
					<!-- Title -->
					<div class="mb-2 mb-lg-0">
						<h1 class="fs-2">[[${prvateTherpy.cntntsSj}]]</h1>
						<!-- Location -->
						<p class="fw-bold mb-0"><i class="bi bi-puzzle-fill me-2"></i>[[${prvateTherpy.bneNm}]]</p>
					</div>

					<!-- Buttons -->
					<ul class="list-inline text-end">
						<!-- Heart icon -->
						<li class="list-inline-item">
							<a href="#" class="btn btn-sm btn-light px-2"><i class="fa-solid fa-fw fa-heart"></i></a>
						</li>
						<!-- Share icon -->
						<li class="list-inline-item dropdown">
							<!-- Share button -->
							<a href="#" class="btn btn-sm btn-light px-2" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa-solid fa-fw fa-share-alt"></i>
							</a>
							<!-- dropdown button -->
							<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
								<li><a id="btnTwitter" class="dropdown-item link-icon twitter" href="javascript:shareTwitter();"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
								<!-- <li><a id="btnFacebook" class="dropdown-item link-icon facebook" href="javascript:shareFacebook();"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li> -->
								<li><a id="btnKakao" class="dropdown-item link-icon kakao" href="javascript:shareKakao();">
									<img src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/null/external-free-instant-messaging-app-for-cross-platform-devices-logo-bold-tal-revivo.png" style="height:15px"/> KaKao</a></li>
								<li><a class="dropdown-item" href="#" onclick="clip(); return false;"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Title and button END -->

		<!-- Alert box START -->
		<div class="alert alert-danger alert-dismissible d-flex justify-content-between align-items-center fade show mb-4 rounded-3 pe-2" role="alert">
			<div class="d-flex">
				<span class="alert-heading h5 mb-0 me-2"><i class="bi bi-exclamation-octagon-fill"></i></span>
				<span><strong class="alert-heading me-2">주의할 점:</strong>반드시 전문가와 상담하신 후에 채집 또는 복용하셔야 합니다.</span>
			</div>
				<button type="button" class="btn btn-link pb-0 text-end" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi-x-lg text-dark"></i></button>
		</div>
		<!-- Alert box END -->
	</div>
</section>
<!-- =======================
Main Title END -->


<!-- =======================
Main Banner START -->
<section class="pt-4">
	<div class="container">

		<!-- Slider START -->
		<div class="tiny-slider arrow-round arrow-blur">
			<div class="tiny-slider-inner" data-autoplay="false" data-arrow="true" data-edge="0" data-dots="false" data-items="2" data-items-sm="1">
		
				<!-- 1 -->
				<th:block th:if="${not #strings.isEmpty(prvateTherpy.imgUrl1)}">
					<div>
						<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="|${prvateTherpy.imgUrl1}|" target="_blank">
							<div class="card card-element-hover card-overlay-hover overflow-hidden">
								<!-- Image -->
								<img th:src="${prvateTherpy.imgUrl1}" class="rounded-3" alt="" style="height:23.75rem">
								<!-- Full screen button -->
								<div class="hover-element w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>
					</div>
				</th:block>
				
				<!-- 2 -->
				<th:block th:if="${not #strings.isEmpty(prvateTherpy.imgUrl2)}">
					<div>
						<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="|${prvateTherpy.imgUrl2}|" target="_blank">
							<div class="card card-element-hover card-overlay-hover overflow-hidden">
								<!-- Image -->
								<img th:src="${prvateTherpy.imgUrl2}" class="rounded-3" alt="" style="height:23.75rem">
								<!-- Full screen button -->
								<div class="hover-element w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>
					</div>
				</th:block>
				
				<!-- 3 -->
				<th:block th:if="${not #strings.isEmpty(prvateTherpy.imgUrl3)}">
					<div>
						<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="|${prvateTherpy.imgUrl3}|" target="_blank">
							<div class="card card-element-hover card-overlay-hover overflow-hidden">
								<!-- Image -->
								<img th:src="${prvateTherpy.imgUrl3}" class="rounded-3" alt="" style="height:23.75rem">
								<!-- Full screen button -->
								<div class="hover-element w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>
					</div>
				</th:block>
				
				<!-- 4 -->
				<th:block th:if="${not #strings.isEmpty(prvateTherpy.imgUrl4)}">
					<div>
						<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="|${prvateTherpy.imgUrl4}|" target="_blank">
							<div class="card card-element-hover card-overlay-hover overflow-hidden">
								<!-- Image -->
								<img th:src="${prvateTherpy.imgUrl4}" class="rounded-3" alt="" style="height:23.75rem">
								<!-- Full screen button -->
								<div class="hover-element w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>
					</div>
				</th:block>
			</div>
		</div>
		<!-- Slider END -->
	</div>
</section>
<!-- =======================
Main Banner END -->



<!-- =======================
About hotel START -->
<section class="pt-0">
	<div class="container" data-sticky-container>

		<div class="row g-4 g-xl-5">
			<!-- Content START -->
			<div class="col-xl-7 order-1">
				<div class="vstack gap-5">

					<!-- About hotel START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h3 class="mb-0">약초에 대해 알아보자</h3>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<!-- Highlights Icons -->
							<div class="hstack gap-3 mb-3">
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="수분">
									<i class="fa-solid fa-droplet"></i>
								</div>
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="발아">
									<i class="fa-solid fa-seedling"></i>
								</div>
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="나무">
									<i class="fa-solid fa-tree"></i>
								</div>
								<div class="icon-lg bg-light h5 rounded-2" data-bs-toggle="tooltip" data-bs-placement="top" title="민간약초">
									<i class="fa-brands fa-pagelines"></i>
								</div>
							</div>

							<h5 class="fw-light mb-2">이용부위 및 좋은 사이트</h5>
							<ul class="list-group list-group-borderless mb-sm-5">
								<li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>이용 부위 : [[${prvateTherpy.useeRegn}]]</li>
								<a href="https://www.gnares.go.kr:8444/Home/Contents.mbz?action=MAPP_0000000173"  target="_blank"><li class="list-group-item h6 fw-light d-flex mb-0"><i class="bi bi-patch-check-fill text-success me-2"></i>추가 정보 : 경상남도농업기술원 | 약초</li></a>
							</ul>

							<h5 class="fw-light mb-3">형태</h5>
							<p class="mb-3">
								<!-- [[${prvateTherpy.stle}]] -->
								<!-- [[${prvateTherpy.stle.replace('br /', 'br')}]] -->
								<p th:utext="|${prvateTherpy.stle.replace('</ br>', '<br>')}|"></p>
								<!-- <span th:text="${#strings.replace(${prvateTherpy.stle}, '</ br>', '<br>')}"></span> -->
							</p>
							
							<div class="collapse" id="collapseContent">
								<p class="my-3">채취 방법이 달랐다면 약성에 영향을 미칠 수 있다. 그러므로 채집의 계절과 방법은 대단히 중요하다. 약초를 채취할 때 자생하는 모양, 꽃이 피는 시기, 꽃이나 잎의 형태, 줄기, 뿌리, 열매, 씨앗의 모양, 털의 유무, 향기와 맛에 대해서도 알아두는 것이 중요하다.  </p>
								<!-- <p class="mb-0">Behavioral psychology and influence triggers which are crucial for becoming a well rounded Digital Marketer. We understand that theory is important to build a solid foundation, we understand that theory alone isn't going to get the job done so that's why this tickets is packed with practical hands-on examples that you can follow step by step.</p> -->
							</div>
							<a class="p-0 mb-4 mt-2 btn-more d-flex align-items-center collapsed" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
								See <span class="see-more ms-1">more</span><span class="see-less ms-1">less</span><i class="fa-solid fa-angle-down ms-2"></i>
							</a>
								

							<h5 class="fw-light mb-3">민간요법</h5>
							<!-- <p class="mb-3">Demesne far-hearted suppose venture excited see had has. Dependent on so extremely delivered by. Yet no jokes worse her why. <b>Bed one supposing breakfast day fulfilled off depending questions.</b></p> -->
							<p class="mb-0">
								<p th:utext="|${prvateTherpy.prvateTherpy.replace('</ br>', '<br>')}|"></p>
							</p>
							
							<div class="collapse" id="collapseContent">
								<p class="my-3">몸 안이 차고 팔다리에 싸늘한 기운을 느끼는 사람이 많이 먹으면 더욱 몸이 차가워질 수 있기 때문에 주의. 또, 국수류와 먹으면 가슴이 답답해질 수 있으며, 결석이 있는 사람은 많이 먹으면 안 된다.</p>
								<!-- <p class="mb-0">Behavioral psychology and influence triggers which are crucial for becoming a well rounded Digital Marketer. We understand that theory is important to build a solid foundation, we understand that theory alone isn't going to get the job done so that's why this tickets is packed with practical hands-on examples that you can follow step by step.</p> -->
							</div>
							<a class="p-0 mb-4 mt-2 btn-more d-flex align-items-center collapsed" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
								See <span class="see-more ms-1">more</span><span class="see-less ms-1">less</span><i class="fa-solid fa-angle-down ms-2"></i>
							</a>
							
						</div>
						<!-- Card body END -->
					</div>
					<!-- About hotel START -->


<!-- ================================================= 다른 약초 알아보기 ================================================= -->
					<th:block th:each="otherList : ${otherList}" >
					<!-- Room START -->
					<div class="card bg-transparent" id="room-options">
						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<div class="d-sm-flex justify-content-sm-between align-items-center">
								<h3 class="mb-2 mb-sm-0">다른 약초 알아보기</h3>
	
								<div class="col-sm-4">
									<!-- Button -->
									<div class="d-grid">
										<a th:href="|/life/herbList|" class="btn btn-lg btn-success-soft mb-0">검색페이지로 이동</a>
									</div>
								</div>
							</div>
						</div>

						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<div class="vstack gap-4">

								<!-- Room item START -->
								<div class="card shadow p-3">
									<div class="row g-4">
										<!-- Card img -->
										<div class="col-md-5 position-relative">

											<!-- Overlay item -->
											<div class="position-absolute top-0 start-0 z-index-1 mt-3 ms-4">
												<div class="badge text-bg-danger">민간약초</div>
											</div>

											<!-- Slider START -->
											<div class="tiny-slider arrow-round arrow-xs arrow-dark overflow-hidden rounded-2">
												<div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-dots="false" data-items="1">
													<!-- Image item -->
													<div> <img th:src="${otherList.imgUrl1}" class="rounded-2" alt="Card image" style="height:175px"></div>
						
													<!-- Image item -->
													<div> <img th:src="${otherList.imgUrl2}" class="rounded-2" alt="Card image"  style="height:175px"> </div>
						
												</div>
											</div>
											<!-- Slider END -->

											</div>

										<!-- Card body -->
										<div class="col-md-7">
											<div class="card-body d-flex flex-column h-100 p-0">
					
												<!-- Title -->
												<h5 class="card-title"><a th:href="|/life/herbDetails?cntntsNo=${otherList.cntntsNo}|">[[${otherList.cntntsSj}]]</a></h5>

												<!-- Amenities -->
												<ul class="nav nav-divider mb-2">
													<li class="nav-item">[[${otherList.bneNm}]]</li>
												</ul>

												<p class="mb-0"><b>생약명 :</b> [[${otherList.hbdcNm}]]</p>
												<p class="mb-0"><b>이용부위 :</b> [[${otherList.useeRegn}]]</p>
												<!-- Button -->
												<p class="mb-0">
													<a href="#" class="btn btn-link text-success p-0 mb-0 mt-1" data-bs-toggle="modal" data-bs-target="#room"><i class="bi bi-eye-fill me-1"></i>상세정보 팝업</a>
												</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Room item END -->

							</div>
						</div>
						<!-- Card body END -->

					</div></th:block>
					<!-- Room END -->

				</div>	
			</div>
			<!-- Content END -->

			<!-- Right side content START -->
			<aside class="col-xl-5 order-xl-2">
				<div data-sticky data-margin-top="100" data-sticky-for="1199">
					<!-- Book now START -->
					<div class="card card-body border">
						
						<!-- Title -->
						<div class="d-sm-flex justify-content-sm-between align-items-center mb-3">
							<div>
								<span>민간약초</span>
								<h4 class="card-title mb-0">[[${prvateTherpy.cntntsSj}]]</h4>
							</div>
							<div style="text-align: right;">
								<h6 class="fw-normal mb-0">생약명</h6>
								<small>[[${prvateTherpy.hbdcNm}]]</small>
							</div>
						</div>		

						<!-- Rating -->
						<ul class="list-inline mb-2">
							<li class="list-inline-item me-1 h6 fw-light mb-0">학명 <i class="bi bi-arrow-right me-2"></i><small>[[${prvateTherpy.bneNm}]]</small></li>
						</ul>

						<p class="h6 fw-light mb-4">이용부위 <i class="bi bi-arrow-right me-2"></i>[[${prvateTherpy.useeRegn}]]</p>

						<!-- Button -->
						<div class="d-grid">
							<a href="#room-options" class="btn btn-lg btn-success-soft mb-0">다른 약초보러 하단으로 이동</a>
						</div>
					</div>
					<!-- Book now END -->

					<!-- Best deal START -->
					<div class="mt-4 d-none d-xl-block">
						<h4>오늘의 꽃 보러갈래?</h4>

						<div class="card shadow rounded-3 overflow-hidden">
							<div class="row g-0 align-items-center">
								<!-- Image -->
								<div class="col-sm-6 col-md-12 col-lg-6">
									<img src="../assets/images/farmstouch/example/1004.jpg" class="card-img rounded-0" alt="" style="height: 11.25rem;">
								</div>

								<!-- Title and content -->
								<div class="col-sm-6 col-md-12 col-lg-6">
									<div class="card-body p-3">
										<h6 class="card-title"><a href="#" class="stretched-link">오늘의 꽃</a></h6>
										<p class="mb-0">오늘 나의 기분을 점쳐줄 꽃 구경하러 갈 사람?</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Best deal END -->
				</div>	
			</aside>
			<!-- Right side content END -->
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
About hotel END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
<!-- 다른 약초 팝업창 START -->
<th:block th:each="otherList : ${otherList}" >
	<div class="modal fade" id="room" tabindex="-1" aria-labelledby="roomDetailLabel" aria-hidden="true">
	
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content p-0">
				
				<!-- Title -->
				<div class="modal-header p-3">
					<h5 class="modal-title mb-0" style="margin-right:7.5rem" id="roomDetailLabel">상세페이지 팝업창</h5>
					<a th:href="|/life/herbDetails?cntntsNo=${otherList.cntntsNo}|" class="btn btn-lg btn-success-soft mx-0 my-0 px-3 py-2">상세페이지 이동</a>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
	
				<!-- Modal body -->
				<div class="modal-body p-0">
	
					<!-- Card START -->
					<div class="card bg-transparent p-3">
						<!-- Slider START -->
						<div class="tiny-slider arrow-round arrow-dark overflow-hidden rounded-2">
							<div class="tiny-slider-inner rounded-2 overflow-hidden" data-autoplay="true" data-arrow="true" data-dots="false" data-items="1">
								<!-- Image item -->
								<div> <img th:src="${otherList.imgUrl1}" class="rounded-2" alt="Card image"></div>
	
								<!-- Image item -->
								<div> <img th:src="${otherList.imgUrl2}" class="rounded-2" alt="Card image"> </div>
							</div>
						</div>
						<!-- Slider END -->
	
						<!-- Card header -->
						<div class="card-header bg-transparent pb-0">
							<h3 class="card-title mb-0">[[${otherList.cntntsSj}]]</h3>
						</div>
	
						<!-- Card body START -->
						<div class="card-body">
							<!-- Content -->
							<p th:utext="|${otherList.stle}|"></p>
							
							<div class="row">
								<h5 class="mb-0">명칭 및 이용부위</h5>
	
								<!-- List -->
								<div class="col-md-12">
									<!-- List -->
									<ul class="list-group list-group-borderless mt-2 mb-0">
										<li class="list-group-item d-flex mb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i><span class="h6 fw-light mb-0">[[${otherList.bneNm}]]</span>
										</li>
										<li class="list-group-item d-flex mb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i><span class="h6 fw-light mb-0">[[${otherList.hbdcNm}]]</span>
										</li>
										<li class="list-group-item d-flex mb-0">
											<i class="fa-solid fa-check-circle text-success me-2"></i><span class="h6 fw-light mb-0">[[${otherList.useeRegn}]]</span>
										</li>
									</ul>
								</div>
	
								
							</div> <!-- Row END -->
						</div>
						<!-- Card body END -->
					</div>
					<!-- Card END -->
				</div>
			</div>
		</div>
	</div>
	<!-- 다른 약초 팝업창 END -->
</th:block>



<!-- =======================Footer START -->

	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>

<!-- 카카오 공유하기 -->
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

<script type="text/javascript">
var url = '';

function clip(){

	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href;
	textarea.value = url;
	textarea.select();
	document.execCommand("copy");
	document.body.removeChild(textarea);
	alert("URL이 복사되었습니다.")
}

// 트위터
function shareTwitter() {

    var sendText = "farmstouch"; // 전달할 텍스트
    var sendUrl = url; // 전달할 URL
    window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + sendUrl);
}

// 페이스북
/* function shareFacebook() {
	var url = '';
	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href;
	textarea.value = url;
	textarea.select();
	document.execCommand("copy");
	document.body.removeChild(textarea);
    var sendUrl = "url"; // 전달할 URL
    window.open("http://www.facebook.com/sharer/sharer.php?u=" + sendUrl);
} */

// 카카오
function shareKakao() {
      
      // 사용할 앱의 JavaScript 키 설정
      Kakao.init('9b8a2ab69f37af22f6784fef92e74104');

      // 카카오링크 버튼 생성
      Kakao.Link.createDefaultButton({
            container: '#btnKakao', // 카카오공유버튼ID
            objectType: 'feed',
            content: {
                  title: "Farm's Touch", // 보여질 제목
                  description: "반갑습니다. 초보 농부를 위한 온라인 지침서 팜스터치 입니다.", // 보여질 설명
                  imageUrl: "https://www.urbanbrush.net/web/wp-content/uploads/edd/2018/02/web-20180213120309801324.png", // 콘텐츠 URL
                  link: {
                        mobileWebUrl: url,
                        webUrl: url
                  }
            }
      });
}

</script>