<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<!-- 제목의 글자수를 제한하고 ... 처리하는 css -->
<style>
	.textcutting{
	  width        : 20.5rem;     
	  text-overflow: ellipsis;  /* 위에 설정한 넓이보다 길면 말줄임표처럼 표시 */
	  white-space  : nowrap;    /* 줄바꿈을 하지 않음 */
	  overflow     : hidden;    /* 내용이 길면 감춤 */
	  display      : block;     /* ie6이상 현재요소를 블럭처리 */
	  margin-left : -0.625rem
}
</style>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->	

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main banner START -->
<section class="pt-0">
	<!-- Background and title -->
	<div class="container-fluid" th:style="|background-image:url(@{/assets/images/farmstouch/example/rural/rural9.webp}); background-position: center left; background-size: cover;|">
		<div class="row">
			<!-- Title -->
			<div class="col-md-6 mx-auto text-center pt-7 pb-9">
				<h1><a class="text-white" style="text-shadow:0.063rem 0.063rem 0.188rem #000;" th:href="|/life/ruralEducationCenterList|">농촌교육농장</a></h1>
				<p class="lead text-white mb-0" style="text-shadow:0.063rem 0.063rem 0.188rem #000;">Rural Education Farm</p>
			</div>
		</div> <!-- Row END -->
	</div>

	<!-- Search START -->
	<div class="container mt-n8">
		<div class="row">
			<!-- Tabs START -->
			<div class="col-11 col-lg-8 col-xl-6 mx-auto">
				<ul class="nav nav-tabs nav-bottom-line nav-justified nav-responsive bg-mode rounded-top z-index-9 position-relative pt-2 pb-0 px-4">
					<li class="nav-item"> 
						<a class="nav-link mb-0 active" data-bs-toggle="tab" href="#tab-1-1"><i class="fa-solid fa-square-poll-horizontal fa-fw me-2"></i>Name</a> 
					</li>
					<li class="nav-item">
						<a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-1-2"><i class="fa-solid fa-hashtag fa-fw me-2"></i>Theme</a> 
					</li>
					<li class="nav-item"> 
						<a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-1-3"><i class="fa-solid fa-globe-asia fa-fw me-2"></i>Location</a> 
					</li>
				</ul>
			</div>
			<!-- Tabs END -->

			<!-- Tab content START -->
			<div class="col-12">
				<div class="tab-content" id="nav-tabContent">
					
					<!-- Tab content item START -->
					<div class="tab-pane fade show active" id="tab-1-1">
						<form th:action="@{/life/ruralEducationCenterList}" method="get" class="card shadow p-0">
							<!-- Card header -->
							<div class="card-header p-4">
								<h5 class="mb-0"><i class="fa-solid fa-square-poll-horizontal fa-fw me-2"></i>제목명 검색</h5>
							</div>

							<!-- Card body -->
							<div class="card-body p-4 pt-0">
								<div class="row g-4">
									<!-- Location -->
									<div class="col-12">
										<div class="form-icon-input form-size-lg form-fs-lg">
											<input type="text" id="searchValue" name="searchValue" th:value="${param.searchValue}" class="form-control" placeholder="검색어를 입력하세요...">
											<span class="form-icon"><i class="bi bi-search fs-5"></i></span>
										</div>
									</div>
								</div> <!-- Row END -->

								<!-- Button -->
								<div class="text-center pt-0">
									<button class="btn btn-lg btn-success2 mb-n7" type="submit" th:name="searchType" value="cntntsSj">제목명 검색 <i class="bi bi-arrow-right ps-3"></i></button>
								</div>
							</div>
						</form>
					</div>
					<!-- Tab content item END -->


					<!-- Tab content item START -->
					<div class="tab-pane fade" id="tab-1-2">
						<form th:action="@{/life/ruralEducationCenterList}" method="get" class="card shadow p-0">
							<!-- Card header -->
							<div class="card-header p-4">
								<h5 class="mb-0"><i class="fa-solid fa-hashtag fa-fw me-2"></i>주제명 검색</h5>
							</div>

							<!-- Card body -->
							<div class="card-body p-4 pt-0">
								<div class="row g-4">
									<!-- Location -->
									<div class="col-12">
										<div class="form-icon-input form-size-lg form-fs-lg">
											<input type="text" id="searchValue" name="searchValue" th:value="${param.searchValue}" class="form-control" placeholder="검색어를 입력하세요...">
											<span class="form-icon"><i class="bi bi-search fs-5"></i></span>
										</div>
									</div>
								</div> <!-- Row END -->

								<!-- Button -->
								<div class="text-center pt-0">
									<button class="btn btn-lg btn-success2 mb-n7" type="submit" th:name="searchType" value="thema">주제명 검색 <i class="bi bi-arrow-right ps-3"></i></button>
								</div>
							</div>
						</form>
					</div>
					<!-- Tab content item END -->

					

					<!-- Tab content item START -->
					<div class="tab-pane fade" id="tab-1-3">
						<form th:action="@{/life/ruralEducationCenterList}" method="get" class="card shadow p-0">
							<!-- Card header -->
							<div class="card-header p-4">
								<h5 class="mb-0"><i class="fa-solid fa-globe-asia fa-fw me-2"></i>지역명 검색</h5>
							</div>

							<!-- Card body -->
							<div class="card-body p-4 pt-0">
								<div class="row g-4">
									<!-- Location -->
									<div class="col-12">
										<div class="form-icon-input form-size-lg form-fs-lg">
											
											<span class="form-icon" style="margin-top: -17px;"><i class="bi bi-search fs-5"></i></span>
											<input type="text" id="searchValue" name="searchValue2" th:value="${param.searchValue}" class="form-control" placeholder="검색어를 입력하세요...">
											
											<!-- Checkbox -->
											<div style="margin-top: 10px; text-align: center;">
												<input class="form-check-input" type="checkbox" name="searchValue" value="경기">
												<label class="form-check-label" for="location1" style="margin-right: 12px;"> 경기</label>

												<input class="form-check-input" type="checkbox" name="searchValue" value="강원">
												<label class="form-check-label" for="location2" style="margin-right: 12px;"> 강원</label>
												
												<input class="form-check-input" type="checkbox" name="searchValue" value="충북">
												<label class="form-check-label" for="location3" style="margin-right: 12px;"> 충북</label>
												
												<input class="form-check-input" type="checkbox" name="searchValue" value="충남">
												<label class="form-check-label" for="location4" style="margin-right: 12px;"> 충남</label>
												
												<input class="form-check-input" type="checkbox" name="searchValue" value="전북">
												<label class="form-check-label" for="location5" style="margin-right: 12px;"> 전북</label>
												
												<input class="form-check-input" type="checkbox" name="searchValue" value="전남">
												<label class="form-check-label" for="location6" style="margin-right: 12px;"> 전남</label>
												
												<input class="form-check-input" type="checkbox" name="searchValue" value="경북">
												<label class="form-check-label" for="location7" style="margin-right: 12px;"> 경북</label>
												
												<input class="form-check-input" type="checkbox" name="searchValue" value="경남">
												<label class="form-check-label" for="location8" style="margin-right: 12px;"> 경남</label>
												
												<input class="form-check-input" type="checkbox" name="searchValue" value="제주">
												<label class="form-check-label" for="location9" style="margin-right: 12px;"> 제주</label>
												
												<input class="form-check-input" type="checkbox" name="searchValue" value="대전">
												<label class="form-check-label" for="location10" style="margin-right: 12px;"> 대전</label>
												
												<input class="form-check-input" type="checkbox" name="searchValue" value="부산">
												<label class="form-check-label" for="location11" style="margin-right: 12px;"> 부산</label>
												
												<input class="form-check-input" type="checkbox" name="searchValue" value="인천">
												<label class="form-check-label" for="location12" style="margin-right: 12px;"> 인천</label>
												
												<input class="form-check-input" type="checkbox" name="searchValue" value="세종">
												<label class="form-check-label" for="location13" style="margin-right: 12px;"> 세종</label>
												
												<input class="form-check-input" type="checkbox" name="searchValue" value="대구">
												<label class="form-check-label" for="location14" style="margin-right: 12px;"> 대구</label>
												
												<input class="form-check-input" type="checkbox" name="searchValue" value="서울">
												<label class="form-check-label" for="location15" style="margin-right: 12px;"> 서울</label>
											</div>
											
										</div>
									</div>
								</div> <!-- Row END -->

								<!-- Button -->
								<div class="text-center pt-0">
									<button class="btn btn-lg btn-success2 mb-n7" type="submit" th:name="searchType" value="locplc">지역명 검색 <i class="bi bi-arrow-right ps-3"></i></button>
								</div>
							</div>
						</form>
					</div>
					<!-- Tab content item END -->

					

				</div> 
			</div>
			<!-- Tab content END -->
		</div>
	</div>
	<!-- Search END -->
</section>
<!-- =======================
Main banner START -->

<!-- =======================
Main banner START -->
<section class="pt-0">
	<div class="container">
		<!-- Hero banner START -->
		<div class="row">
			<div class="col-12">
				<!-- Card START -->
				<div class="card card-body bg-primary justify-content-center text-center px-4 px-sm-5 pt-6 pt-md-8 pb-8" th:style="|background-image: url(@{/assets/images/farmstouch/example/bann.PNG}); background-position: center center; background-repeat: no-repeat; background-size: cover;|">
				</div>
				<!-- Card END -->

			</div>
		</div>
		<!-- Hero banner END -->
	</div>
</section>
<!-- =======================
Main banner END -->

<!-- =======================
Tour grid START -->
<section class="pt-0">
	<div class="container">

		<!-- Filter and content START -->
		<div class="row g-4 align-items-center justify-content-between mb-4">
			<!-- Content -->
			<div class="col-12 col-xl-8">
				<h5 class="mb-0">Showing [[${fmlgEdcFarmmDtlCount}]] of 414 results</h5>
			</div>

		</div>
		<!-- Filter and content END -->

		<div class="row g-4">
			<!-- Card item START -->
			<div class="col-md-6 col-xl-4" th:each="fmlgEdcFarmm : ${list}">
				<div class="card card-hover-shadow pb-0 h-100" style="background-color: #daf0da; border-radius: 0.938rem;">
					<!-- Overlay item -->
					<div class="position-relative">
						<!-- Image -->
						<img th:src="${fmlgEdcFarmm.imgUrl1}" class="card-img-top" alt="Card image" style="height: 17.5rem;">
						<!-- Overlay -->
						<div class="card-img-overlay d-flex flex-column p-4 z-index-1">
						</div>
					</div>
					<!-- Image -->

					<!-- Card body START -->
					<div class="card-body px-3">
						<!-- Title -->
						<h5 class="card-title mb-0"><a th:href="|/life/ruralEducationCenterDetails?cntntsNo=${fmlgEdcFarmm.cntntsNo}|" class="stretched-link">[[${fmlgEdcFarmm.cntntsSj}]]</a></h5>

						<!-- List -->
						<ul class=" mt-3 mb-3">
							<li class="nav-item h6 fw-normal textcutting">
								<i class="fa-solid fa-location-dot text-success me-2"></i> 지역 : [[${fmlgEdcFarmm.locplc}]]
							</li>
							<li class="nav-item h6 fw-normal textcutting">
								<i class="fa-solid fa-phone text-orange me-2"></i>연락처 : [[${fmlgEdcFarmm.telno}]]
							</li>
							<li class="nav-item h6 fw-normal textcutting">
								<i class="fa-solid fa-hashtag text-danger me-2"></i> 주제 : [[${fmlgEdcFarmm.thema}]]
							</li>
							<li class="nav-item h6 fw-normal textcutting">
								<i class="fa-solid fa-globe-asia text-info me-2"></i>상세주소 : [[${fmlgEdcFarmm.locplc}]]
							</li>
						</ul>
					</div>
					<!-- Card body END -->
				</div>
			</div>
			<!-- Card item END -->
			
			
		</div> <!-- Row END -->

		<!-- 페이지 부 -->
		<th:block th:if="${fmlgEdcFarmmDtlCount > 0}">
		<!-- Pagination -->
		<div class="row">
			<div class="col-12">
				<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
					<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
						<li class="page-item mb-0"><a class="page-link" th:onclick="movePage(1);"><i class="fa-solid fa-angle-left"></i></a></li>
						<li class="page-item mb-0"><a class="page-link" th:onclick="movePage([[${pageInfo.prevPage}]]);"><i class="fa-solid fa-angle-left"></i></a></li>
						<th:block th:each= "num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
							<th:block th:if="${status.current == pageInfo.currentPage}">
								<li class="page-item mb-0 active"><a class="page-link" disabled>[[${status.current}]]<span class="visually-hidden">(current)</span></a></li>
							</th:block>
							<th:block th:if="${status.current != pageInfo.currentPage}">
								<li class="page-item mb-0"><a class="page-link" th:onclick="movePage([[${status.current}]])">[[${status.current}]]</a></li>
							</th:block>
						</th:block>
						
						<li class="page-item mb-0"><a class="page-link" th:onclick="movePage([[${pageInfo.nextPage}]])"><i class="fa-solid fa-angle-right"></i></a></li>
						<li class="page-item mb-0"><a class="page-link" th:onclick="movePage([[${pageInfo.maxPage}]])"><i class="fa-solid fa-angle-right"></i></a></li>
					</ul>
				</nav>
			</div>
		</div>
		</th:block>
		
		
	</div>
</section>
<!-- =======================
Tour grid END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- footer 시작 -->
<footer th:replace="~{common/layout2 :: #footer}"></footer>

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>

<!-- Vendors -->
<script th:src="@{/assets/vendor/choices/js/choices.min.js}"></script>
<script th:src="@{/assets/vendor/flatpickr/js/flatpickr.min.js}"></script>

<!-- ThemeFunctions -->
<script th:src="@{/assets/js/functions.js}"></script>

<script type="text/javascript">
	var url_href = window.location.href;
	var url = new URL(url_href); // URL 객체 선언

	function movePage(page){
		url.searchParams.set("page", page);
	
	window.location.search = url.searchParams;
};

</script>

</body>
</html>
