<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->	

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
						
<!-- =======================
Main Banner START -->
<section class="pt-4">
	
	<div class="container position-relative">
		<h4 class="card-title mb-2"  style="text-align: center;"> 농촌교육농장 </h4> <hr>
		<!-- Title and button START -->
		<div class="row">
			<div class="col-12">
				<!-- Meta -->
				<div class="d-flex justify-content-between align-items-lg-center" style="margin-bottom: -1.875rem; margin-top: 3.125rem; "> 
					<!-- Title -->
					<ul class="nav nav-divider align-items-center mb-0">
						<li class="nav-item h4" style="color: black;">수피아 팜스쿨</li> 
					</ul>
					
					<!-- Buttons -->
					<div class="ms-3">
						<!-- Share button -->
						<a href="#" class="btn btn-sm btn-light px-2 mb-0" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="fa-solid fa-fw fa-share-alt"></i>
						</a>
						<!-- dropdown button -->
						<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
							<li><a class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
							<li><a class="dropdown-item" href="#"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li>
							<li><a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
							<li><a class="dropdown-item" href="#"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- Title and button END -->
	</div>
</section>
<!-- =======================
Main Banner END -->

<!-- =======================
Main Content START -->
<section class="pt-0">
	<div class="container" data-sticky-container>
		<div class="row g-4">

			<!-- Main content START -->
			<div class="col-xl-8">
				<div class="vstack gap-5">
					<!-- Trip Details START -->
					<div class="card border">
						
						<!-- Card body START -->
						<div class="card-body" >
							<div class="table-responsive" >
								<table class="table table-striped">
								  <thead>
								    <tr>
									<th><i class="fa-solid fa-star text-warning"></i></th>
									<th>테마</th>
									<td>숲에서 유산양과 함께</td>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
									<th scope="row"><i class="fa-solid fa-star text-warning"></i></th>
									<th>소재지</th>
									<td>경기도 화성시 남양읍 현대기아로487번길 35-57</td>
								    </tr>
								    <tr>
									<th scope="row"><i class="fa-solid fa-star text-warning"></i></th>
									<th>지정년도</th>
									<td>2020</td>
								    </tr>
								    <tr>
									<th scope="row"><i class="fa-solid fa-star text-warning"></i></th>
									<th>품질인증 년도</th>
									<td>2021-2023, 2018-2020</td>
								    </tr>
								    <tr>
									<th scope="row"><i class="fa-solid fa-star text-warning"></i></th>
									<th>전화번호</th>
									<td>010-6537-0065</td>
								    </tr>
							
								  </tbody>
								</table>
							    </div>
								
						</div>
						<!-- Card body END -->
					</div>
					<!-- Trip Details END -->


					<!-- Trip Details START -->
					<div class="card border">
						
						<!-- Card body START -->
						<div class="card-body">
							<h5 class="mb-0 mt-0">위치정보 지도로 알아보기</h5> <hr>
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3178.0443004548147!2d126.84086229999998!3d37.1991772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b133356b66d99%3A0x820e8e5b250856e5!2z6rK96riw64-EIO2ZlOyEseyLnCDtmITrjIDquLDslYTroZw0ODfrsojquLggMzUtNTc!5e0!3m2!1sko!2skr!4v1674117025511!5m2!1sko!2skr" width="725" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

								
						</div>
						<!-- Card body END -->
					</div>
					<!-- Trip Details END -->

					<!-- Driver and cab detail START -->
					<div class="card bg-transparent">

						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h4 class="mb-0">체험프로그램 상세정보 및 관련 이미지</h4>
						</div>

						<!-- Card body -->
						<div class="card-body pt-4 p-0">
							<!-- List -->
							<ul>
								<li class="mb-2">주요프로그램 : 씨앗 탐험대(대상: 초등학교 4학년, 시기: 3월~12월)
									○ 주요내용 : 숲을 탐험하면서 씨앗가 똑같은 나무 특징 조사하기, 씨앗 특징 알아보기, 씨앗 홍보엽서 만들기
									
									기타프로그램 : 숲에서 놀자(대상: 유치원, 시기: 연중)
									○ 주요내용 : 숲에서 공간 이동하기, 숲해설가와 함께 오감 체험활동 하기
									
									기타프로그램 : 우리는 산양친구(대상: 초등학교 3학년, 시기: 3월~12월)
									○ 주요내용 : 산양의 한살이 알아보기, 생김새와 특징 알아보기, 산양유 비누 만들기
									
									숙박·식사제공
									숙박가능(×) 식사가능(○): 도시락, 바베큐 가능
									
									사업장 소개
									○ 2018. 01. 01. ~ 2020. 12. 31. 농촌진흥청 인증 농촌교육농장
									○ 2021. 01. 01. ~ 2023. 12. 31. 농촌진흥청 인증 농촌교육농장
									○ 사계절 자연경관이 아름다운 숲을 보유하고 있어 숲탐방 등 가능
									○ 유산양 먹이주기, 다양한 농산물 수확 등 체험학습 가능
									
									기타사항
									○ 농장 전체수용인원 : 당일 200명
									○ 농장 주요시설 : 유산양 우리, 배나무 과수원, 자연생태연못, 잔디밭, 쉼터 2곳, 실내교육장</li>
							</ul>

							<!-- Cab images --><br>
							<h5>관련 이미지</h5>

							<!-- Alert box -->
							<div class="alert alert-warning" role="alert">
								모든 사진은 농촌진흥쳥에서 제공하는 이미지 API 이므로 저작권 역시 농사로에 귀속됩니다.
							</div>

							<!-- Images -->
							<div class="row">
								<!-- Slider START -->
								<div class="tiny-slider arrow-round arrow-xs arrow-dark">
									<div class="tiny-slider-inner rounded-2" data-autoplay="false" data-arrow="true" data-dots="false" data-items="3" data-items-sm="2">
										<!-- Image item -->
										<div>
											<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="assets/images/category/directory/example/123.jpg">
												<div class="card card-element-hover card-overlay-hover overflow-hidden">
													<!-- Image -->
													<img src="assets/images/farmstouch/example/123.jpg" class="rounded-3" alt="">
													<!-- Full screen button -->
													<div class="hover-element w-100 h-100">
														<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
													</div>
												</div>
											</a>
										</div>

										<!-- Image item -->
										<div>
											<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="assets/images/category/directory/example/124.jpg">
												<div class="card card-element-hover card-overlay-hover overflow-hidden">
													<!-- Image -->
													<img src="assets/images/farmstouch/example/124.jpg" class="rounded-3" alt="">
													<!-- Full screen button -->
													<div class="hover-element w-100 h-100">
														<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
													</div>
												</div>
											</a>
										</div>

										<!-- Image item -->
										<div>
											<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="assets/images/category/directory/example/125.jpg">
												<div class="card card-element-hover card-overlay-hover overflow-hidden">
													<!-- Image -->
													<img src="assets/images/farmstouch/example/125.jpg" class="rounded-3" alt="">
													<!-- Full screen button -->
													<div class="hover-element w-100 h-100">
														<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
													</div>
												</div>
											</a>
										</div>

										<!-- Image item -->
										<div>
											<a class="w-100 h-100" data-glightbox data-gallery="gallery" href="assets/images/category/directory/example/126.jpg">
												<div class="card card-element-hover card-overlay-hover overflow-hidden">
													<!-- Image -->
													<img src="assets/images/farmstouch/example/126.jpg" class="rounded-3" alt="">
													<!-- Full screen button -->
													<div class="hover-element w-100 h-100">
														<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
								<!-- Slider END -->
							</div>
						</div>	

					</div>
					<!-- Driver and cab detail END -->
					
					

					
				</div>
			</div>
			<!-- Main content END -->

			<!-- Sidebar START -->
			<aside class="col-xl-4">
				<div data-sticky data-margin-top="80" data-sticky-for="1199">
					<div class="card card-body bg-light p-4">
						<!-- Title -->
						
						<img src="assets/images/farmstouch/example/131.jpg" alt="" style="width: 100%; height: 12.5rem;">

						

						<div class="d-grid mt-4 gap-2">
							

							<!-- Button -->
							<a href="http://blog.naver.com/supia-" class="btn btn-dark mb-0 mt-2" style="background-color: #446A46;" target="_blank">홈페이지 바로가기</a>
						</div>
					</div>
				</div> 
			</aside>
			<!-- Sidebar END -->
		</div>
	</div>
</section>
<!-- =======================
Main Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- footer 시작 -->
<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>