<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->	

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
						
<!-- =======================
Main Banner START -->
<section class="pt-4">
	
	<div class="container position-relative">
		<h4 class="card-title mb-2"  style="text-align: center;"> 농촌교육농장 </h4> <hr>
		<!-- Title and button START -->
		<div class="row">
			<div class="col-12">
				<!-- Meta -->
				<div class="d-flex justify-content-between align-items-lg-center" style="margin-bottom: -1.875rem; margin-top: 3.125rem; "> 
					<!-- Title -->
					<ul class="nav nav-divider align-items-center mb-0">
						<li class="nav-item h4" style="color: black;">[[${fmlgEdcFarmm.cntntsSj}]]</li> 
					</ul>
					
					<!-- Buttons -->
					<ul class="list-inline text-end">
						<!-- Share icon -->
						<li class="list-inline-item dropdown">
							<!-- Share button -->
							<a href="#" class="btn btn-sm btn-light px-2" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa-solid fa-fw fa-share-alt"></i>
							</a>
							<!-- dropdown button -->
							<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
								<li><a id="btnTwitter" class="dropdown-item link-icon twitter" href="javascript:shareTwitter();"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
								<!-- <li><a id="btnFacebook" class="dropdown-item link-icon facebook" href="javascript:shareFacebook();"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li> -->
								<li><a id="btnKakao" class="dropdown-item link-icon kakao" href="javascript:shareKakao();">
									<img src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/null/external-free-instant-messaging-app-for-cross-platform-devices-logo-bold-tal-revivo.png" style="height:15px"/> KaKao</a></li>
								<li><a class="dropdown-item" href="#" onclick="clip(); return false;"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
							</ul>
						</li>
					</ul>
					
				</div>
			</div>
		</div>
		<!-- Title and button END -->
	</div>
</section>
<!-- =======================
Main Banner END -->

<!-- =======================
Main Content START -->
<section class="pt-0">
	<div class="container" data-sticky-container>
		<div class="row g-4">

			<!-- Main content START -->
			<div class="col-xl-8">
				<div class="vstack gap-5">
					<!-- Trip Details START -->
					<div class="card border">
						
						<!-- Card body START -->
						<div class="card-body" >
							<div class="table-responsive" >
								<table class="table table-striped">
								  <thead>
								    <tr>
									<th><i class="fa-solid fa-star text-warning"></i></th>
									<th>테마</th>
									<td>[[${fmlgEdcFarmm.thema}]]</td>
								    </tr>
								  </thead>
								  <tbody>
								    <tr>
									<th scope="row"><i class="fa-solid fa-star text-warning"></i></th>
									<th>소재지</th>
									<td>[[${fmlgEdcFarmm.locplc}]]</td>
								    </tr>
								    <tr>
									<th scope="row"><i class="fa-solid fa-star text-warning"></i></th>
									<th>지정년도</th>
									<td>[[${fmlgEdcFarmm.appnYear}]]</td>
								    </tr>
								    <tr>
									<th scope="row"><i class="fa-solid fa-star text-warning"></i></th>
									<th>품질인증 년도</th>
									<td>[[${fmlgEdcFarmm.crtfcYearInfo}]]</td>
								    </tr>
								    <tr>
									<th scope="row"><i class="fa-solid fa-star text-warning"></i></th>
									<th>전화번호</th>
									<td>[[${fmlgEdcFarmm.telno}]]</td>
								    </tr>
							
								  </tbody>
								</table>
							    </div>
								
						</div>
						<!-- Card body END -->
					</div>
					<!-- Trip Details END -->


					<!-- Trip Details START -->
					<section class="card border">
						
						<!-- Card body START -->
						<div class="card-body">
							<h5 class="mb-0 mt-n6">위치정보 지도로 알아보기</h5> <hr>
							<div id="map" class="mt-1 mb-n5" style="width:100%; height:18rem; border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></div>
						</div>
						<!-- Card body END -->
						
					</section>
					<!-- Trip Details END -->

					<!-- Driver and cab detail START -->
					<div class="card bg-transparent">

						<!-- Card header -->
						<div class="card-header border-bottom bg-transparent px-0 pt-0">
							<h4 class="mb-0">체험프로그램 상세정보 및 관련 이미지</h4>
						</div>

						<!-- Card body -->
						<div class="card-body pt-4 p-0">
							<!-- List -->
							<ul>
								<li class="mb-2">
									<p th:utext="|${fmlgEdcFarmm.cn.replace('</ br>', '<br>')}|"></p>
								</li>
							</ul>

							<br/>
							
							<!-- 다른 페이지 추천!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
							
							<th:block th:each="otherList : ${otherList}" >
							<!-- Room START -->
							<div class="card bg-transparent" id="room-options">
								<!-- Card header -->
								<div class="card-header border-bottom bg-transparent px-0 pt-0 pb-2">
									<div class="d-sm-flex justify-content-sm-between align-items-center">
										<h4 class="mb-2 mb-sm-0">다른 농촌교육농장 알아보기</h4>
			
										<div class="col-sm-4">
											<!-- Button -->
											<div class="d-grid">
												<a th:href="|/life/ruralEducationCenterList|" class="btn btn-lg btn-success-soft mt-n3">검색페이지로 이동</a>
											</div>
										</div>
									</div>
								</div>
		
								<!-- Card body START -->
								<div class="card-body pt-4 p-0">
									<div class="vstack gap-4">
		
										<!-- Room item START -->
										<div class="card shadow p-3">
											<div class="row g-4">
												<!-- Card img -->
												<div class="col-md-5 position-relative">
		
													<!-- Overlay item -->
													<div class="position-absolute top-0 start-0 z-index-1 mt-3 ms-4">
														<div class="badge text-bg-danger">농촌교육농장</div>
													</div>
		
													<!-- Image item -->
													<div> <img th:src="${otherList.imgUrl1}" class="rounded-2" alt="Card image" style="width:100%; height: 10rem;"></div>
													<!-- Image item -->
								
												</div>
		
												<!-- Card body -->
												<div class="col-md-7">
													<div class="card-body d-flex flex-column h-100 p-0">
							
														<!-- Title -->
														<h5 class="card-title"><a th:href="|/life/herbDetails?cntntsNo=${otherList.cntntsNo}|">[[${otherList.cntntsSj}]]</a></h5>
		
														<p class="mb-0"><i class="fa-solid fa-location-dot text-success me-2"></i> <b>지역 :</b> [[${otherList.locplc}]]</p>
														<p class="mb-0"><i class="fa-solid fa-phone text-orange me-2"></i><b>연락처 :</b> [[${otherList.telno}]]</p>
														<p class="mb-0"><i class="fa-solid fa-hashtag text-danger me-2"></i> <b>주제 :</b> [[${otherList.thema}]]</p>
														<p class="mb-0"><i class="fa-solid fa-globe-asia text-info me-2"></i><b>상세주소 :</b> [[${otherList.locplc}]]</p>
														
														<!-- Button -->
														<p class="mb-0">
															<a href="#" class="btn btn-link text-success p-0 mb-0 mt-1" data-bs-toggle="modal" data-bs-target="#room"><i class="bi bi-eye-fill me-1"></i>상세정보 팝업</a>
														</p>
													</div>
												</div>
											</div>
										</div>
										<!-- Room item END -->
		
									</div>
								</div>
								<!-- Card body END -->
		
							</div>
							</th:block>
							<!-- Room END -->			
							
							<!-- 다른 페이지 추천!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
							
						</div>	

					</div>
					<!-- Driver and cab detail END -->
					
				</div>
			</div>
			<!-- Main content END -->
			
			<!-- Sidebar START -->
			<aside class="col-xl-4">
				<div data-sticky data-margin-top="80" data-sticky-for="1199">
					<div class="card card-body bg-light p-4">
						<!-- Title -->
						<img th:src="${fmlgEdcFarmm.imgUrl1}" alt="" style="width: 100%; height: 12.5rem;">
						<div class="d-grid mt-4 gap-2">
							<!-- Button -->
							<a th:href="|${fmlgEdcFarmm.url}|" class="btn btn-dark mb-0 mt-2" style="background-color: #446A46;" target="_blank">홈페이지 바로가기</a>
						</div>
					</div>
				</div> 
			</aside>
			<!-- Sidebar END -->
		</div>
	</div>
</section>
<!-- =======================
Main Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- 다른 약초 팝업창 START -->
<th:block th:each="otherList : ${otherList}" >
	<div class="modal fade" id="room" tabindex="-1" aria-labelledby="roomDetailLabel" aria-hidden="true">
	
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content p-0">
				
				<!-- Title -->
				<div class="modal-header p-3">
					<h5 class="modal-title mb-0" style="margin-right:7.5rem" id="roomDetailLabel">상세페이지 팝업창</h5>
					<a th:href="|/life/ruralEducationCenterDetails?cntntsNo=${otherList.cntntsNo}|" class="btn btn-lg btn-success-soft mx-0 my-0 px-3 py-2">상세페이지 이동</a>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
	
				<!-- Modal body -->
				<div class="modal-body p-0">
	
					<!-- Card START -->
					<div class="card bg-transparent p-3">
						<!-- Image item -->
						<div> <img th:src="${otherList.imgUrl1}" class="rounded-2" alt="Card image"></div>
	
						<!-- Card header -->
						<div class="card-header bg-transparent pb-0">
							<h3 class="card-title mb-0">[[${otherList.cntntsSj}]]</h3>
						</div>
	
						<!-- Card body START -->
						<div class="card-body">
							<!-- Content -->
							<p th:utext="|${otherList.cn}|"></p>
							
						</div>
						<!-- Card body END -->
					</div>
					<!-- Card END -->
				</div>
			</div>
		</div>
	</div>
	<!-- 다른 약초 팝업창 END -->
</th:block>


<!-- footer 시작 -->
<footer th:replace="~{common/layout2 :: #footer}"></footer>

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<!-- <script th:src="@{/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script> -->

<!-- Vendors -->
<script th:src="@{/assets/vendor/sticky-js/sticky.min.js}"></script>
<script th:src="@{/assets/vendor/glightbox/js/glightbox.js}"></script>
<script th:src="@{/assets/vendor/flatpickr/js/flatpickr.min.js}"></script>
<script th:src="@{/assets/vendor/tiny-slider/tiny-slider.js}"></script>

<!-- ThemeFunctions -->
<script th:src="@{/assets/js/functions.js}"></script>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b9742eb79e2bd0b8423d5b16098064c5&libraries=services"></script>
<script th:inline="javascript">
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
                  center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                  level: 1 // 지도의 확대 레벨 - 필요한 만큼 숫자를 늘리세요 숫자를 늘리면 더 넓은 범위 보여줘요 ex) 부산
            };

      //지도를 생성합니다    
      var map = new kakao.maps.Map(mapContainer, mapOption);

      //주소-좌표 변환 객체를 생성합니다
      var geocoder = new kakao.maps.services.Geocoder();

      /*<![CDATA[*/
      let farmMap = /*[[ ${fmlgEdcFarmm.locplc} ]]*/
      /*]]*/
            //주소로 좌표를 검색합니다
            geocoder.addressSearch(farmMap, function (result, status) {
                  // 정상적으로 검색이 완료됐으면 
                  if (status === kakao.maps.services.Status.OK) {
                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new kakao.maps.Marker({
                              map: map,
                              position: coords
                        });


                        // 인포윈도우로 장소에 대한 설명을 표시합니다
                        var infowindow = new kakao.maps.InfoWindow({	
                              content: '<div style="width:150px;text-align:center;padding:6px 0;">[[ ${fmlgEdcFarmm.cntntsSj} ]]</div>'
                        });
                        infowindow.open(map, marker);

                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                        map.setCenter(coords);
                  }
            });
</script>

<!-- 카카오 공유하기 -->
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

<script type="text/javascript">
var url = '';

function clip(){

	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href;
	textarea.value = url;
	textarea.select();
	document.execCommand("copy");
	document.body.removeChild(textarea);
	alert("URL이 복사되었습니다.")
}

// 트위터
function shareTwitter() {

    var sendText = "farmstouch"; // 전달할 텍스트
    var sendUrl = url; // 전달할 URL
    window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + sendUrl);
}

// 페이스북
/* function shareFacebook() {
	var url = '';
	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href;
	textarea.value = url;
	textarea.select();
	document.execCommand("copy");
	document.body.removeChild(textarea);
    var sendUrl = "url"; // 전달할 URL
    window.open("http://www.facebook.com/sharer/sharer.php?u=" + sendUrl);
} */

// 카카오
function shareKakao() {
      
      // 사용할 앱의 JavaScript 키 설정
      Kakao.init('9b8a2ab69f37af22f6784fef92e74104');

      // 카카오링크 버튼 생성
      Kakao.Link.createDefaultButton({
            container: '#btnKakao', // 카카오공유버튼ID
            objectType: 'feed',
            content: {
                  title: "Farm's Touch", // 보여질 제목
                  description: "반갑습니다. 초보 농부를 위한 온라인 지침서 팜스터치 입니다.", // 보여질 설명
                  imageUrl: "https://www.urbanbrush.net/web/wp-content/uploads/edd/2018/02/web-20180213120309801324.png", // 콘텐츠 URL
                  link: {
                        mobileWebUrl: url,
                        webUrl: url
                  }
            }
      });
}

</script>

</body>
</html>
