<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->	


<!-- **************** MAIN CONTENT START **************** -->
<main>
	
<!-- =======================
Content START -->
<section class="pt-3 mt-3">
	<div class="container">
		<div class="row">

			<!-- Sidebar START -->
			<div class="col-lg-4 col-xl-3">
				<!-- Responsive offcanvas body START -->
				<div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasSidebar" >
					<!-- Offcanvas header -->
					<div class="offcanvas-header justify-content-end pb-2">
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
					</div>

					<!-- Offcanvas body -->
					<div class="offcanvas-body p-3 p-lg-0">
						<div class="card bg-light w-100">

							<!-- Edit profile button -->
							<div class="position-absolute top-0 end-0 p-3">
								<a href="#" class="text-success-hover" data-bs-toggle="tooltip" data-bs-title="Edit profile">
									<i class="bi bi-pencil-square"></i>
								</a>
							</div>

							<!-- Card body START -->
							<div class="card-body p-3">
								<!-- Avatar and content -->
								<div class="text-center mb-3">
									<!-- Avatar -->
									<div class="avatar avatar-xl mb-2">
										<img th:if="${session.loginMember.imageUrl == null}" class="avatar-img rounded-circle border border-2 border-white" src="/assets/images/farmstouch/avatar/ava02.png" alt="">
										<img th:if="${session.loginMember.imageUrl != null}" id="uploadfile-1-preview" class="avatar-img rounded-circle border border-2 border-white" th:src="|/member/file/${session.loginMember.imageUrl}|" alt="">
									</div>
									<h6 class="mb-0"><span th:text="${session.loginMember.name}"></span></h6>
									<a href="#" class="text-reset text-success-hover small"><span th:text="${session.loginMember.email}"></span></a>
									<hr>
								</div>

								<!-- Sidebar menu item START -->
								<ul class="nav nav-pills-success-soft flex-column">
									<li class="nav-item">
										<a class="nav-link" href="/member/view" style="--bs-nav-link-color: #747579;"><i class="bi bi-person fa-fw me-2"></i>내 정보</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/member/updatePwd" style="--bs-nav-link-color: #747579;"><i class="bi bi-ticket-perforated fa-fw me-2"></i>비밀번호 변경하기</a>
									</li>
	
									<li class="nav-item">
										<a class="nav-link" href="myWish.html" style="--bs-nav-link-color: #747579;"><i class="bi bi-heart fa-fw me-2"></i>즐겨찾기</a>
									</li>
									
									<li class="nav-item">
										<a class="nav-link active" href="myRetire.html" style="--bs-nav-link-color: #747579;"><i class="bi bi-trash fa-fw me-2"></i>계정 탈퇴</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-danger bg-danger-soft-hover" href="/logout"><i class="fas fa-sign-out-alt fa-fw me-2"></i>로그아웃</a>
									</li>
								</ul>
								<!-- Sidebar menu item END -->
							</div>
							<!-- Card body END -->
						</div>
					</div>
				</div>	
				<!-- Responsive offcanvas body END -->	
			</div>
			<!-- Sidebar END -->

			<!-- Main content START -->
			<div class="col-lg-8 col-xl-9">

				<!-- Offcanvas menu button -->
				<div class="d-grid mb-0 d-lg-none w-100">
					<button class="btn btn-success mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						<i class="fas fa-sliders-h"></i> Menu
					</button>
				</div>


					<!-- Personal info START -->
					<div class="card border">
						<!-- Card header -->
						<div class="card-header border-bottom">
							<h4 class="card-header-title">내 정보</h4>
						</div>

						<!-- Card body START -->
						<div class="card-body">
							<!-- Form START -->
							<form class="row g-3" action="/member/update" method="post" th:object="${member}" enctype="multipart/form-data">
								<input type="hidden" name="mNo" th:value="${session.loginMember.mNo}">
								<input type="hidden" name="id" th:value="${session.loginMember.id}">
								<input type="hidden" name="role" th:value="${session.loginMember.role}">

								<!-- Profile photo -->
								<div class="col-12">
									<label class="form-label">사진을 업로드 하세요.<span class="text-danger">*</span></label>
									<div class="d-flex align-items-center">
										<label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
											<!-- Avatar place holder -->
											<span class="avatar avatar-xl">
												<img th:if="${session.loginMember.imageUrl == null}" id="uploadfile-1-preview" class="avatar-img rounded-circle border border-white border-3 shadow" src="/assets/images/farmstouch/avatar/ava02.png" alt="">
												<img th:if="${session.loginMember.imageUrl != null}" id="uploadfile-1-preview" class="avatar-img rounded-circle border border-white border-3 shadow" th:src="|/member/file/${session.loginMember.imageUrl}|" alt="">
											</span>
										</label>
										<!-- Upload button -->
										<!-- <label class="btn btn-sm btn-success-soft mb-0" for="uploadfile-1">Change</label> -->
										<span>
											<input id="image" class="form-control" type="file" name="upimage" accept="image/gif, image/jpeg, image/png">
										</span>										
									</div>
								</div>

								<!-- Name -->
								<div class="col-md-6">
									<label class="form-label">이름<span class="text-danger">*</span></label>
									<input type="text" class="form-control" th:field="*{name}" th:placeholder="${session.loginMember.name}">
								</div>

								<!-- Email -->
								<div class="col-md-6">
									<label class="form-label">이메일<span class="text-danger">*</span></label>
									<input type="email" class="form-control" th:field="*{email}" th:placeholder="${session.loginMember.email}">
								</div>

								<!-- Mobile -->
								<div class="col-md-6">
									<label class="form-label">휴대전화<span class="text-danger">*</span></label>
									<input type="text" class="form-control" th:field="*{phone}" th:placeholder="${session.loginMember.phone}">
								</div>


								<!-- Date of birth -->
								<div class="col-md-6">
									<label class="form-label">생년월일<span class="text-danger">*</span></label>
									<input type="text" class="form-control flatpickr" name="birth" th:field="*{birth}" th:placeholder="${session.loginMember.birth}" data-date-format="Y M d">
								</div>

								<!-- Gender -->
								<div class="col-md-6">
									<label class="form-label">성별<span class="text-danger">*</span></label>
									<div class="d-flex gap-4">
										<div class="form-check radio-bg-light">
											<input class="form-check-input" type="radio" name="gender" value="M"  id="flexRadioDefault1" th:checked="${session.loginMember.gender == 'M'}">
											<label class="form-check-label" for="flexRadioDefault1">
												남
											</label>
										</div>
										<div class="form-check radio-bg-light">
											<input class="form-check-input" type="radio" name="gender" value="F" id="flexRadioDefault2" th:checked="${session.loginMember.gender == 'F'}">
											<label class="form-check-label" for="flexRadioDefault2">
												여
											</label>
										</div>
									</div>
								</div>

								<!-- Address -->
								<div class="col-12">
									<label class="form-label">주소</label>
									<textarea class="form-control" rows="3" spellcheck="false" name="address" th:field="*{address}" th:placeholder="${session.loginMember.address}"></textarea>
								</div>

								<!-- Button -->
								<div class="col-12 text-end">
									<input type="submit" class="btn btn-success mb-0" value="변경하기">
								</div>
							</form>
							<!-- Form END -->
						</div>
						<!-- Card body END -->
					</div>
					<!-- Personal info END -->

					<!-- Update email START -->
					<!-- Update email END -->

					<!-- Update Password START -->
					
					<!-- Update Password END -->
				</div>
			</div>
			<!-- Main content END -->

		</div>
	</div>
</section>
<!-- =======================
Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- footer 시작 -->
	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>