<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->	


<!-- **************** MAIN CONTENT START **************** -->
<main>
	
<!-- =======================
Content START -->
<section class="pt-3 mt-3">
	<div class="container">
		<div class="row">

			<!-- Sidebar START -->
			<div class="col-lg-4 col-xl-3">
				<!-- Responsive offcanvas body START -->
				<div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasSidebar" >
					<!-- Offcanvas header -->
					<div class="offcanvas-header justify-content-end pb-2">
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
					</div>

					<!-- Offcanvas body -->
					<div class="offcanvas-body p-3 p-lg-0">
						<div class="card bg-light w-100">

							<!-- Edit profile button -->
							<div class="position-absolute top-0 end-0 p-3">
								<a href="#" class="text-success-hover" data-bs-toggle="tooltip" data-bs-title="Edit profile">
									<i class="bi bi-pencil-square"></i>
								</a>
							</div>

							<!-- Card body START -->
							<div class="card-body p-3">
								<!-- Avatar and content -->
								<div class="text-center mb-3">
									<!-- Avatar -->
									<div class="avatar avatar-xl mb-2">
										<img class="avatar-img rounded-circle border border-2 border-white" src="/assets/images/avatar/01.jpg" alt="">
									</div>
									<h6 class="mb-0"><span th:text="${session.loginMember.name}"></span></h6>
									<a href="#" class="text-reset text-success-hover small"><span th:text="${session.loginMember.email}"></span></a>
									<hr>
								</div>

								<!-- Sidebar menu item START -->
                                <ul class="nav nav-pills-success-soft flex-column">
									<li class="nav-item">
										<a class="nav-link" href="/member/view" style="--bs-nav-link-color: #747579;"><i class="bi bi-person fa-fw me-2"></i>내 정보</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/member/updatePwd" style="--bs-nav-link-color: #747579;"><i class="bi bi-ticket-perforated fa-fw me-2"></i>비밀번호 변경하기</a>
									</li>
	
									<li class="nav-item">
										<a class="nav-link" href="myWish.html" style="--bs-nav-link-color: #747579;"><i class="bi bi-heart fa-fw me-2"></i>즐겨찾기</a>
									</li>
									
									<li class="nav-item">
										<a class="nav-link active" href="myRetire.html" style="--bs-nav-link-color: #747579;"><i class="bi bi-trash fa-fw me-2"></i>계정 탈퇴</a>
									</li>
									<li class="nav-item">
										<a class="nav-link text-danger bg-danger-soft-hover" href="/logout"><i class="fas fa-sign-out-alt fa-fw me-2"></i>로그아웃</a>
									</li>
								</ul>
								<!-- Sidebar menu item END -->
							</div>
							<!-- Card body END -->
						</div>
					</div>
				</div>	
				<!-- Responsive offcanvas body END -->	
			</div>
			<!-- Sidebar END -->

			<!-- Main content START -->
			<div class="col-lg-8 col-xl-9">

				<!-- Offcanvas menu button -->
				<div class="d-grid mb-0 d-lg-none w-100">
					<button class="btn btn-success mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
						<i class="fas fa-sliders-h"></i> Menu
					</button>
				</div>

					<!-- Update Password START -->
					<div class="card border">
						<!-- Card header -->
						<div class="card-header border-bottom">
							<h4 class="card-header-title">비밀번호 변경하기</h4>
						</div>

						<!-- Card body START -->
						<form class="card-body" action="/member/updatePwd" method="post">
							<!-- Current password -->
							<div class="mb-3">
								<label class="form-label">현재 비밀번호</label>
								<input class="form-control" type="password" name="currentPwd" placeholder="Enter current password">
							</div>
							<!-- New password -->
							<div class="mb-3">
								<label class="form-label">새로운 비밀번호</label>
								<div class="input-group">
									<input class="form-control fakepassword" name="newPwd" placeholder="Enter new password" type="password" id="psw-input">
									<span class="input-group-text p-0 bg-transparent">
										<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
									</span>
								</div>
							</div>
							<!-- Confirm -->
							<div class="mb-3">
								<label class="form-label">새로운 비밀번호 확인</label>
								<input class="form-control" type="password" placeholder="Confirm new password">
							</div>

							<div class="text-end">
								<input type="submit" class="btn btn-success mb-0" value="변경하기">
							</div>
						</form>
						<!-- Card body END -->
					</div>
					<!-- Update Password END -->
				</div>
			</div>
			<!-- Main content END -->

		</div>
	</div>
</section>
<!-- =======================
Content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- footer 시작 -->
	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>