<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

	<!-- Header START -->
	<header th:replace="~{common/layout2 :: #header}"></header>


	<!-- Header END -->


	<!-- **************** MAIN CONTENT START **************** -->
	<main>

		<!-- =======================
Content START -->
		<section class="pt-3  mt-3">
			<div class="container">
				<div class="row">

					<!-- Sidebar START -->
					<div class="col-lg-4 col-xl-3">
						<!-- Responsive offcanvas body START -->
						<div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasSidebar">
							<!-- Offcanvas header -->
							<div class="offcanvas-header justify-content-end pb-2">
								<button type="button" class="btn-close" data-bs-dismiss="offcanvas"
									data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
							</div>

							<!-- Offcanvas body -->
							<div class="offcanvas-body p-3 p-lg-0">
								<div class="card bg-light w-100">

									<!-- Edit profile button -->
									<div class="position-absolute top-0 end-0 p-3">
										<a href="#" class="text-success-hover" data-bs-toggle="tooltip"
											data-bs-title="Edit profile">
											<i class="bi bi-pencil-square"></i>
										</a>
									</div>

									<!-- Card body START -->
									<div class="card-body p-3">
										<!-- Avatar and content -->
										<div class="text-center mb-3">
											<!-- Avatar -->
											<div class="avatar avatar-xl mb-2">
												<img th:if="${session.loginMember.imageUrl == null}"
													id="uploadfile-1-preview"
													class="avatar-img rounded-circle border border-white border-3 shadow"
													src="/assets/images/farmstouch/avatar/ava02.png" alt="">
												<img th:if="${session.loginMember.imageUrl != null}"
													id="uploadfile-1-preview"
													class="avatar-img rounded-circle border border-white border-3 shadow"
													th:src="|/member/file/${session.loginMember.imageUrl}|" alt="">
											</div>
											<h6 class="mb-0"><span th:text="${session.loginMember.name}"></span></h6>
											<a href="#" class="text-reset text-success-hover small"><span
													th:text="${session.loginMember.email}"></span></a>
											<hr>
										</div>

										<!-- Sidebar menu item START -->
										<ul class="nav nav-pills-success-soft flex-column">
											<li class="nav-item">
												<a class="nav-link" href="/member/view"
													style="--bs-nav-link-color: #747579;"><i
														class="bi bi-person fa-fw me-2"></i>내 정보</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="/member/updatePwd"
													style="--bs-nav-link-color: #747579;"><i
														class="bi bi-ticket-perforated fa-fw me-2"></i>비밀번호 변경하기</a>
											</li>

											<li class="nav-item">
												<a class="nav-link" href="/member/wishList"
													style="--bs-nav-link-color: #747579;"><i
														class="bi bi-heart fa-fw me-2"></i>즐겨찾기</a>
											</li>

											<li class="nav-item">
												<a class="nav-link active" href="/member/delete"
													style="--bs-nav-link-color: #747579;"><i
														class="bi bi-trash fa-fw me-2"></i>계정 탈퇴</a>
											</li>
											<li class="nav-item">
												<a class="nav-link text-danger bg-danger-soft-hover" href="/logout"><i
														class="fas fa-sign-out-alt fa-fw me-2"></i>로그아웃</a>
											</li>
										</ul>
										<!-- Sidebar menu item END -->
									</div>
									<!-- Card body END -->
								</div>
							</div>
						</div>
						<!-- Responsive offcanvas body END -->
					</div>
					<!-- Sidebar END -->

					<!-- Main content START -->
					<div class="col-lg-8 col-xl-9">

						<!-- Offcanvas menu button -->
						<div class="d-grid mb-0 d-lg-none w-100">
							<button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
								data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
								<i class="fas fa-sliders-h"></i> Menu
							</button>
						</div>

						<!-- Wishlist START -->
						<div class="card border bg-transparent">
							<!-- Card header -->
							<div class="card-header bg-transparent border-bottom">
								<h4 class="card-header-title"><i class="bi bi-heart fa-fw me-2"></i>즐겨찾기</h4>
							</div>

							<!-- Card body START -->
							<div class="card-body vstack gap-4">
								<!-- Select and button -->
								<form class="d-flex justify-content-between">
									<div class="col-6 col-xl-3">
										<select class="form-select form-select-sm js-choice border-0">
											<option value="">전체</option>
											<option value="">농촌맛집</option>
											<option value="" selected>식물 자랑 블로그</option>
										</select>
									</div>
									<!-- Button 
									<button class="btn btn-danger-soft mb-0">
										<i class="fas fa-trash me-2"></i>Remove all
									</button>
									-->
								</form>


								<th:block th:if="${blogList.isEmpty()}">
									<p>즐겨찾기한 게시글이 없습니다.</p>
								</th:block>

								<!-- Wishlist item START -->
								<th:block th:if="${blogList != null}">
									<div th:each="blog : ${blogList}" class="card shadow p-2">
										<div class="row g-0">
											<!-- Card img -->
											<div class="col-md-3">
												<img th:if="${blog.thumbnailImgUrl != null}" th:src="${blog.thumbnailImgUrl}" style="height:140px;" class="card-img rounded-2" alt="Card image">
												<img th:if="${blog.thumbnailImgUrl == null}" src="/image/no-image.png" style="height:140px;" class="card-img rounded-2" alt="Card image">
											</div>

											<!-- Card body -->
											<div class="col-md-9">
												<div class="card-body py-md-2 d-flex flex-column h-100">

													<!-- Rating and buttons -->
													<div class="d-flex justify-content-end align-items-center">
														<ul class="list-inline mb-0">
															<!-- Heart icon -->
															<li class="list-inline-item">
																<a class="btn btn-sm btn-round btn-danger mb-0" th:onclick="|onClickHeart('${blog.bNo}');|"><i class="fa-solid fa-fw fa-heart"></i></a>
															</li>
															<!-- Share icon -->
															<li class="list-inline-item dropdown">
																<!-- Share button -->
																<a class="btn btn-sm btn-round btn-light mb-0" role="button" id="dropdownShare2" data-bs-toggle="dropdown" aria-expanded="false">
																	<i class="fa-solid fa-fw fa-share-alt"></i>
																</a>
																<!-- dropdown button -->
																<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare2">
																	<li>
																		<a class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a>
																	</li>
																	<li>
																		<a class="dropdown-item" href="#"><i class="fab fa-facebook-square me-2"></i>Facebook</a>
																	</li>
																	<li>
																		<a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a>
																	</li>
																	<li>
																		<a class="dropdown-item" href="#"><i class="fa-solid fa-copy me-2"></i>Copy link</a>
																	</li>
																</ul>
															</li>
														</ul>
													</div>

													<!-- Title -->
													<h5 class="card-title mb-1"><a th:href="|/blog/view?no=${blog.bNo}|">[[${blog.title}]]</a></h5>
													<small>작성자: [[${blog.writer}]]</small>

													<div
														class="d-sm-flex justify-content-sm-between align-items-center mt-3 mt-md-auto">

														<div class="d-flex align-items-center">
															<small class="mb-0 me-2">
																등록일: 
																<span class="mb-0 me-2" th:text="${#dates.format(blog.createDate, 'yyyy-MM-dd')}"></span>
															</small>
															<small class="mb-0 me-2">/ 조회수: [[${blog.readCount}]]</small>
														</div>

														<div class="mt-3 mt-sm-0">
															<a th:href="|/blog/view?no=${blog.bNo}|" class="btn btn-sm btn-success w-100 mb-0">자세히 보기</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</th:block>

							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- =======================
Content END -->

	</main>
	<!-- **************** MAIN CONTENT END **************** -->

	<!-- footer 시작 -->
	<footer th:replace="~{common/layout2 :: #footer}"></footer>

	<script>
		function onClickHeart(bNo) {
			$.ajax({
				method:'get',
				url:'/blog/like?bNo=' + bNo +'&isLike=0',
				contentType: 'application/json',
				dataType : 'json',
				success: (result) =>{
					window.location.reload();
				},
				error : (e) => {
					alert('전송 실패!!');
				}
			});
    	}
	</script>
</body>

</html>