<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<!--  <head th:fragment="head" th:replace="~{common/layout2 :: head}"> -->
<head th:fragment="head" th:replace="~{common/layout2 :: head}">

</head>
<body>

	<!-- Header START -->
	<header th:replace="~{/common/layout2 :: #header}"></header>


	<!-- Header END -->
	<!-- **************** MAIN CONTENT START **************** -->

	<main>

		<!-- =======================
Main Banner START -->
		<section class="pt-0 mt-0">
			<div class="container-fluid px-0">
				<!-- Background image -->
				<div class="p-3 p-sm-5 "
					style="background-image: url(/assets/images/farmstouch/tech1.jpg); background-position: center -5rem; background-repeat: no-repeat; background-size: cover; height: 27rem;">
					<!-- Banner title -->
					<div class="row">

						<div class="col-md-5 mx-auto my-5">
							<h1 class="text-center" style="text-shadow: 2px 2px 2px #093b15; color: white;">
							<a style="text-shadow: 2px 2px 2px #093b15; color: white;" th:href="|/agriculture/agriTechVideo|">농업 기술 동영상</a>
							</h1>
							<ul
								class="nav nav-divider h5 text-white mb-0 justify-content-center">
								<li class="nav-item"
									style="text-shadow: 2px 2px 2px white; color: #243D25;">알아두면
									쓸모있는 농업 기술의 모든 것</li>
							</ul>
						</div>
						<div class="col-md-7 mx-auto my-5"></div>
					</div>
				</div>

				<!-- Search START -->
				<div class="row mt-n4 mt-sm-n8">
					<div class="col-9 mx-auto">

						<!-- Booking from START -->
						<div class="bg-mode shadow p-4 rounded-3">

							<!-- Main search START -->
							<!-- Booking from START -->

							<form action="/agriculture/agriTechVideo" method="get"
								class="bg-mode shadow rounded-3 position-relative p-4 pe-md-5 pb-5 pb-md-4 mb-4">
								<div class="row g-4 align-items-center">
									<!-- Location -->
									<div class="col-lg-4">
										<div
											class="form-control-border form-control-transparent form-fs-md d-flex">
											<!-- Icon -->
											<i class="bi bi-list-task fs-3 me-2 mt-2"></i>
											<!-- Select input -->
											<div class="flex-grow-1">
												<label class="form-label">Filter</label>
												 <select class="form-select js-choice" data-search-enabled="false" name="searchType">
													<option th:text="제목" value="videoTitle" th:selected="${paramMap.searchType}=='videoTitle'"></option>
													<option th:text="기관" value="videoOriginInstt" th:selected="${paramMap.searchType}=='videoOriginInstt'"></option>
												</select>
											</div>
										</div>
									</div>
									<!-- Guest -->
									<div class="col-lg-8">
										<div class="form-control-border form-control-transparent form-fs-md d-flex">
											<!-- Icon -->
											<i class="bi bi-search fs-3 me-2 mt-2"></i>
											<!-- Dropdown input -->
											<div class="w-100">
												<label class="form-label">Search</label>
												<div class="dropdown guest-selector me-2">
													<input type="text"
														class="form-guest-selector form-control selection-result"
														id="searchValue" name="searchValue" value=""
														placeholder="내용을 입력하세요" aria-label="Search">
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Button -->
								<div class="btn-position-md-middle">
									<button class="icon-lg btn btn-round btn-success mb-0" type="submit">
										<i class="bi bi-search fa-fw"></i>
									</button>
								</div>
							</form>


							<!-- Main search END -->

						</div>
						<!-- Advance filter END -->

					</div>
					<!-- Booking from END -->
				</div>
			</div>
			<!-- Search END -->

			</div>
		</section>
		<!-- =======================
Main Banner END -->

		<!-- =======================
Tour grid START -->
		<section class="pt-0">
			<div class="container">

				<!-- Filter and content START -->
				<div class="row g-4 align-items-center justify-content-between mb-4">
					<!-- Content -->
					<div class="col-12 col-xl-8">
						<h5 class="mb-0">총 건수 [[${vCount}]]</h5>
					</div>
				</div>
				<!-- Filter and content END -->
				<div class="row g-4">

					<th:block th:if="${vlist ==null}">
						<h3>검색 결과가 없습니다.</h3>
					</th:block>


					<th:block th:if="${vlist != null}">
						<!-- Card item START -->
						<div th:each="agriTechVideo : ${vlist}" class="col-md-6 col-xl-4">
							<div class="card card-hover-shadow pb-0 h-100">
								<!-- Overlay item -->
								<div class="position-relative">
									<!-- Image -->
									<!-- 	<img th:src="http://www.nongsaro.go.kr/portal/imgView.do?ep=a5gb/CMEYLclIUPoWw9/DZpAzn2z8@sWTCNA5pR4wDXSINKOQ8UOLHkOT@SlpQwx" class="card-img-top" alt="Card image" style="height: 17.5rem;">   -->
									<img th:src="${agriTechVideo.videoImg}" class="card-img-top"
										alt="Card image" style="height: 17.5rem;">
								</div>
								<!-- Card body START -->
								<div class="card-body px-3">
									<!-- Title -->
									<h5 class="card-title mb-0">
									<!-- ${agriTechVideo.videoLink} -->
										<a th:href="|javascript:showPopUp('${agriTechVideo.videoLink}')|" class="stretched-link">[[${agriTechVideo.videoTitle}]]</a>
									</h5>
								</div>
								<!-- Card body END -->

								<!-- Card footer START-->
								<div class="card-footer pt-0">
									<!-- Price and Button -->
									<div
										class="d-sm-flex justify-content-sm-between align-items-center flex-wrap">
										<!-- Price -->
										<div class="hstack gap-2">
											<small>[[${agriTechVideo.videoOriginInstt}]]</small>
										</div>
										<!-- Button -->
										<div class="mt-2 mt-sm-0">
										<!-- @{agriTechVideo.videoLink} -->
										<!-- |javascript:page('${pageNum}')|" -->
										<!--  th:onclick="|location.href='@{agriTechVideo.videoLink}'|" -->
											<a th:href="|javascript:showPopUp('${agriTechVideo.videoLink}')|"
												class="btn btn-sm btn-success mb-0">자세히 보기</a>
<!-- 											<button th:onclick="window.open("/popup", "popup", "width=300, height=300")";
												class="btn btn-sm btn-success mb-0">자세히 보기</a> -->
										</div>
									</div>
								</div>

							</div>
						</div>

					</th:block>

				</div>
				<!-- Row END -->



				<!-- 페이지 -->
				<th:block th:if="${vCount > 0}">
					<div class="row">
						<div class="col-12">
							<nav class="mt-4 d-flex justify-content-center"
								aria-label="navigation">
								<ul
									class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
									<li class="page-item mb-0"><a class="page-link"
										th:onclick="movePage(1);"><i
											class="fa-solid fa-angle-left"></i></a></li>
									<li class="page-item mb-0"><a class="page-link"
										th:onclick="movePage([[${pageInfo.prevPage}]]);"><i
											class="fa-solid fa-angle-left"></i></a></li>
									<th:block
										th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
										<th:block th:if="${status.current == pageInfo.currentPage}">
											<li class="page-item mb-0 active"><a class="page-link"
												disabled>[[${status.current}]]<span
													class="visually-hidden">(current)</span></a></li>
										</th:block>
										<th:block th:if="${status.current != pageInfo.currentPage}">
											<li class="page-item mb-0"><a class="page-link"
												th:onclick="movePage([[${status.current}]])">[[${status.current}]]</a></li>
										</th:block>
									</th:block>

									<li class="page-item mb-0"><a class="page-link"
										th:onclick="movePage([[${pageInfo.nextPage}]])"><i
											class="fa-solid fa-angle-right"></i></a></li>
									<li class="page-item mb-0"><a class="page-link"
										th:onclick="movePage([[${pageInfo.maxPage}]])"><i
											class="fa-solid fa-angle-right"></i></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</th:block>
			</div>
		</section>
		<!-- =======================
Tour grid END -->

	</main>
	<!-- **************** MAIN CONTENT END **************** -->

	<!-- =======================Footer START -->

	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>

<script type="text/javascript">
var url_href = window.location.href;
var url = new URL(url_href); // URL 객체 선언

function movePage(page){
	url.searchParams.set("page", page);
	
	window.location.search = url.searchParams;
};
</script>

 <script th:inline="javascript" type="text/javascript">
function showPopUp(url) {
	
	//창 크기 지정
	var width = 1200;
	var height = 700;
	
	//pc화면기준 가운데 정렬
	var left = (window.screen.width / 2) - (width/2);
	var top = (window.screen.height / 8);
	
    	//윈도우 속성 지정
	var windowStatus = 'width='+width+', height='+height+', left='+left+', top='+top+', scrollbars=yes, status=yes, resizable=yes, titlebar=yes';
	
	//등록된 url 및 window 속성 기준으로 팝업창을 연다.
	window.open(url, "hello popup", windowStatus);
	
}
</script> 
