<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<!-- 제목의 글자수를 제한하고 ... 처리하는 css -->
<style>
	.textcutting{
	  width        : 25.5rem;     
	  text-overflow: ellipsis;  /* 위에 설정한 넓이보다 길면 말줄임표처럼 표시 */
	  white-space  : nowrap;    /* 줄바꿈을 하지 않음 */
	  overflow     : hidden;    /* 내용이 길면 감춤 */
	  display      : block;     /* ie6이상 현재요소를 블럭처리 */
}
</style>
<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->	



<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main banner START -->
<section class="pt-0">
	<!-- Background and title -->
	<div class="container-fluid" style="background-image:url(../assets/images/farmstouch/example/visual14.jpg); background-position: center left; background-size: cover; height: 27rem;">
		<div class="row py-8"> 
			<div class="col-md-2 mx-auto"> </div>
			<div class="col-md-6 mx-auto"> 
				<h1 class="text-start " style="text-shadow:0.125rem 0.125rem 0.125rem #285430; color: white;">농업기술 더하기 나누기</h1>
				<h5 class="text-center " style="text-shadow:0.125rem 0.125rem 0.125rem #285430; color: white;">사용자가 직접 참여하는 농업기술 공유 사이트</h5>
			</div>
			<div class="col-md-4 mx-auto"> </div>
		</div>
		<div class="row" style="margin-bottom: 1.875rem;"></div>
			
	</div>
</section>
<!-- =======================
Main banner START -->
	
<!-- =======================
Title and notice board START -->

<!-- =======================
Title and notice board END -->

<!-- =======================
Content START -->
<section class="pt-0">
	<div class="container vstack gap-4">
		<!-- Title START -->
		<div class="row">
			<div class="col-12">
				<h5 class="mb-0"><i class="bi bi-award fa-fw me-1"></i>총 게시글과 top3 분야</h5>
			</div>
		</div>	
		<!-- Title END -->

		<!-- Counter START -->
		<div class="row g-4">
			<!-- Counter item -->
			<div class="col-sm-6 col-xl-3">
				<div class="card card-body border">
					<div class="d-flex align-items-center">
						<!-- Icon -->
						<div class="icon-xl bg-primary rounded-3 text-white">
							<img src="https://img.icons8.com/stickers/100/null/open-box.png" style="height: 3.438rem;"/>
						</div>
						<!-- Content -->
						<div class="ms-3">
							<h4>433</h4>
							<span>Total Posts</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Counter item -->
			<div class="col-sm-6 col-xl-3">
				<div class="card card-body border">
					<div class="d-flex align-items-center">
						<!-- Icon -->
						<div class="icon-xl bg-success rounded-3 text-white">
							<img src="https://img.icons8.com/stickers/100/null/lawn-care.png" style="height: 3.438rem;"/>
						</div>
						<!-- Content -->
						<div class="ms-3">
							<h4>176</h4>
							<span>AgricultureTech</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Counter item -->
			<div class="col-sm-6 col-xl-3">
				<div class="card card-body border">
					<div class="d-flex align-items-center">
						<!-- Icon -->
						<div class="icon-xl bg-info rounded-3 text-white">
							<img src="https://img.icons8.com/stickers/100/null/virtual-machine.png" style="height: 3.438rem;"/>
						</div>
						<!-- Content -->
						<div class="ms-3">
							<h4>126</h4>
							<span>etc.</span>
						</div>
					</div>
				</div>
			</div>

			<!-- Counter item -->
			<div class="col-sm-6 col-xl-3">
				<div class="card card-body border">
					<div class="d-flex align-items-center">
						<!-- Icon -->
						<div class="icon-xl bg-warning rounded-3 text-white">
							<img src="https://img.icons8.com/stickers/100/null/head-with-brain.png" style="height: 3.438rem;"/>
						</div>
						<!-- Content -->
						<div class="ms-3">
							<h4>40</h4>
							<span>Education</span>
						</div>
					</div>
				</div>
			</div>

			
		</div>
		<!-- Counter END -->

		
	</div>
</section>
<!-- =======================
Content END -->



<!-- =======================
Flight list START -->
<section class="pt-0">
	<div class="container">
		<div class="row">
				<!-- Left sidebar START -->
				<aside class="col-xl-4 col-xxl-3">
					<form th:action="@{/agriculture/agriculturalPlusMinusList}" method="get" id="mlrdForm1" name="mlrdForm1" class="mlrdForm1">
					<!-- Responsive offcanvas body START -->
						<div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
							<!-- Offcanvas header -->
							<div class="offcanvas-header">
								<h5 class="offcanvas-title" id="offcanvasSidebarLabel">Advance Filters</h5>
								<button  type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
							</div>
							<!-- Offcanvas body -->
							<div class="offcanvas-body flex-column p-3 p-xl-0">
								<div class="rounded-3 shadow">
										<!-- Popular filters START -->
										<div class="card card-body rounded-0 rounded-top p-4">
										
<!-- ======================================================== 필터 검색 추가 부분 ======================================================= -->										
										<div class="row g-3 align-items-center justify-content-between mb-3">
										<h6 class="mb-0">필터와 함께 검색</h6>
												<!-- Select option -->
												<div class="col-md-6">
													<!-- Short by filter -->
													<select class="form-select js-choice" aria-label=".form-select-sm" name="searchType">
														<option th:text="제목" value="curationNm" th:selected="${paramMap.searchType}=='curationNm'"></option>
														<option th:text="등록년도" value="registDt" th:selected="${paramMap.searchType}=='registDt'"></option>
													</select>
												</div>
												<!-- Search -->
												<div class="col-md-6">
													<div class="rounded position-relative">
														<input class="form-control pe-5" id="searchValue" name="searchValue" th:value="${param.searchValue}" type="text" placeholder="검색" aria-label="검색">
														<button class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit" th:onclick="fncSearch()"><i class="fas fa-search fs-6"></i></button>
													</div>
												</div>
											</div>
<!-- ======================================================== 필터 검색 추가 부분 ======================================================= -->										
											<!-- Title -->
											<h6 class="mb-2">지역 분류</h6>
											<!-- Popular filters group -->
											<div class="col-12">	
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="popolarType1" value="popolarType1" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'popolarType1')}">
														<label class="form-check-label" for="popolarType1">서울특별시</label>		<!-- contains는 like와 같으므로 to10을 고르면 to10과 to1이 같이 나온다 -->
													</div>
												</div>	
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="popolarType2" value="popolarType2" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'popolarType2')}">
														<label class="form-check-label" for="popolarType2">부산광역시</label>
													</div>
													<!-- <span class="small">(20)</span> -->
												</div>	
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="popolarType3" value="popolarType3" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'popolarType3')}">
														<label class="form-check-label" for="popolarType3">대구광역시</label>
													</div>
													<!-- <span class="small">(4)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="popolarType4" value="popolarType4" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'popolarType4')}">
														<label class="form-check-label" for="popolarType4">인천광역시</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="popolarType5" value="popolarType5" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'popolarType5')}">
														<label class="form-check-label" for="popolarType5">울산광역시</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="popolarType6" value="popolarType6" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'popolarType6')}">
														<label class="form-check-label" for="popolarType6">광주광역시</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="popolarType7" value="popolarType7" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'popolarType7')}">
														<label class="form-check-label" for="popolarType7">세종특별자치시</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="popolarType8" value="popolarType8" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'popolarType8')}">
														<label class="form-check-label" for="popolarType8">경기도</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="popolarType9" value="popolarType9" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'popolarType9')}">
														<label class="form-check-label" for="popolarType9">강원도</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="areaType1" value="areaType1" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'areaType1')}" >
														<label class="form-check-label" for="areaType1">충청북도</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="areaType2" value="areaType2" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'areaType2')}">
														<label class="form-check-label" for="popolarType11">충청남도</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="areaType3" value="areaType3" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'areaType3')}">
														<label class="form-check-label" for="popolarType12">전라북도</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="areaType4" value="areaType4" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'areaType4')}">
														<label class="form-check-label" for="popolarType13">전라남도</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="areaType5" value="areaType5" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'areaType5')}">
														<label class="form-check-label" for="popolarType14">경상북도</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="areaType6" value="areaType6" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'areaType6')}">
														<label class="form-check-label" for="popolarType15">경상남도</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="areaType7" value="areaType7" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'areaType7')}">
														<label class="form-check-label" for="popolarType16">제주특별자치도</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="areaType8" value="areaType8" name="areaCodeNm" th:checked="${#strings.contains(areaCodeNm,'areaType8')}">
														<label class="form-check-label" for="popolarType17">전국</label>
													</div>
													<!-- <span class="small">(2)</span> -->
												</div>
											</div>
										</div>
										<!-- Popular filters END -->

										<hr class="my-0"> <!-- Divider -->

										<!-- Layover Airport START -->
										<div class="card card-body rounded-0 rounded-bottom p-4">
											<!-- Title -->
											<h6 class="mb-2">분야 분류</h6>
											<!-- Layover Airport group -->
											<div class="col-12">
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value="lauoverType1" id="lauoverType1" name="ctgCodeNm" th:checked="${#strings.contains(ctgCodeNm,'lauoverType1')}">
														<label class="form-check-label" for="lauoverType1">농업기술</label>
													</div>
													<!-- <span class="small">(01)</span> -->
												</div>	
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value="lauoverType2" id="lauoverType2" name="ctgCodeNm" th:checked="${#strings.contains(ctgCodeNm,'lauoverType2')}">
														<label class="form-check-label" for="lauoverType2">교육</label>
													</div>
													<!-- <span class="small">(02)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value="lauoverType3" id="lauoverType3" name="ctgCodeNm" th:checked="${#strings.contains(ctgCodeNm,'lauoverType3')}">
														<label class="form-check-label" for="lauoverType3">기타</label>
													</div>
													<!-- <span class="small">(02)</span> -->
												</div>
												<!-- Checkbox -->
												<div class="d-flex justify-content-between align-items-center">
													<div class="form-check">
														<input class="form-check-input" type="checkbox" value="lauoverType4" id="lauoverType4" name="ctgCodeNm" th:checked="${#strings.contains(ctgCodeNm,'lauoverType4')}">
														<label class="form-check-label" for="lauoverType4">음식</label>
													</div>
													<!-- <span class="small">(03)</span> -->
												</div>
												
												<!-- Collapse body -->
												<div class="multi-collapse collapse" id="lauoverCollapes">
													<!-- Checkbox -->
													<div class="d-flex justify-content-between align-items-center">
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="lauoverType5" id="lauoverType5" name="ctgCodeNm" th:checked="${#strings.contains(ctgCodeNm,'lauoverType5')}">
															<label class="form-check-label" for="lauoverType5">생활문화</label>
														</div>
														<!-- <span class="small">(04)</span> -->
													</div>
													<!-- Checkbox -->
													<div class="d-flex justify-content-between align-items-center">
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="lauoverType6" id="lauoverType6" name="ctgCodeNm" th:checked="${#strings.contains(ctgCodeNm,'lauoverType6')}">
															<label class="form-check-label" for="lauoverType6">공모전</label>
														</div>
														<!-- <span class="small">(15)</span> -->
													</div>
													<!-- Checkbox -->
													<div class="d-flex justify-content-between align-items-center">
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="lauoverType7" id="lauoverType7" name="ctgCodeNm" th:checked="${#strings.contains(ctgCodeNm,'lauoverType7')}">
															<label class="form-check-label" for="lauoverType7">농자재</label>
														</div>
														<!-- <span class="small">(04)</span> -->
													</div>
													<!-- Checkbox -->
													<div class="d-flex justify-content-between align-items-center">
														<div class="form-check">
															<input class="form-check-input" type="checkbox" value="lauoverType8" id="lauoverType8" name="ctgCodeNm" th:checked="${#strings.contains(ctgCodeNm,'lauoverType8')}">
															<label class="form-check-label" for="lauoverType8">해외농업</label>
														</div>
														<!-- <span class="small">(04)</span> -->
													</div>
												</div>
												<!-- Collapse button -->
												<a class="btn-more d-flex align-items-center collapsed p-0 mb-0 mt-2" data-bs-toggle="collapse" href="#lauoverCollapes" role="button" aria-expanded="false" aria-controls="lauoverCollapes">
													See <span class="see-more ms-1">more</span><span class="see-less ms-1">less</span><i class="fa-solid fa-angle-down ms-2"></i>
												</a>
											</div>
										</div>
										<!-- Layover Airport END -->
								</div><!-- Form End -->
							</div>

							<!-- Buttons -->
							<div class="d-flex justify-content-between p-2 p-xl-0 mt-xl-4">
								<button class="btn btn-link p-0 mb-0" type="reset" onclick="location.href='http://localhost/agriculture/agriculturalPlusMinusList';">Clear all</button>
								<button class="btn btn-success2 mb-0"  type="submit" th:onclick="fncSearch()">필터 검색 결과</button>
							</div>
		
						</div>
					</form><!-- Responsive offcanvas body END -->
				</aside>
				<!-- Left sidebar END -->

				<!-- Main content START -->
				<div class="col-xl-8 col-xxl-9">
					<div class="vstack gap-4">
						
						<!-- Action box START -->
						<div class="bg-success bg-opacity-10 p-3 rounded-2 d-sm-flex justify-content-sm-between align-items-center">
							<!-- Title and badge -->
							<div class="d-flex align-items-center mb-3 mb-sm-0">
								<div class="position-relative z-index-1 me-2">
									<img src="../assets/images/element/05.svg" class="position-relative h-40px" alt="">
									<span class="smaller text-white position-absolute top-50 start-50 translate-middle">Hot</span>
								</div>
								<!-- Title -->
								<h6 class="mb-0 fw-normal">지금 <strong class='text-success'>농업기술더하기나누기</strong>에서 당신을 기다립니다.</h6>
							</div>

							<!-- Button -->
							<a href="https://www.nongsaro.go.kr/portal/ps/psx/psxa/mlrdCurationMain.ps?menuId=PS03974" target="_blank" class="btn btn-sm btn-success2 mb-0">Go Now</a>
						</div>
						<!-- Action box END -->

						<!-- ============================================================ -->
						<!-- Booking table START -->
						<div class="row">
							<div class="col-12">
								<div class="card border rounded-3" style="font-size: 0.875rem;">
									<!-- Card header START -->
									<div class="card-header border-bottom">
										<div class="d-sm-flex justify-content-between align-items-center">
											<h5 class="mb-2 mb-sm-0">농업기술 더하기 나누기 목록</h5>
											<a th:href="|/|" class="btn btn-sm btn-info mb-0">메인페이지로</a>
										</div>
									</div>
									<!-- Card header END -->

									<!-- Card body START -->
									<div class="card-body">
										<!-- Search and select START -->
										<form th:action="@{/agriculture/agriculturalPlusMinusList}" method="get" id="mlrdForm2" name="mlrdForm2" class="mlrdForm2">
											<div class="row g-3 align-items-center justify-content-between mb-3">
												<!-- Select option -->
												<div class="col-md-3">
													<!-- Short by filter -->
													<select class="form-select js-choice" aria-label=".form-select-sm" name="searchType">
														<option th:text="제목" value="curationNm" th:selected="${paramMap.searchType}=='curationNm'"></option>
														<option th:text="등록년도" value="registDt" th:selected="${paramMap.searchType}=='registDt'"></option>
													</select>
												</div>
												<!-- Search -->
												<div class="col-md-8">
													<div class="rounded position-relative">
														<input class="form-control pe-5" id="searchValue" name="searchValue" th:value="${param.searchValue}" type="text" placeholder="Search" aria-label="Search">
														<button class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit" th:onclick="fncSearch()"><i class="fas fa-search fs-6"></i></button>
													</div>
												</div>
											</div>
										</form>
										<!-- Search and select END -->

										<!-- Hotel room list START -->
										<div class="table-responsive border-0">
											<table class="table align-middle p-4 mb-0 table-hover table-shrink">
												<!-- Table head -->
												<thead class="table-light" style="text-align: center;">
													<tr>
														<th scope="col" class="border-0 rounded-start">#</th>
														<th scope="col" class="border-0">제목</th>
														<th scope="col" class="border-0">지역</th>
														<th scope="col" class="border-0">작목</th>
														<th scope="col" class="border-0">분야</th>
														<th scope="col" class="border-0 rounded-end">등록일</th>
													</tr>
												</thead>

												<!-- Table body START -->
											
												<th:block th:if="${mlist == null}">
													<tbody>
														<tr>
															<td colspan="6">조회된 글이 없습니다.</td>
														</tr>
													</tbody>
												</th:block>
												<th:block th:if="${mlist != null}">
											    	<tbody class="border-top-0">
														<!-- Table item -->
														<tr style="text-align: center;" th:each="mlcurationList : ${mlist}">
															<td> <span class="mb-0">[[${mlcurationList.mlNo}]]</span> </td>
															<td style="text-align: left; font-weight: bold;"> <div class="mb-0 textcutting" ><a th:href="|/agriculture/agriculturalPlusMinusDetails?dataNO=${mlcurationList.dataNO}|">[[${mlcurationList.curationNm}]]</a></div> </td>
															<td> [[${mlcurationList.areaCodeNm}]] </td>
															<td> <div class="badge bg-success bg-opacity-10 text-success">[[${mlcurationList.kidofcomdtyCodeNm}]]</div> </td>
															<td> <div class="badge text-bg-success">[[${mlcurationList.ctgCodeNm}]]</div> </td>
															<td style="font-size: 12px;">[[${mlcurationList.registDt}]]</td>
														</tr>
													</tbody>
												</th:block>
												<!-- Table body END -->
											</table>
										</div>
										<!-- Hotel room list END -->
									</div>
									<!-- Card body END -->

									<!-- Card footer START -->
									<div class="card-footer pt-0">
										<!-- Pagination and content -->
										<div class="d-sm-flex justify-content-sm-between align-items-sm-center">
											<!-- Content -->
											<p class="mb-sm-0 text-center text-sm-start">검색결과 총 [[${mboardCount}]] 개가 발견되었습니다.</p>
											
											
											<!-- 페이지 부  -->
											<th:block th:if="${mboardCount > 0}">
												<nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
													<ul class="pagination pagination-sm pagination-primary-soft mb-0">
														<li class="page-item">
															<button class="page-link" th:onclick="movePage(1);">&lt;&lt;</button>
														</li>
														<li class="page-item">
															<button class="page-link"  th:onclick="movePage([[${pageInfo.prevPage}]]);">Prev</button>
														</li>
													      <th:block th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
													            <th:block th:if="${status.current == pageInfo.currentPage}">
													            	<li class="page-item active">
													                  	<button class="page-link" disabled>[[${status.current}]]<span class="visually-hidden">(current)</span></button>
													                 </li>
													            </th:block>
													            <th:block th:if="${status.current != pageInfo.currentPage}">
													            	<li class="page-item">
													                  <button class="page-link" th:onclick="movePage([[${status.current}]])">
													                        [[${status.current}]]
													                  </button>
													                  </li>
													            </th:block>
													      </th:block>								
														
														
														<li class="page-item">
															<button class="page-link" th:onclick="movePage([[${pageInfo.nextPage}]])">Next</button>
														</li>
														<li class="page-item">
															<button class="page-link" th:onclick="movePage([[${pageInfo.maxPage}]])">&gt;&gt;</button>
														</li>
													</ul>
												</nav>
											</th:block>
										</div>
									</div>
									<!-- Card footer END -->
								</div>
							</div>
						</div>	
						<!-- Booking table END -->
					</div>
				</div>
				<!-- Main content END -->
			
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
Flight list END -->


<!-- =======================
Action box START -->
<section>
	<div class="container" >
		<div class="row g-4">
			<div class="col-12">
				<!-- Action box START -->
				<div class="card card-body shadow p-4" style="background-color: rgb(217, 244, 180);">
					<div class="row g-4 justify-content-between align-items-center">
						<!-- Image -->
						<div class="col-sm-3 col-lg-2">
							<img src="../assets/images/farmstouch/example/fam02.png" alt="">
						</div>

						<!-- Title and content -->
						<div class="col-sm-9 col-lg-6 col-xl-7">
							<h4>Why did you choose Farm's Touch</h4>
							<p class="mb-0">농업과학기술 개발보급과 진흥을 위해 농촌진흥청 및 소속기관이 보유한 다양한 콘텐츠 및 대국민 서비스를 제공하고 있습니다.</p>
						</div>

						<!-- Button -->
						<div class="col-lg-3 col-xxl-2 d-grid">
							
						</div>
					</div>
				</div>
				<!-- Action box END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Action box END -->


</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================Footer START -->
	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>

<script type="text/javascript">
	var url_href = window.location.href; /* 현제 페이지 url 따오기 */
	var url = new URL(url_href); /* URL 객체 선언 */
	
	function movePage(page){	/* 현재 page 숫자를 받아와서 */
		url.searchParams.set("page", page);	/* page=숫자 형태로 만듬 */
		
		window.location.search = url.searchParams; /* location.search : search property는 물음표(?)를 포함하여 URL의 쿼리 문자열 부분을 반환 */
	};
	
</script>