<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
<!-- =======================
About hotel START -->
<section class="pt-0">
	<div class="container" data-sticky-container>

		<div class="row g-4 g-xl-5">
			<!-- Content START -->
			<div class="col-xl-8 order-1 mt-6">
				<div class="vstack gap-5">
					<!-- About hotel START -->
					<div class="card bg-transparent">
						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<div class="row">
								<img class="col-11 mb-4 mt-1 mx-auto" th:src="${mvi.imgUrl}"  width="600" height="450" />
							</div>
							<!-- Child review START -->
							<div class="d-md-flex p-3 rounded-3" style="background-color: #D8EBD9;">
								<div class="mt-2 mt-md-0">
									<p class="fs-7">[[${mvi.knmcNm}]]</p>
									<h5 class="fw-bold mb-3">※ [[${mvi.cntntsSj}]]</h5>
									<p class="mb-2 h6 fw-light" th:utext="|${mvi.smmInfo.replace('.', '.<br>')}|"></p>
								</div>
							</div>
							<th:block th:if="${not #strings.isEmpty(mvi.atpnCn)}">
								<div class="d-md-flex p-3 rounded-3 mt-3" style="background-color: #D8EBD9;">
								<div class="mt-2 mt-md-0">
									<h5 class="fw-bold mb-3">※ 주의사항</h5>
									<p class="mb-2 h6 fw-light" th:utext="|${mvi.atpnCn.replace('.', '.<br>')}|"></p>
								</div>
							</div>
							</th:block>
							<!-- Child review END -->
						</div>
						<!-- Card body END -->
					</div>
					<!-- About hotel START -->
				</div>	
			</div>
			<!-- Content END -->
			<!-- Right side content START -->
			<aside class="col-xl-4 order-xl-2 ">
				<div>

					<!-- Best deal START -->
					<div class="mt-4 d-none d-xl-block">

						<div class="row">
							<h5 class="fw-bold justify-content-start col-7">관련 콘텐츠</h5>
							<div class="col-5 align-content-end"><a th:href="|/agriculture/agriculturalMachineryVideoList?searchType=Img|">보러가기 <i class="fa-solid fa-angle-right" style="color: rgb(168, 222, 183)"></i></a></div>
						</div>
						<th:block th:if="${list != null}">
							
						<div th:each="mvilist : ${list}" class="card rounded-0 overflow-hidden mb-0">
							<div class="row g-0 pt-3">
								<!-- Image -->
								<div class="col-sm-4 col-md-10 col-lg-4">
									<img th:src="${mvilist.imgUrl}"class="card-img rounded-0" alt="" style="width:100%; height:6rem;">
								</div>
								<!-- Title and content -->
								<div class="col-sm-8 col-md-14 col-lg-8">
									<div class="card-body ps-2 pt-0">
										<h6 class="card-title fw-light pt-1" style="vertical-align: top;"><a th:href="|/agriculture/agriculturalMachineryImgDetails?no=${mvilist.cntntsNo}|" class="stretched-link">[[${mvilist.cntntsSj}]]</a></h6>
										<p class="fs-7">출처 : 농사로</p>
									</div>
								</div>
							</div>
						</div>

						</th:block>

					</div>
					<!-- Best deal END -->
				</div>	
			</aside>
			<!-- Right side content END -->
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
About hotel END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->


	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>