<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
<!-- =======================
About hotel START -->
<section class="pt-0">
	<div class="container" data-sticky-container>

		<div class="row g-4 g-xl-5">
			<!-- Content START -->
			<div class="col-xl-8 order-1 mt-6">
				<div class="vstack gap-5">
					<!-- About hotel START -->
					<div class="card bg-transparent">
						<!-- Card body START -->
						<div class="card-body pt-4 p-0">
							<video width="600" height="450" controls="" autoplay="" class="mb-4 mt-4">
								<source src="http://www.nongsaro.go.kr/cms_contents/756/34954_MF_VEDIO_01.mp4" type="video/mp4">
								<embed id="Movie_Player" rc="http://www.nongsaro.go.kr/cms_contents/756/34954_MF_VEDIO_01.mp4" type="video/x-ms-wmv" width="37.5rem" height="28.125rem" style="background:#ffffff url('http://www.nongsaro.go.kr/bs/images/common/loading.gir') no-repeat center center;">
							</video>
							<!-- Child review START -->
							<div class="d-md-flex p-3 rounded-3" style="background-color: #D8EBD9;">
								<div class="mt-2 mt-md-0">
									<h5 class="fw-bold mb-3">경운기 도로주행</h5>
									<p class="mb-2 h6 fw-light">경운기로 도로주행시 안전주의사항</p>
								</div>
							</div>
							<!-- Child review END -->
						</div>
						<!-- Card body END -->
					</div>
					<!-- About hotel START -->
				</div>	
			</div>
			<!-- Content END -->
			<!-- Right side content START -->
			<aside class="col-xl-4 order-xl-2 ">
				<div>

					<!-- Best deal START -->
					<div class="mt-4 d-none d-xl-block">

						<div class="row">
							<h5 class="fw-bold justify-content-start col-7">관련 콘텐츠</h5>
							<div class="col-5 align-content-end"><a href="#">보러가기 <i class="fa-solid fa-angle-right" style="color: rgb(168, 222, 183)"></i></a></div>
						</div>
						
						<div class="card rounded-0 overflow-hidden mb-0">
							<div class="row g-0">
								<!-- Image -->
								<div class="col-sm-4 col-md-10 col-lg-4">
									<img src="http://www.nongsaro.go.kr/cms_contents/756/34969_MF_ATTACH_01.jpg" class="card-img rounded-0" alt="">
								</div>
								<!-- Title and content -->
								<div class="col-sm-8 col-md-14 col-lg-8">
									<div class="card-body ps-2 pt-0">
										<h6 class="card-title fw-light pt-1" style="vertical-align: top;"><a href="#" class="stretched-link">동력예취기 안전사고 예방</a></h6>
										<p class="fs-7">2023. 1.18 오전 10:54:00</p>
									</div>
								</div>
							</div>
						</div>

						<div class="card rounded-0 overflow-hidden mb-0">
							<div class="row g-0">
								<!-- Image -->
								<div class="col-sm-4 col-md-10 col-lg-4">
									<img src="http://www.nongsaro.go.kr/cms_contents/756/34966_MF_ATTACH_01.jpg" class="card-img rounded-0" alt="">
								</div>
								<!-- Title and content -->
								<div class="col-sm-8 col-md-14 col-lg-8">
									<div class="card-body ps-2 pt-0">
										<h6 class="card-title fw-light pt-1" style="vertical-align: top;"><a href="#" class="stretched-link">농기계 사고실태 및 사례</a></h6>
										<p class="fs-7">2023. 1.18 오전 10:54:00</p>
									</div>
								</div>
							</div>
						</div>

						<div class="card rounded-0 overflow-hidden mb-0">
							<div class="row g-0">
								<!-- Image -->
								<div class="col-sm-4 col-md-10 col-lg-4">
									<img src="http://www.nongsaro.go.kr/cms_contents/756/34966_MF_ATTACH_01.jpg" class="card-img rounded-0" alt="">
								</div>
								<!-- Title and content -->
								<div class="col-sm-8 col-md-14 col-lg-8">
									<div class="card-body ps-2 pt-0">
										<h6 class="card-title fw-light pt-1" style="vertical-align: top;"><a href="#" class="stretched-link">농기계 사고실태 및 사례</a></h6>
										<p class="fs-7">2023. 1.18 오전 10:54:00</p>
									</div>
								</div>
							</div>
						</div>

						<div class="card rounded-0 overflow-hidden mb-0">
							<div class="row g-0">
								<!-- Image -->
								<div class="col-sm-4 col-md-10 col-lg-4">
									<img src="http://www.nongsaro.go.kr/cms_contents/756/34966_MF_ATTACH_01.jpg" class="card-img rounded-0" alt="">
								</div>
								<!-- Title and content -->
								<div class="col-sm-8 col-md-14 col-lg-8">
									<div class="card-body ps-2 pt-0">
										<h6 class="card-title fw-light pt-1" style="vertical-align: top;"><a href="#" class="stretched-link">농기계 사고실태 및 사례</a></h6>
										<p class="fs-7">2023. 1.18 오전 10:54:00</p>
									</div>
								</div>
							</div>
						</div>

						<div class="card rounded-0 overflow-hidden mb-0">
							<div class="row g-0">
								<!-- Image -->
								<div class="col-sm-4 col-md-10 col-lg-4">
									<img src="http://www.nongsaro.go.kr/cms_contents/756/34969_MF_ATTACH_01.jpg" class="card-img rounded-0" alt="">
								</div>
								<!-- Title and content -->
								<div class="col-sm-8 col-md-14 col-lg-8">
									<div class="card-body ps-2 pt-0">
										<h6 class="card-title fw-light pt-1" style="vertical-align: top;"><a href="#" class="stretched-link">동력예취기 안전사고 예방</a></h6>
										<p class="fs-7">2023. 1.18 오전 10:54:00</p>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!-- Best deal END -->
				</div>	
			</aside>
			<!-- Right side content END -->
		</div> <!-- Row END -->
	</div>
</section>
<!-- =======================
About hotel END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->


	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>