<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>


<!-- Header END -->	
<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main content START -->
<section class="pt-4 pb-4" style="background-color: #F6EDD9;">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-xl-8 mx-auto">

				<div class="card shadow">
					<!-- Image -->
					<img th:src="${variety.imgFileLink}" class="rounded-top" alt="">

					<!-- Card body -->
					<div class="card-body text-center p-4">
						<!-- Title -->
						<h1 class="card-title fs-3">[[${variety.cntntsSj}]]</h1>
						<p class="lead mb-3">[[${variety.svcCodeNm}]]</p>

						<!-- Second title -->

						<!-- List -->
						<div class="row justify-content-between text-start mb-4">
							<div class="col-lg-6">
								<ul class="list-group list-group-borderless">
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="fa-solid fa-user"></i> 작성자 :</span>
										<span class="h6 fw-normal mb-0">[[${variety.wrterNm}]]</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="fa-solid fa-phone"></i> 전화번호 :</span>
										<span class="h6 fw-normal mb-0">[[${variety.telno}]]</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="fa-solid fa-envelope"></i> 이메일 :</span>
										<span class="h6 fw-normal mb-0">[[${variety.email}]]</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between align-items-center">
										<span class="mb-0"><i class="fa-solid fa-calendar"></i> 육성년도 :</span>
										<span class="h6 fw-normal mb-0">[[${variety.unbrngYear}]]</span>
									</li>
									<li class="list-group-item d-sm-flex justify-content-between">
										<span class="mb-0 col-lg-4"><i class="fa-solid fa-location-dot"></i> 육성기관 :</span>
										<span class="h6 fw-normal mb-0">[[${variety.unbrngInsttInfo}]]</span>
									</li>
								</ul>
							</div>

							<div class="col-lg-6">
								<ul class="list-group list-group-borderless">
									<li class="list-group-item d-sm-flex justify-content-between">
										<span class="mb-0 col-lg-4"><i class="fa-solid fa-pen"></i> 주요특성 :</span>
										<span class="h6 fw-normal mb-0">[[${variety.mainChartrInfo}]]</span>
									</li>
									
								</ul>
							</div>
						</div>

						<!-- Button -->
						<div class="d-sm-flex justify-content-sm-end d-grid">
							<!-- Share button with dropdown -->
							<a class="btn btn-warning mb-0 me-2 " th:href="|/agriculture/farmingVarietiesList|"><i class="fa-solid fa-list"></i> 목록으로</a>
							<div class="dropdown me-sm-2 mb-2 mb-sm-0">
								
								<a href="#" class="btn btn-light mb-0 w-100" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-share me-2"></i>공유하기
								</a>
								<!-- dropdown button -->
								<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
									<li><a id="btnTwitter" class="dropdown-item link-icon twitter" href="javascript:shareTwitter();"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
									<!-- <li><a id="btnFacebook" class="dropdown-item link-icon facebook" href="javascript:shareFacebook();"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li> -->
									<li><a id="btnKakao" class="dropdown-item link-icon kakao" href="javascript:shareKakao();">
										<img src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/null/external-free-instant-messaging-app-for-cross-platform-devices-logo-bold-tal-revivo.png" style="height:15px"/> KaKao</a></li>
									<li><a class="dropdown-item" href="#" onclick="clip(); return false;"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
								</ul>
							</div>
							<!-- Download button -->
							<a th:href="${variety.atchFileLink}" class="btn btn-success2 mb-0"><i class="bi bi-file-pdf me-2"></i>품종요약서 다운로드</a>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main content START -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

<script type="text/javascript">
var url = '';

function clip(){

	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href;
	textarea.value = url;
	textarea.select();
	document.execCommand("copy");
	document.body.removeChild(textarea);
	alert("URL이 복사되었습니다.")
}

// 트위터
function shareTwitter() {

    var sendText = "farmstouch"; // 전달할 텍스트
    var sendUrl = url; // 전달할 URL
    window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + sendUrl);
}

// 페이스북
/* function shareFacebook() {
	var url = '';
	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href;
	textarea.value = url;
	textarea.select();
	document.execCommand("copy");
	document.body.removeChild(textarea);
    var sendUrl = "url"; // 전달할 URL
    window.open("http://www.facebook.com/sharer/sharer.php?u=" + sendUrl);
} */

// 카카오
function shareKakao() {
      
      // 사용할 앱의 JavaScript 키 설정
      Kakao.init('9b8a2ab69f37af22f6784fef92e74104');

      // 카카오링크 버튼 생성
      Kakao.Link.createDefaultButton({
            container: '#btnKakao', // 카카오공유버튼ID
            objectType: 'feed',
            content: {
                  title: "Farm's Touch", // 보여질 제목
                  description: "반갑습니다. 초보 농부를 위한 온라인 지침서 팜스터치 입니다.", // 보여질 설명
                  imageUrl: "https://www.urbanbrush.net/web/wp-content/uploads/edd/2018/02/web-20180213120309801324.png", // 콘텐츠 URL
                  link: {
                        mobileWebUrl: url,
                        webUrl: url
                  }
            }
      });
}

</script>
<!-- =======================Footer START -->

	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>