<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

	<!-- Header START -->
	<header th:replace="~{common/layout2 :: #header}"></header>


	<!-- Header END -->

	<!-- **************** MAIN CONTENT START **************** -->
	<main>

		<!-- =======================
Menu item START -->

		<!-- 헤더 -->
		<section class="pt-0">
			<div class="container-fluid px-0">
				<!-- Background image -->
				<div class="p-3 p-sm-5"
					style="background-image: url(/assets/images/farmstouch/safetybg.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover; height: 27rem;">
					<!-- Banner title -->
					<div class="row">
						<div class="col-md-10 mx-auto text-center">
							<h1 class="text-center text-white mt-7"
								style="text-shadow: 0.125rem 0.125rem 0.125rem #093b15; color: white;">농업기계
								안전 이용지침</h1>
							<h4 class="text-center text-white"
								style="text-shadow: 0.125rem 0.125rem 0.125rem #093b15; color: white;">Agricultural
								Machine Safety Guidelines</h4>
						</div>
					</div>

					<!-- Booking from END -->
				</div>
			</div>
		</section>

		<!-- =======================
Menu item END -->

		<!-- =======================
Content START -->
		<!-- 검색부 -->
		<section class="pt-0">
			<div class="container vstack gap-4">
				<!-- Title START -->
				<div class="row">
					<div class="col-12">
						<h1 class="fs-4 mb-0">
							<i class="bi bi-journals fa-fw me-1"></i>농업기계 안전이용 지침
						</h1>
					</div>
				</div>
				<!-- Title END -->
				<!-- Listing table START -->
				<div class="row">
					<div class="col-12">
						<div class="card border">
							<div class="card-header border-bottom">
								<!-- Search and select START -->
								<div class="row g-3 align-items-center justify-content-between">
									<!-- Select option -->
									 <div class="col-md-4">
										<!-- Short by filter -->
										<h5 class="card-header-title">
											농작업 안전 일반사항<span class="badge bg-success bg-opacity-10 text-success ms-2">[[${safetyCount}]] Items</span>
										</h5>
									 </div>
									<!-- Search -->
									
									
									<div class="col-md-4">
									<form th:action="@{/agriculture/safety}" method="get" >
										<div class="rounded position-relative">
											<input class="form-control pe-5" type="search" placeholder="Search" id="searchValue" name="searchValue" th:value="${param.searchValue}" aria-label="Search">
											<button class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit">
												<i class="fas fa-search fs-6"></i>
											</button>
										</div>
										</form>
									</div>
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<!-- 아코디언 시작-->

			<div class="container">

					<div class="accordion" id="accordionPanelsStayOpenExample">
						<th:block th:if="${slist ==null}">
							<h3>검색 결과가 없습니다.</h3>
						</th:block>

						<th:block th:if="${slist != null}">
						<div th:each="safety : ${slist}">
							<div class="accordion-item">  <!-- th:each="m :${#numbers.sequence(1,8)}" -->
								<h2 class="accordion-header" th:id="panelsStayOpen-heading+${safetyStat.count}">
									<button class="accordion-button collapsed" type="button"
										data-bs-toggle="collapse"
										th:attr="data-bs-target='#panelsStayOpen-collapse'+${safetyStat.count}"
										aria-expanded="true"
										aria-controls="panelsStayOpen-collapse${safetyStat.count}">
										<!-- data-bs-target="#panelsStayOpen-collapse+${safetyStat.count}" -->
										<!-- aria-expanded="true"-->
										<!-- 1 -->

										<!-- Card img -->
										<div class="col-md-3 col-lg-2">
											<img
												th:src="|https://www.nongsaro.go.kr/${safety.rtnFileCours}/${safety.rtnStreFileNm}|"
												class="card-img rounded-2" alt="Card image"
												style="width: 20.75rem; height: 5.5rem;">
										</div>

										<!-- Card body -->
										<div class="col-md-9 col-lg-9">
											<div
												class="card-body position-relat
												ive d-flex flex-column p-0 h-100"
												style="margin-left: 1.875rem;">
												<!-- Title -->
												<h5 class="card-title mb-0 me-4">[[${safety.cntntsSj}]]</h5>
												<small><i class="bi bi-truck me-2"></i>[[${safety.knmcNm}]]</small>

												<!-- Price and Button -->
												<div
													class="d-sm-flex justify-content-sm-between align-items-center mt-3 mt-md-auto">
													<!-- Button -->
													<div class="d-flex align-items-center">
														<span class="mb-0 me-2">[[${safety.safeacdntSeNm}]]</span>
													</div>
												</div>
											</div>
										</div>
										<!-- 1-->
									</button>
								</h2>
								<!-- 밑에 내용 -->
								<div th:id="panelsStayOpen-collapse+${safetyStat.count}"
									class="accordion-collapse collapse"
									aria-labelledby="panelsStayOpen-heading+${safetyStat.count}">
									<div class="accordion-body list-view"
										style="margin-left: 1.875rem;">
										<ul>
											<li style="margin-bottom: 1.25rem;"><strong>안전사고
													구분</strong>
												<p>[[${safety.safeacdntSeNm}]]</p></li>
											<li style="margin-bottom: 1.25rem;"><strong>내용</strong>
											 <p th:utext="|${safety.cn.replace('다.', '다.<br>')}|"></p></li>
											<li style="margin-bottom: 1.25rem;"><strong>사례이미지</strong><br>
												<div class="img-temp">
													<dl id="zoomList"
														style="position: relative; display: block;">
														<!-- <dt>대표이미지</dt> -->
														<dd class="pic">
															<img th:src="|https://www.nongsaro.go.kr/${safety.rtnFileCours}/${safety.rtnStreFileNm}|"
																alt="" class="img" data-pop="34798_MF_ATTACH_01.jpg" style="width: 35.875rem; height: 20.5rem;" />
														</dd>
													</dl>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						</th:block>
					</div>
					<!-- 아코디언 끝-->



				<!-- Listing table END -->



				<!-- 페이지 부 -->
				<th:block th:if="${safetyCount > 0}">
					<div class="row">
						<div class="col-12">
							<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
								<ul class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
									<li class="page-item mb-0">
										<button class="page-link" tabindex="-1" th:onclick="movePage(1);">처음</button>
									</li>
									<li class="page-item mb-0">
										<button class="page-link" tabindex="-1" th:onclick="movePage([[${pageInfo.prevPage}]]);">
											<i class="fa-solid fa-angle-left"></i>
										</button>
									</li>

									<th:block th:each="num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
										<th:block th:if="${status.current == pageInfo.currentPage}">
											<li class="page-item mb-0 active">
												<button class="page-link" disabled>[[${status.current}]]</button>
											</li>
										</th:block>
										<th:block th:if="${status.current != pageInfo.currentPage}">
											<li class="page-item mb-0">
												<button class="page-link"
													th:onclick="movePage([[${status.current}]])">[[${status.current}]]</button>
											</li>
										</th:block>
									</th:block>
									<li class="page-item mb-0">
										<button class="page-link"
											th:onclick="movePage([[${pageInfo.nextPage}]])">
											<i class="fa-solid fa-angle-right"></i>
										</button>
									</li>
									<li class="page-item mb-0">
										<button class="page-link"
											th:onclick="movePage([[${pageInfo.maxPage}]])">끝</button>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</th:block>
			</div>
		</section>
		<!-- =======================
Content END -->

	</main>
	<!-- **************** MAIN CONTENT END **************** -->

	<!-- footer 시작 -->
	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>

<script type="text/javascript">
	var url_href = window.location.href;
	var url = new URL(url_href); // URL 객체 선언

	function movePage(page) {
		url.searchParams.set("page", page);

		window.location.search = url.searchParams;
	};
</script>