<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.multi.bbs.prvateTherpy.model.mapper.PrvateTherpyMapper">

	<resultMap type="PrvateTherpy" id="PrvateTherpyListResultMap">
		<id property="prvNo" column="prvNo"/>
		<result property="cntntsNo" column="cntntsNo"/>
		<result property="cntntsSj" column="cntntsSj"/>
		<result property="bneNm" column="bneNm"/>
		<result property="hbdcNm" column="hbdcNm"/>
		
		<result property="thmbImgUrl" column="thmbImgUrl"/>
		<result property="imgUrl" column="imgUrl"/>
		<result property="useeRegn" column="useeRegn"/>
		<result property="stle" column="stle"/>
		<result property="prvateTherpy" column="prvateTherpy"/>
		
		<result property="imgUrl1" column="imgUrl1"/>
		<result property="imgUrl2" column="imgUrl2"/>
		<result property="imgUrl3" column="imgUrl3"/>
		<result property="imgUrl4" column="imgUrl4"/>
		<result property="imgUrl5" column="imgUrl5"/>
		<result property="imgUrl6" column="imgUrl6"/>
	</resultMap>

	<!-- select * from prvateTherpyFinal; -->
	<!-- 게시글 출력  --> <!-- resultMap은 위에서 선언한 table의 id와 같다 -->
	<select id="selectPrvateTherpyList" resultMap="PrvateTherpyListResultMap" parameterType="map">
		SELECT  
			prvNo, cntntsNo, cntntsSj, bneNm, hbdcNm, thmbImgUrl, imgUrl, useeRegn, stle, prvateTherpy,
			imgUrl1, imgUrl2, imgUrl3, imgUrl4, imgUrl5, imgUrl6
		FROM prvateTherpyFinal
		WHERE 1=1
		<if test="cntntsSj != null">
			AND cntntsSj LIKE '%${cntntsSj}%' 
		</if>		
		<if test="bneNm != null">
			AND bneNm LIKE '%${bneNm}%' 
		</if>		
		<if test="prvateTherpy != null">
			AND prvateTherpy LIKE '%${prvateTherpy}%' 
		</if>		
		ORDER BY prvNo ASC LIMIT ${limit} OFFSET ${offset}
	</select>
	
	
	<!-- 게시글 갯수 -->
	<select id="selectPrvateTherpyCount" resultType="int" parameterType="map">
		SELECT  
			 COUNT(DISTINCT cntntsNo)
		FROM prvateTherpyFinal
		WHERE 1=1
		<if test="cntntsSj != null">
			AND cntntsSj LIKE '%${cntntsSj}%' 
		</if>		
		<if test="bneNm != null">
			AND bneNm LIKE '%${bneNm}%' 
		</if>		
		<if test="prvateTherpy != null">
			AND prvateTherpy LIKE '%${prvateTherpy}%' 
		</if>			
	</select>
	
	
	<!-- 상세페이지 view > 목록 번호를 골라서 들고오자 -->
	<select id="selecPrvateTherpyByNo" parameterType="String" resultMap="PrvateTherpyListResultMap">
		SELECT  
			prvNo, cntntsNo, cntntsSj, bneNm, hbdcNm, thmbImgUrl, imgUrl, useeRegn, stle, prvateTherpy,
			imgUrl1, imgUrl2, imgUrl3, imgUrl4, imgUrl5, imgUrl6
		FROM prvateTherpyFinal
		WHERE 1=1
		<if test="cntntsNo != null">
			AND cntntsNo = #{cntntsNo}
		</if>
	</select>
	
	
	<!-- 상세페이지 다른 약초 자기 자신 제외하고 랜덤으로 1개 뽑아오기 -->
	<!--  select * from prvateTherpyFinal where cntntsNo NOT LIKE '204881' Order by rand() Limit 2;  -->
	<select id="selectPrvateTherpyOtherList" resultMap="PrvateTherpyListResultMap" parameterType="String">
		SELECT  
			prvNo, cntntsNo, cntntsSj, bneNm, hbdcNm, thmbImgUrl, imgUrl, useeRegn, stle, prvateTherpy,
			imgUrl1, imgUrl2, imgUrl3, imgUrl4, imgUrl5, imgUrl6
		FROM prvateTherpyFinal
		WHERE 1=1
		<if test="cntntsNo != null">
			AND cntntsNo != #{cntntsNo}
		</if>
		<if test="imgUrl2 == null">
			AND imgUrl2 not like ''
		</if>
		Order by rand() Limit 1
	</select>
	
</mapper>