<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>
	<!-- Header END -->
<!-- **************** MAIN CONTENT START **************** -->
<main>
<form th:action="@{/plant/drygardenList}" method="get">
	<!-- =======================Main Banner START -->
	<section class="pt-0 mt-3">
		<div class="container">
			<!-- Background image -->
			<div class="rounded-3 p-3 p-sm-5 " style="background-image: url(../assets/images/farmstouch/dry1.jpg); background-position: 0 auto; background-repeat: no-repeat; background-size: cover;">
				<!-- Banner title -->
            	<div class="row my-2 my-xl-5"> 
					<div class="col-md-6 mx-auto" ></div>
					<div class="col-md-5 mx-auto rounded-3" > 
						<h1 class="text-center"><a style="text-shadow: 3px 3px 3px white; color: #064635;" th:href="|/plant/drygardenList|">다육식물 검색</a></h1>
					</div>
				
				</div>

				<!-- Booking from START -->
				<div class="bg-mode shadow rounded-3 position-relative p-4 pe-md-5 pb-5 pb-md-4 mb-4">
					<div class="row g-4 align-items-center">
						<!-- Location -->
						<div class="col-lg-10">
							<div class="form-control-border form-control-transparent form-fs-md d-flex">
								<!-- Icon -->
								<i class="bi bi-flower3 fs-3 me-2 mt-2" style="color:var(--bs-success)"></i>
								<!-- Select input -->
								<div class="flex-grow-1">
									<label class="form-label">검색</label>
									<input type="text" class="form-control form-control-lg form-guest-selector" placeholder="검색어를 입력하세요." name="searchName" id="searchName">
								</div>
							</div>
						</div>
                    	<div class="col-lg-2">
							<div class="form-control-border form-control-transparent form-fs-md d-flex">
								<!-- Select input -->
								<div class="flex-grow-1">
									<label class="form-label">분류</label>
									<select class="form-select js-choice" name="searchNameType">
										<option value="">분류명</option>
										<option value="cntntsSj" selected>식물 명</option>
										<option value="scnm">영문 명</option>
										<option value="clNm">과 명</option>
									</select>
								</div>
							</div>
						</div>
					<!-- Guest -->	
					</div>
					<!-- Button -->
					<div class="btn-position-md-middle">
						<button  class="icon-lg btn btn-round btn-success mb-0" type="submit"><i class="bi bi-search fa-fw"></i></button>
					</div>
				</div>
				<!-- Booking from END -->
			</div>
			</div>
		</section>
<!-- =======================
Main Banner END -->

<!-- =======================
Hotel list START -->
	<section class="pt-0">
		<div class="container">
			
	
			<div class="row">
				
				<!-- Left sidebar END -->
	
				<!-- Main content START -->
				<div class="col-xl-8 col-xxl-9">
					<div class="vstack gap-4">
						<th:block th:if="${listSize == 0}">
						
						<div class="row g-0 pt-3">
								<div class="col-8 mx-auto">
								<img src="../assets/images/farmstouch/noresult2.png" class="rounded-3 position-relative" alt="">
								</div>
								
							</div>
							
						
						</th:block>
						<th:block th:if="${list != null}">
						<!-- Card item START -->
							<div th:each="drygarden : ${list}" class="card shadow p-2">
								<div class="row g-0">
									<!-- Card img -->
									<div class="col-md-5" style="text-align: center;">
										<img th:src="${drygarden.mainImgUrl1}" style="height:15rem; width:20rem;"class="card-img rounded-2" alt="Card image">
									</div>
		
									<!-- Card body -->
									<div class="col-md-7">
										<div class="card-body py-md-2 d-flex flex-column h-100">
		
											<!-- Rating and buttons -->
											<div class="d-flex justify-content-between align-items-center">
												<th:block th:if="${#strings.equals(drygarden.manageLevelNm,'매우 쉬움')}">
												<ul class="list-inline mb-0">	
													<li class="list-inline-item me-0 small">난이도 : <i class="fa-solid fa-star text-warning"></i></li>
												</ul>
												</th:block>
												<th:block th:if="${#strings.equals(drygarden.manageLevelNm,'쉬움')}">
												<ul class="list-inline mb-0">	
													<li class="list-inline-item me-0 small">난이도 : <i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
												</ul>
												</th:block>
												<th:block th:if="${#strings.equals(drygarden.manageLevelNm,'보통')}">
												<ul class="list-inline mb-0">	
													<li class="list-inline-item me-0 small">난이도 : <i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
												</ul>
												</th:block>
												<th:block th:if="${#strings.equals(drygarden.manageLevelNm,'어려움')}">
												<ul class="list-inline mb-0">	
													<li class="list-inline-item me-0 small">난이도 : <i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
												</ul>
												</th:block>
												<th:block th:if="${#strings.equals(drygarden.manageLevelNm,'매우 어려움')}">
												<ul class="list-inline mb-0">	
													<li class="list-inline-item me-0 small">난이도 : <i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
													<li class="list-inline-item me-0 small"><i class="fa-solid fa-star text-warning"></i></li>
												</ul>
												</th:block>
		
												<ul class="list-inline mb-0 z-index-2">
													<!-- Heart icon -->
													<li class="list-inline-item">
														<a href="#" class="btn btn-sm btn-round btn-light"><i class="fa-solid fa-fw fa-heart"></i></a>
													</li>
													<!-- Share icon -->
													
												</ul>
											</div>
		
											<!-- Title -->
											<h5 class="card-title mb-1"><a th:href="|/plant/drygardenDtl?no=${drygarden.cntntsNo}|">[[${drygarden.cntntsSj}]]</a></h5>
											<small><i class="fa fa-leaf me-2"></i><span th:utext="${drygarden.scnm}"></span></small>
											<!-- Amenities -->
											<ul class="nav nav-divider mt-3">
												<li class="nav-item">
													
													<th:block th:if="${not #strings.isEmpty(drygarden.chartrInfo)}">
														<p th:utext="|${drygarden.chartrInfo.replace('<br />', '')}|">></p>
													</th:block>
												</li>
											</ul>
		
											<!-- List -->
											
											
											<!-- Price and Button -->
											<div class="d-sm-flex justify-content-sm-between align-items-center mt-3 mt-md-auto">
												<!-- Button -->
												<div class="d-flex align-items-center">
													
												</div>
												<!-- Price -->
												<div class="mt-3 mt-sm-0">
													<a th:href="|/plant/drygardenDtl?no=${drygarden.cntntsNo}|" class="btn btn-sm btn-dark mb-0 w-100">상세 보기</a>    
												</div>                  
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>
						<!-- Card item END -->
						
						
	
						<th:block th:if="${listSize > 0}">
						<!-- Pagination -->
						<div class="row">
							<div class="col-12">
								<nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
									<ul class="pagination pagination-primary-soft2 d-inline-block d-md-flex rounded mb-0">
										<li class="page-item mb-0"><a class="page-link" th:onclick="movePage(1);"><i class="fa-solid fa-angles-left"></i></a></li>
										<li class="page-item mb-0"><a class="page-link" th:onclick="movePage([[${pageInfo.prevPage}]]);"><i class="fa-solid fa-angle-left"></i></a></li>
										<th:block th:each= "num, status : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
											<th:block th:if="${status.current == pageInfo.currentPage}">
												<li class="page-item mb-0 active"><a class="page-link" disabled>[[${status.current}]]<span class="visually-hidden">(current)</span></a></li>
											</th:block>
											<th:block th:if="${status.current != pageInfo.currentPage}">
												<li class="page-item mb-0"><a class="page-link" th:onclick="movePage([[${status.current}]])">[[${status.current}]]</a></li>
											</th:block>
										</th:block>
										
										<li class="page-item mb-0"><a class="page-link" th:onclick="movePage([[${pageInfo.nextPage}]])"><i class="fa-solid fa-angle-right"></i></a></li>
										<li class="page-item mb-0"><a class="page-link" th:onclick="movePage([[${pageInfo.maxPage}]])"><i class="fa-solid fa-angles-right"></i></a></li>
									</ul>
								</nav>
							</div>
						</div>
						</th:block>
	
					</div>
				</div>
				<!-- Main content END -->
	            <!-- Left sidebar START -->
				<aside class="col-xl-4 col-xxl-3">
					<!-- Responsive offcanvas body START -->
					<div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
						<div class="offcanvas-header">
							<h5 class="offcanvas-title" id="offcanvasSidebarLabel">Advance Filters</h5>
							<button  type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body flex-column p-3 p-xl-0">
							<div class="rounded-3 shadow">
								
	                            <div class="card card-body rounded-0 p-4">
									<!-- Title -->
									<h6 class="mb-2">형태</h6>
									<!-- Popular Type group -->
									<div class="col-12">
										<!-- Checkbox -->
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="shape" value="S1" id="S1"
											th:checked="${#strings.contains(shape,'S1')}">
											<label class="form-check-label" for="S1">포도송이형</label>
										</div>
										<!-- Checkbox -->
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="shape" value="S2" id="S2"
											th:checked="${#strings.contains(shape,'S2')}">
											<label class="form-check-label" for="S2">군생형</label>
										</div>
										<!-- Checkbox -->
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="shape" value="S3" id="S3"
											th:checked="${#strings.contains(shape,'S3')}">
											<label class="form-check-label" for="S3">관목형</label>
										</div>
	                                    <div class="form-check">
											<input class="form-check-input" type="checkbox" name="shape" value="S4" id="S4"
											th:checked="${#strings.contains(shape,'S4')}">
											<label class="form-check-label" for="S4">포복형</label>
										</div>
	                                    <div class="form-check">
											<input class="form-check-input" type="checkbox" name="shape" value="S5" id="S5"
											th:checked="${#strings.contains(shape,'S5')}">
											<label class="form-check-label" for="S5">로제트형</label>
										</div>
	                                    <div class="form-check">
											<input class="form-check-input" type="checkbox" name="shape" value="S6" id="S6"
											th:checked="${#strings.contains(shape,'S6')}">
											<label class="form-check-label" for="S6">불규칙형</label>
										</div>
	                                    <div class="form-check">
											<input class="form-check-input" type="checkbox" name="shape" value="S7" id="S7"
											th:checked="${#strings.contains(shape,'S7')}">
											<label class="form-check-label" for="S7">포복형</label>
										</div>
	                                    <div class="form-check">
											<input class="form-check-input" type="checkbox" name="shape" value="S8" id="S8"
											th:checked="${#strings.contains(shape,'S8')}">
											<label class="form-check-label" for="S8">직립형</label>
										</div>
	                                    <div class="form-check">
											<input class="form-check-input" type="checkbox" name="shape" value="S9" id="S9"
											th:checked="${#strings.contains(shape,'S9')}">
											<label class="form-check-label" for="S9">직립형, 단측지</label>
										</div>
	                                    <div class="form-check">
											<input class="form-check-input" type="checkbox" name="shape" value="S0" id="S0"
											th:checked="${#strings.contains(shape,'S0')}">
											<label class="form-check-label" for="S0">탑형</label>
										</div>
									</div>
								</div>
								<!-- Popular type END -->
	
	                            <hr class="my-0"> <!-- Divider -->
								<!-- Price range START -->
								<div class="card card-body rounded-0 p-4">
									<!-- Title -->
									<h6 class="mb-2">생육 속도</h6>
									<!-- Price range group -->
									<div class="col-12">
										<!-- Checkbox -->
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="growth" value="G1" id="G1"
											th:checked="${#strings.contains(growth,'G1')}">
											<label class="form-check-label" for="G1">빠름</label>
										</div>
										<!-- Checkbox -->
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="growth" value="G2" id="G2"
											th:checked="${#strings.contains(growth,'G2')}">
											<label class="form-check-label" for="G2">보통</label>
										</div>
										<!-- Checkbox -->
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="growth" value="G3" id="G3"
											th:checked="${#strings.contains(growth,'G3')}">
											<label class="form-check-label" for="G3">느림</label>
										</div>
										<!-- Checkbox -->
										
									</div>
								</div>
								<!-- Price range END -->
	
								<hr class="my-0"> <!-- Divider -->
	
								<!-- Popular type START -->
								
	
	                            <div class="card card-body rounded-0 rounded-top p-4">
									<!-- Title -->
									<h6 class="mb-2">관리요구도</h6>
									<!-- Hotel Type group -->
									<div class="col-12">
										<!-- Checkbox -->
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="demand" value="D1" id="D1"
											th:checked="${#strings.contains(demand,'D1')}">
											<label class="form-check-label" for="D1">약간돌봄</label>
										</div>
										<!-- Checkbox -->
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="demand" value="D2" id="D2"
											th:checked="${#strings.contains(demand,'D2')}">
											<label class="form-check-label" for="D2">잘견딤</label>
										</div>
										<!-- Checkbox -->
										<div class="form-check">
											<input class="form-check-input" type="checkbox" name="demand" value="D3" id="D3"
											th:checked="${#strings.contains(demand,'D3')}">
											<label class="form-check-label" for="D3">필요함</label>
										</div>
										
										
										
										
										
									</div>
								</div>
								<!-- Hotel type END -->
	
	
								<hr class="my-0"> <!-- Divider -->
	
								<!-- Customer Rating START -->
								<div class="card card-body rounded-0 p-4">
									<!-- Title -->
									<h6 class="mb-2">관리 수준</h6>
									<!-- Customer Rating group -->
									<ul class="list-inline mb-0 g-3">
										<!-- Item -->
										<li class="list-inline-item mb-0">
											<input type="checkbox" class="btn-check" name="level" value="L1" id="L1"
											th:checked="${#strings.contains(level,'L1')}">
											<label class="btn btn-sm btn-light btn-success-soft-check" for="L1">매우쉬움</label>
										</li>
	                                    <!-- Item -->
										<li class="list-inline-item mb-0">
											<input type="checkbox" class="btn-check" name="level" value="L2" id="L2"
											th:checked="${#strings.contains(level,'L2')}">
											<label class="btn btn-sm btn-light btn-success-soft-check" for="L2">쉬움</label>
										</li>
	                                    <!-- Item -->
										<li class="list-inline-item mb-0">
											<input type="checkbox" class="btn-check" name="level" value="L3" id="L3"
											th:checked="${#strings.contains(level,'L3')}">
											<label class="btn btn-sm btn-light btn-success-soft-check" for="L3">보통</label>
										</li>
										<!-- Item -->
										<li class="list-inline-item mb-0">
											<input type="checkbox" class="btn-check" name="level" value="L4" id="L4"
											th:checked="${#strings.contains(level,'L4')}">
											<label class="btn btn-sm btn-light btn-success-soft-check" for="L4">어려움</label>
										</li>
										<!-- Item -->
										<li class="list-inline-item mb-0">
											<input type="checkbox" class="btn-check" name="level" value="L5" id="L5"
											th:checked="${#strings.contains(level,'L5')}">
											<label class="btn btn-sm btn-light btn-success-soft-check" for="L5">매우어려움</label>
										</li>
										<!-- Item -->
										
									</ul>
								</div>
								<!-- Customer Rating END -->
	
								<hr class="my-0"> <!-- Divider -->
	
								<!-- Rating Star START -->
								<div class="card card-body rounded-0 p-4">
									<!-- Title -->
									<h6 class="mb-2">성장시기</h6>
									<!-- Rating Star group -->
									<ul class="list-inline mb-0 g-3">
										<!-- Item -->
										<li class="list-inline-item mb-0">
											<input type="checkbox" class="btn-check" name="period" value="P1" id="P1" 
											th:checked="${#strings.contains(period,'P1')}">
											<label class="btn btn-sm btn-light btn-success-soft-check" for="P1">여름생장형</label>
										</li>
										<!-- Item -->
										<li class="list-inline-item mb-0">
											<input type="checkbox" class="btn-check" name="period" value="P2" id="P2" 
											th:checked="${#strings.contains(period,'P2')}">
											<label class="btn btn-sm btn-light btn-success-soft-check" for="P2">겨울생장형</label>
										</li>
										<!-- Item -->
										
									</ul>
								</div>
								<!-- Rating Star END -->
	
								<hr class="my-0"> <!-- Divider -->
	
								<!-- Amenities START -->
								<div class="card card-body rounded-0 rounded-bottom p-4">
									<!-- Title -->
									<h6 class="mb-2">물주기</h6>
									<!-- Amenities group -->
									<div class="col-12">
										<!-- Checkbox -->
										<select class="form-select js-choice border-0" name="waterCycle" id="waterCycle">
	                                        <option value="">물주기 옵션</option>
	                                        <option value="2주">2주에 한번</option>
	                                        <option value="한 달">한달에 1~2번</option>
	                                        <option value="분 흙">분 흙이 말랐을 때</option>
	                                        <option value="봄">봄 여름에는 충분히 관수, 겨울에는 줄임</option>
	                                    </select>
										
									</div>
									<div class="col-6 mx-auto mt-4">
										<a class="btn btn-link p-0 mb-0" th:href="|/plant/drygardenList|" >Clear all</a>
									</div>
	                                
								</div>
								<!-- Amenities END -->
							</div><!-- Form End -->
						</div>
						<!-- Buttons -->
						
					</div>
					<!-- Responsive offcanvas body END -->
				</aside>
			</div> <!-- Row END -->
		</div>
	</section>
<!-- =======================
Hotel list END -->
</form>

</main>
<script type="text/javascript">
var url_href = window.location.href;
var url = new URL(url_href); // URL 객체 선언

function movePage(page){
	url.searchParams.set("page", page);
	
	window.location.search = url.searchParams;
};



</script>
<!-- **************** MAIN CONTENT END **************** -->

	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>