<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>
	<!-- Header END -->
<!-- **************** MAIN CONTENT START **************** -->
<main>
	
<!-- =======================
Main Banner START -->
<section class="pt-4">
	<div class="container">

		<!-- Title -->
		<div class="row">
			<div class="col-8 mb-4">
				<h1 class="fs-3">[[${garden.cntntsSj}]]</h1>
				<!-- Location -->
				<p class="fw-bold mb-0"><i class="bi bi-flower2 me-2"></i>[[${garden.plntzrNm}]] </p>
			</div>
			<div class="col-4 mb-4">
				<div class="text-end align-items-center">	
						<ul class="list-inline my-auto z-index-2">	
							<li class="list-inline-item dropdown">
								<!-- Share button -->
								<a href="#" class="btn btn-bg btn-success px-2" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fa-solid fa-fw fa-share-alt"></i>
								</a>
								<!-- dropdown button -->
								<ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
									<li><a id="btnTwitter" class="dropdown-item link-icon twitter" href="javascript:shareTwitter();"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
									<!-- <li><a id="btnFacebook" class="dropdown-item link-icon facebook" href="javascript:shareFacebook();"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li> -->
									<li><a id="btnKakao" class="dropdown-item link-icon kakao" href="javascript:shareKakao();">
										<img src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/null/external-free-instant-messaging-app-for-cross-platform-devices-logo-bold-tal-revivo.png" style="height:15px"/> KaKao</a></li>
									<li><a class="dropdown-item" href="#" onclick="clip(); return false;"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
								</ul>
							</li>
						</ul>
					</div>
			</div>
		</div>

		<!-- Slider START -->
		<div class="tiny-slider arrow-round arrow-blur">
			<div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-edge="0" data-dots="false" data-items="2" data-items-sm="1">
				<!-- Slider item -->
				<th:block th:if="${garden.imgList != null}">
				<div th:each="gardenImg : ${garden.imgList}">
					<div>
						<a class="w-100 h-100" data-glightbox data-gallery="gallery" th:href="${gardenImg.imgUrl}">
							<div class="card card-element-hover card-overlay-hover overflow-hidden">
								<!-- Image -->
								<img style="height: 20rem; object-fit: cover;" th:src="${gardenImg.imgUrl}" class="rounded-3" alt="">
								<!-- Full screen button -->
								<div class="hover-element w-100 h-100">
									<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
								</div>
							</div>
						</a>
					</div>
				
				</div>		
				</th:block>
				
			</div>
		</div>
		<!-- Slider End -->
	</div>
</section>
<!-- =======================
Main Banner END -->

<!-- =======================
Room detail START -->
<section class="pt-0 ">
	<div class="container">
		<div class="row mb-6 mt-5">

			<!-- Detail START -->
            <div class="col-xl-7">
				<div class="card bg-transparent p-0">
					<!-- Card header -->
					<div class="card-header bg-transparent border-bottom d-sm-flex justify-content-sm-between align-items-center p-0 pb-3">
						<h4 class="mb-2 mb-sm-0 ">상세정보</h4>

						
					</div>

					<!-- Card body START -->
					<div class="card-body p-0 pt-3">
						<div class="vstack gap-5">
							<!-- Room item START -->
							<div class="row g-4">
								<!-- Item -->
								<div class="col-sm-6">
									<div class="icon-lg bg-primary bg-opacity-10 text-primary rounded-circle" style="display: inline-block;" ><i class="fa-solid fa-shapes"></i></div>
									<h5 class="mx-2" style="display: inline-block;" >형태</h5>
									<th:block th:if="${#strings.isEmpty(garden.eclgyCodeNm)}">
										<p class="mt-3"> - </p>
									</th:block>
									<p class="mt-3">[[${garden.eclgyCodeNm}]]</p>
								</div>
								<!-- Item -->
								<div class="col-sm-6">
									<div class="icon-lg bg-warning bg-opacity-10 text-warning rounded-circle" style="display: inline-block;"><i class="bi bi-flower2"></i></div>
									<h5 class="mx-2" style="display: inline-block;">꽃</h5>
									<th:block th:if="${#strings.isEmpty(garden.flclrCodeNm)}">
										<p class="mt-3"> - </p>
									</th:block>
									<p class="mt-3">[[${garden.flclrCodeNm}]]</p>
								</div>
								<!-- Item -->
								<div class="col-sm-6">
									<div class="icon-lg bg-success bg-opacity-10 text-success rounded-circle" style="display: inline-block;"><i class="fa-solid fa-leaf"></i></div>
									<h5 class="mx-2" style="display: inline-block;">잎</h5>
									<th:block th:if="${#strings.isEmpty(garden.lefcolrCodeNm)}">
										<p class="mt-3"> - </p>
									</th:block>
									<p class="mt-3">[[${garden.lefcolrCodeNm}]]</p>
								</div>
								<!-- Item -->
								<div class="col-sm-6">
									<div class="icon-lg bg-danger bg-opacity-10 text-danger rounded-circle" style="display: inline-block;"><i class="fa-solid fa-apple-whole"></i></div>
									<h5 class="mx-2" style="display: inline-block;">열매</h5>
									<th:block th:if="${#strings.isEmpty(garden.flclrCodeNm)}">
										<p class="mt-3"> - </p>
									</th:block>
									<p class="mt-3">[[${garden.flclrCodeNm}]]</p>
								</div>	
								<div class="col-sm-6">
									<div class="icon-lg bg-orange bg-opacity-10 text-orange rounded-circle" style="display: inline-block;"><i class="fa-solid fa-wind"></i></div>
									<h5 class="mx-2" style="display: inline-block;">냄새</h5>
									<th:block th:if="${#strings.isEmpty(garden.smellCodeNm)}">
										<p class="mt-3"> - </p>
									</th:block>
									<p class="mt-3">[[${garden.smellCodeNm}]]</p>
								</div>
								<!-- Item -->
								<div class="col-sm-6">
									<div class="icon-lg bg-black bg-opacity-10 text-black rounded-circle" style="display: inline-block;"><i class="fa-solid fa-skull"></i></div>
									<h5 class="mx-2" style="display: inline-block;">독성</h5>
									<th:block th:if="${#strings.isEmpty(garden.toxctyInfo)}">
										<p class="mt-3"> - </p>
									</th:block>
									<p class="mt-3">[[${garden.toxctyInfo}]]</p>
								</div>		
								<div class="col-sm-6">
									<div class="icon-lg bg-secondary bg-opacity-10 text-secondary rounded-circle" style="display: inline-block;"><i class="fa-solid fa-bug"></i></div>
									<h5 class="mx-2" style="display: inline-block;">병충해</h5>
									<th:block th:if="${#strings.isEmpty(garden.dlthtsCodeNm)}">
										<p class="mt-3"> - </p>
									</th:block>
									<p class="mt-3">[[${garden.dlthtsCodeNm}]]</p>
								</div>
								<!-- Item -->
								<div class="col-sm-6">
									<div class="icon-lg bg-primary bg-opacity-50 text-white rounded-circle" style="display: inline-block;"><i class="fa-solid fa-seedling"></i></div>
									<h5 class="mx-2" style="display: inline-block;">번식 방법</h5>
									<th:block th:if="${#strings.isEmpty(garden.prpgtmthCodeNm)}">
										<p class="mt-3"> - </p>
									</th:block>
									<p class="mt-3">[[${garden.prpgtmthCodeNm}]]</p>
								</div>			
							</div>
							<!-- Room item END -->
						</div>
					</div>
					<!-- Card body END -->
				</div>	
			</div>
			<!-- Detail END -->

			<!-- Right side content START -->
			<aside class="col-xl-5 d-none d-xl-block">
				<div class="card bg-transparent border">
					<!-- Card header START -->
					<div class="card-header bg-transparent border-bottom">
						<!-- Title -->
						<h4 class="card-title mb-0">소개</h4>
					</div>
					<!-- Card header END -->

					<!-- Card body START -->
					<div class="card-body">

						

						<!-- List -->
						<ul class="list-group list-group-borderless mb-3">
							<li class="list-group-item bg-light d-flex justify-content-between rounded-2 px-2 mt-1 mb-2">
								
								<span class="h5 fw-bold mb-0">[[${garden.cntntsSj}]]</span>
							</li>
							<li class="list-group-item px-2 d-flex justify-content-between">
								<span class="h6 fw-bold mb-0">식물영명</span>				
							</li>
							<li class="list-group-item px-2 d-flex justify-content-between mb-2">
								<span class="h6 fw-light mb-0">[[${garden.plntzrNm}]]</span>
							</li>
							<li class="list-group-item px-2 d-flex justify-content-between">
								<span class="h6 fw-bold mb-0">유통명</span>				
							</li>
							<li class="list-group-item px-2 d-flex justify-content-between mb-2">
								<th:block th:if="${#strings.isEmpty(garden.distbNm)}">
									<span class="h6 fw-light mb-0">-</span>
								</th:block>
								<span class="h6 fw-light mb-0">[[${garden.distbNm}]]</span>
							</li>
							<li class="list-group-item px-2 d-flex justify-content-between">
								<span class="h6 fw-bold mb-0">과명</span>				
							</li>
							<li class="list-group-item px-2 d-flex justify-content-between mb-2">
								<th:block th:if="${#strings.isEmpty(garden.fmlCodeNm)}">
									<span class="h6 fw-light mb-0">-</span>
								</th:block>
								<span class="h6 fw-light mb-0">[[${garden.fmlCodeNm}]]</span>
							</li>
							<li class="list-group-item px-2 d-flex justify-content-between">
								<span class="h6 fw-bold mb-0">원산지</span>
							</li>
							<li class="list-group-item px-2 d-flex justify-content-between mb-2">
								<th:block th:if="${#strings.isEmpty(garden.orgplceInfo)}">
									<span class="h6 fw-light mb-0">-</span>
								</th:block>
								<span class="h6 fw-light mb-0">[[${garden.orgplceInfo}]]</span>
							</li>
							<li class="list-group-item px-2 d-flex justify-content-between">
								<span class="h6 fw-bold mb-0">부가정보</span>
							</li>
							<li class="list-group-item px-2 d-flex justify-content-between mb-2">
								<th:block th:if="${#strings.isEmpty(garden.adviseInfo)}">
									<span class="h6 fw-light mb-0">-</span>
								</th:block>
								<span class="h6 fw-light mb-0">[[${garden.adviseInfo}]]</span>
							</li>
						</ul>

						
					</div>
					<!-- Card body END -->
				</div>
			</aside>
			<!-- Right side content END -->
		</div>
        <div class="row mb-6 mt-8">
            <aside class="col-xl-5 d-none d-xl-block">
				<div class="card bg-transparent border">
					<th:block th:if="${#strings.equals(garden.managelevelCodeNm, '초보자')}">
						<div class="card-header bg-transparent border-bottom">
							<!-- Title -->
							<h4 class="card-title mb-0">난이도 : [[${garden.managelevelCodeNm}]] </h4>
						</div>
						<!-- Card header END -->
	
						<!-- Card body START -->
						<div class="card-body">
	                        <h3 class="text-center text-white bg-success rounded-3" style="line-height: 4rem;"><i class="fa-solid fa-baby"></i></h3>
							<div class="row g-4 mb-3">
							<!-- Item -->
							
								<div class="bg-light py-3 px-4 rounded-3">
									<h6 class="  mb-1">초보자란?</h6>
									<h6 class=" fw-light small mb-0">어린이들도 키울 수 있을만큼 쉽습니다.</h6>
								</div>
								
							</div>
						</div>
					</th:block>
					<th:block th:if="${#strings.equals(garden.managelevelCodeNm, '경험자')}">
						<div class="card-header bg-transparent border-bottom">
							<!-- Title -->
							<h4 class="card-title mb-0">난이도 : [[${garden.managelevelCodeNm}]] </h4>
						</div>
						<!-- Card header END -->
	
						<!-- Card body START -->
						<div class="card-body">
	                        <h3 class="text-center text-white bg-success rounded-3" style="line-height: 4rem;"><i class="fa-solid fa-user"></i></h3>
							<div class="row g-4 mb-3">
							<!-- Item -->
							
								<div class="bg-light py-3 px-4 rounded-3">
									<h6 class="  mb-1">경험자란?</h6>
									<h6 class=" fw-light small mb-0">식물을 한 번 키워보신 적이 있는 분이시라면, 키우는 데 큰 어려움이 없으실 겁니다.</h6>
								</div>
								
							</div>
						</div>
					</th:block>
					<th:block th:if="${#strings.equals(garden.managelevelCodeNm, '전문가')}">
						<div class="card-header bg-transparent border-bottom">
							<!-- Title -->
							<h4 class="card-title mb-0">난이도 : [[${garden.managelevelCodeNm}]] </h4>
						</div>
						<!-- Card header END -->
	
						<!-- Card body START -->
						<div class="card-body">
	                        <h3 class="text-center text-white bg-success rounded-3" style="line-height: 4rem;"><i class="fa-solid fa-user-graduate"></i></h3>
							<div class="row g-4 mb-3">
							<!-- Item -->
							
								<div class="bg-light py-3 px-4 rounded-3">
									<h6 class="  mb-1">전문가란?</h6>
									<h6 class=" fw-light small mb-0">죽어가는 꽃도 살리는 당신에게 어울리는 난이도입니다.</h6>
								</div>
								
							</div>
						</div>
					</th:block>
					<th:block th:if="${#strings.isEmpty(garden.managelevelCodeNm)}">
						<div class="card-header bg-transparent border-bottom">
							<!-- Title -->
							<h4 class="card-title mb-0">난이도 : 모험가 </h4>
						</div>
						<!-- Card header END -->
	
						<!-- Card body START -->
						<div class="card-body">
	                        <h3 class="text-center text-white bg-success rounded-3" style="line-height: 4rem;"><i class="fa-solid fa-person-hiking"></i></h3>
							<div class="row g-4 mb-2">
							<!-- Item -->
							
								<div class="bg-light py-3 px-4 rounded-3">
									<h6 class="  mb-1">모험가란?</h6>
									<h6 class=" fw-light small mb-0">아직 난이도가 정해지지 않은 식물입니다. 미지의 세계로 떠날 자신 있으신가요?</h6>
								</div>
								
							</div>
						</div>
					</th:block>
					<!-- Card header START -->
					
					<div class="card-body pt-0 pb-3">
						<!-- List -->
						<div class="mb-3">
                            <h4 class="mb-4">육성 Tip</h4>
                            <th:block th:if="${#strings.isEmpty(garden.speclmanageInfo)}">
								<p>1. 직사광선 No! 너무 어두운 곳 No!</p>
								<p>2. 적절한 환기와 통풍은 필수!</p>
								<p>3. 흙이 마르면 물주기!</p>
							</th:block>
                            <p>[[${garden.speclmanageInfo}]]</p>
                            <p><b>※ 추천 배치 장소</b></p>
                            <p th:utext="|${garden.postngplaceCodeNm.replace(',', ',<br>')}|"></p>

                        </div>

						<!-- Button -->
						
					</div>
					<!-- Card body END -->
				</div>
			</aside>
            

			<!-- Detail START -->
			<div class="col-xl-7">
				<div class="card bg-transparent p-0">
					<!-- Card header -->
					<div class="card-header bg-transparent border-bottom d-sm-flex justify-content-sm-between align-items-center p-0 pb-3">
						<h4 class="mb-2 mb-sm-0 ">재배방법</h4>

						<div class="col-sm-4">
							
						</div>
					</div>

					<!-- Card body START -->
					<div class="card-body p-0 pt-3">
						<div class="vstack gap-5">
							<!-- Room item START -->
							<div class="card border bg-transparent p-3">
								<div class="row g-3 g-md-4">
									<!-- Image and content -->
									<div class="col-md-4">
                                        
										<!-- Image -->
										<div class="bg-success py-2 px-3 rounded-3 h-100" >
											<h1 class="text-white" ><i class="fa-solid fa-temperature-half"></i></h1>
                                            <h5 class="text-white">생육온도</h5>
                                            <th:block th:if="${#strings.isEmpty(garden.grwhTpCodeNm)}">
												<h6 class="text-white"> - </h6>
											</th:block>
                                            <h6 class="text-white">[[${garden.grwhTpCodeNm}]]</h6>
                                            
										</div>	

									</div>
                                    
                                    <div class="col-md-4">
                                        <!-- Image -->
                                        <div class="bg-success py-2 px-3 rounded-3 h-100 " >
                                            <h1 class="text-white"><i class="fa-solid fa-temperature-arrow-up"></i></h1>
                                            <h5 class="text-white">월동온도</h5>
                                            <th:block th:if="${#strings.isEmpty(garden.winterLwetTpCodeNm)}">
												<h6 class="text-white"> - </h6>
											</th:block>
                                            <h6 class="text-white">[[${garden.winterLwetTpCodeNm}]]</h6>
                                            
                                        </div>	
                                    </div>
									<!-- Room detail START -->
									<div class="col-md-4">
										<!-- Image -->
										<div class="bg-success py-2 px-3 rounded-3 h-100" >
											<h1 class="text-white"><i class="fa-regular fa-sun"></i></h1>
                                            <h5 class="text-white">광도</h5>
                                            <th:block th:if="${#strings.isEmpty(garden.lighttdemanddoCodeNm)}">
												<h6 class="text-white"> - </h6>
											</th:block>
                                            <p class="text-white" style="font-weight: bold;" th:utext="|${garden.lighttdemanddoCodeNm.replace('),', '),<br>')}|"></p>
                                            
										</div>
									</div>
									<!-- Room detail START -->
								</div>
							</div>
							<!-- Room item END -->

							<!-- Room item START -->
							<div class="card border bg-transparent p-3">
								<div class="row g-3 g-md-4">
									<!-- Image and content -->
									<div class="col-md-4">
                                        
										<!-- Image -->
										<div class="bg-success py-2 px-3 rounded-3 h-100" >
											<h1 class="text-white"><i class="fa-solid fa-droplet"></i></h1>
                                            <h5 class="text-white">습도</h5>
                                            <th:block th:if="${#strings.isEmpty(garden.hdCodeNm)}">
												<h6 class="text-white"> - </h6>
											</th:block>
                                            <h6 class="text-white">[[${garden.hdCodeNm}]]</h6>
                                            
										</div>	

									</div>

									<!-- Room detail START -->
									<div class="col-md-4">
										<!-- Image -->
										<div class="bg-success py-2 px-3 rounded-3  h-100" >
											<h1 class="text-white"><i class="fa-solid fa-shower"></i></h1>
                                            <h5 class="text-white">물주기</h5>
                                            <th:block th:if="${#strings.isEmpty(garden.watercycleSprngCodeNm)}">
												<h6 class="text-white"> - </h6>
											</th:block>
                                            <p class="text-white" style="font-weight: bold;">[[${garden.watercycleSprngCodeNm}]]</p>
                                            
										</div>
									</div>
                                    <div class="col-md-4">
										<!-- Image -->
										<div class="bg-success py-2 px-3 rounded-3  h-100" >
											<h1 class="text-white"><i class="fa-solid fa-poo"></i></h1>
                                            <h5 class="text-white">비료</h5>
                                            <th:block th:if="${#strings.isEmpty(garden.frtlzrInfo)}">
												<h6 class="text-white"> - </h6>
											</th:block>
                                            <h6 class="text-white">[[${garden.frtlzrInfo}]]</h6>
                                            
										</div>	
									</div>
									<!-- Room detail START -->
								</div>
							</div>
							<!-- Room item END -->
						</div>
					</div>
					<!-- Card body END -->
				</div>	
			</div>
			<!-- Detail END -->

			<!-- Right side content START -->
			
			<!-- Right side content END -->
		</div>
		<div class="row mb-2 mt-1">
			<div class="col-3 mx-auto text-center">
				<a class="btn btn-success-soft btn-lg" th:href="|/plant/gardenList|"><i class="fa-solid fa-list"></i> 목록으로</a>
			</div>
		</div>
	</div>
</section>
<!-- =======================
Room detail END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

<script type="text/javascript">
var url = '';

function clip(){

	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href;
	textarea.value = url;
	textarea.select();
	document.execCommand("copy");
	document.body.removeChild(textarea);
	alert("URL이 복사되었습니다.")
}

// 트위터
function shareTwitter() {

    var sendText = "farmstouch"; // 전달할 텍스트
    var sendUrl = url; // 전달할 URL
    window.open("https://twitter.com/intent/tweet?text=" + sendText + "&url=" + sendUrl);
}

// 페이스북
/* function shareFacebook() {
	var url = '';
	var textarea = document.createElement("textarea");
	document.body.appendChild(textarea);
	url = window.document.location.href;
	textarea.value = url;
	textarea.select();
	document.execCommand("copy");
	document.body.removeChild(textarea);
    var sendUrl = "url"; // 전달할 URL
    window.open("http://www.facebook.com/sharer/sharer.php?u=" + sendUrl);
} */

// 카카오
function shareKakao() {
      
      // 사용할 앱의 JavaScript 키 설정
      Kakao.init('9b8a2ab69f37af22f6784fef92e74104');

      // 카카오링크 버튼 생성
      Kakao.Link.createDefaultButton({
            container: '#btnKakao', // 카카오공유버튼ID
            objectType: 'feed',
            content: {
                  title: "Farm's Touch", // 보여질 제목
                  description: "반갑습니다. 초보 농부를 위한 온라인 지침서 팜스터치 입니다.", // 보여질 설명
                  imageUrl: "https://www.urbanbrush.net/web/wp-content/uploads/edd/2018/02/web-20180213120309801324.png", // 콘텐츠 URL
                  link: {
                        mobileWebUrl: url,
                        webUrl: url
                  }
            }
      });
}

</script>
	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>