<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>
	<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main START -->
<section class="pt-3 pt-lg-5">
	<div class="container">
		<div class="row g-4 g-lg-5">
			
			<!-- Left side START -->
			<div class="col-lg-8">
					<!-- My Cart START -->
					<div class="card bg-transparent">
						<!-- Card header -->
						<div class="card-header border-bottom d-flex justify-content-between align-items-center px-0 pb-3">
							<h4 class="card-title mb-0">장바구니</h4>
							<span>총 2개</span>
						</div>

						<!-- Card body --> 
						<div class="card-body p-0 pt-4">
						
							<div th:each="product : ${list}">
							
							<!-- Product item START -->
							<div class="row align-items-center">
								<!-- Image -->
								<div class="col-5 col-md-2">
									<div class="bg-light p-2 rounded-2">
										<img th:src="${product.image}" alt="" style="height: 4.063rem;">
									</div>
								</div>

								<div class="col-7 col-md-10">
									<div class="row g-2">
										<!-- Content -->
										<div class="col-md-7">
											<!-- Product detail START -->
											<h5 class="mb-1"><a th:href="|/shop/shoppingBasket?pno=${product.pno}|">[[${product.title}]]</a></h5>
                      						<small style="color: #446A46;">[[${product.category1}]]</small>
											<!-- List -->
											<ul class="nav nav-divider small align-items-center mt-1">
												<li class="nav-item">판매점: [[${product.mallName}]]</li>
											</ul>
										</div>
			
										<!-- Select -->
										<div class="col-md-2">
											<select class="form-select form-select-sm" aria-label="Default select example">
												<option value="1">01</option>
												<option value="2">02</option>
												<option value="3">03</option>
												<option value="4">04</option>
												<option value="5">05</option>
											</select>
										</div>
		
										<!-- Price and button -->
										<div class="col-md-3 text-md-end">
											<h5>\[[${product.lprice}]]</h5>
											<!-- Buttons -->
											<div class="hstack gap-1 flex-wrap text-primary-hover mt-2 justify-content-md-end">
												<a th:href="@{/#}" class="text-reset small"><i class="bi bi-trash3 me-2"></i>Remove</a>
												<a th:href="@{/#}" class="text-reset small"><i class="bi bi-heart me-2"></i>Save for later</a>
											</div>
										</div>
									</div>
								</div>
							</div>	
							<!-- Product item END -->
							<hr> <!-- Divider -->
							
							</div>
	
	
							
						</div>
					</div>
					<!-- My Cart END -->
			</div>
			<!-- Left side END -->

			<!-- Right Side START -->
			<div class="col-lg-4">

				<!-- Coupon code START -->
				<div class="mb-4">
					<h5 class="mb-2">쿠폰 코드 검색</h5>
					<!-- Input group -->
					<div class="input-group">
						<input class="form-control form-control" placeholder="Coupon code">
						<button type="button" class="btn btn-dark">적용</button>
					</div>
				</div>
				<!-- Coupon code END -->

				<!-- Order summary START -->
				<div class="card bg-light border border-secondary border-opacity-25 rounded-2 p-4">
					<!-- card header -->
					<div class="card-header bg-light p-0 pb-3">
						<h5 class="card-title mb-0">주문서</h5>
					</div>

					<!-- Card body -->
					<div class="card-body p-0 pb-3">
						<ul class="list-group list-group-borderless">
							<li class="list-group-item d-flex justify-content-between align-items-center">
								<span>합계</span>
								<span class="h6 mb-0">\260.54</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								<span>할인</span>
								<span class="h6 mb-0">-\0</span>	
							</li>
						</ul>
					</div>

					<!-- Card footer -->
					<div class="card-footer bg-light border-top p-0 pt-3">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<span>할인합계</span>
							<span class="h5 mb-0">\210.54</span>
						</div>

						<!-- Button -->
						<div class="d-grid"><a th:href="@{/#}" class="btn btn-success2 mb-0">결제하기</a></div>
					</div>
				</div>
				<!-- Order summary END -->
			</div>
			<!-- Right Side END -->

		</div>
	</div>
</section>
<!-- =======================
Main END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>