<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head" th:replace="~{common/layout2 :: head}"></head>

<body>

<!-- Header START -->
<header th:replace="~{common/layout2 :: #header}"></header>
	<!-- Header END -->
<!-- **************** MAIN CONTENT START **************** -->
<main>

<!-- =======================
Main START -->
<section>
	<div class="container">
		<div class="row g-4 g-lg-0 justify-content-between">
			<!-- Image -->
			<div class="col-lg-6">
				<div class="row g-2">
					<div class="col-12">
						<div class="bg-light rounded-2 glightbox-bg p-4 position-relative">
							<a th:href="|${product.image}|" class="stretched-link cursor-zoom" data-glightbox data-gallery="image-popup">
								<img th:src="${product.image}" alt="" style="height: 31.25rem;">
							</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Detail -->
			<div class="col-lg-5">
				<!-- Rating -->
				<ul class="list-inline mb-1">
					<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
					<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
					<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
					<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
					<li class="list-inline-item me-0"><i class="fa-regular fa-star text-warning"></i></li>
					<li class="list-inline-item me-0 h6">4.0/5.0</li>
				</ul>
				<!-- Title -->
				<h4 class="mb-4">[[${product.title}]]</h4>

				<!-- List START -->
				<div class="bg-light p-3 rounded-2 mb-4">
					<div class="row g-2">
						<!-- List -->
						<div class="col-sm-6">
							<ul class="list-group list-group-borderless">
								<li class="list-group-item py-0">
									<span>판매점:</span>
									<span class="h6 mb-0">[[${product.mallName}]]</span>
								</li>
								<li class="list-group-item pb-0">
									<span>카테고리1:</span>
									<span class="h6 mb-0">[[${product.category1}]]</span>
								</li>
								<li class="list-group-item pb-0">
									<span>카테고리3:</span>
									<span class="h6 mb-0">[[${product.category3}]]</span>
								</li>
							</ul>
						</div>
						<!-- List -->
						<div class="col-sm-6">
							<ul class="list-group list-group-borderless">
								<li class="list-group-item py-0">
									<span>상세보기:</span>
									<span class="h6 mb-0"><a th:href="|${product.link}|">Link</a></span>
								</li>
								<li class="list-group-item pb-0">
									<span>카테고리2:</span>
									<span class="h6 mb-0">[[${product.category2}]]</span>
								</li>
								<li class="list-group-item pb-0">
									<span>카테고리4:</span>
									<span class="h6 mb-0">[[${product.category4}]]</span>
								</li>
							</ul>
						</div>
					</div>
				</div>	
				<!-- List END -->

				<!-- Price and button START -->
				<div class="row">
					<!-- Price -->
					<div class="col-md-4">
						<h6 class="mb-0">합계</h6>
						<h4 style="color: #446A46;">\[[${product.lprice}]]</h4>
					</div>
					<!-- Select -->
					<div class="col-md-2 pe-md-0 mb-2">
						<select class="form-select" aria-label="Default select example">
							<option value="1">01</option>
							<option value="2">02</option>
							<option value="3">03</option>
							<option value="4">04</option>
							<option value="5">05</option>
						</select>
					</div>
					<!-- Button -->
					<div class="col-md-6" th:if="|${loginMember} != null|">
						<!-- Button -->
						<a th:href="|/shop/shoppingBasket?pno=${product.pno}|" class="btn btn-success2 mb-0 w-100" type="button" 
							th:onclick="location.href=|/shop/addCart?pno=${product.pno}|"
						><i class="bi bi-cart2 me-2"></i>장바구니 담기</a>
					</div>
				</div>
				<!-- Price and button END -->
			</div>
		</div>
	</div>
</section>
<!-- =======================
Main END -->



<!-- =======================
Rating and review START -->
<section class="pt-0">
	<div class="container">
		
		<div class="row g-4 justify-content-between">
			<!-- Rating START -->
			<div class="col-md-4">
				<div class="p-4 rounded-2 mb-4" style="background-color: #446A46;">
					<div class="text-center text-white" th:if="${product.pno==308}">
						<!-- Info -->
						<h2 class="mb-0 text-white">4.0</h2>
						<p class="mb-2">지금까지 받은 평균 별점</p>
						<!-- Star -->
						<ul class="list-inline mb-0">
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fas fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fa-regular fa-star text-warning"></i></li>
						</ul>
					</div>
					<div class="text-center text-white" th:if="${product.pno!=308}">
						<!-- Info -->
						<h2 class="mb-0 text-white">0.0</h2>
						<p class="mb-2">지금까지 받은 평균 별점</p>
						<!-- Star -->
						<ul class="list-inline mb-0">
							<li class="list-inline-item me-0"><i class="fa-regular fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fa-regular fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fa-regular fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fa-regular fa-star text-warning"></i></li>
							<li class="list-inline-item me-0"><i class="fa-regular fa-star text-warning"></i></li>
						</ul>
					</div>
				</div>

				<div class="row g-2 align-items-center">
					<div class="col-12">
						<h6 class="mb-0">Rating Breakdown</h6>
					</div>
					<!-- Progress bar and Rating -->
					<div class="col-9 col-sm-10">
						<!-- Progress item -->
						<div class="progress progress-sm bg-warning bg-opacity-15">
							<div class="progress-bar bg-warning" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
							</div>
						</div>
					</div>
					<!-- Percentage -->
					<div class="col-3 col-sm-2">
						<span class="ms-auto h6 fw-light mb-0">95%</span>
					</div>

					<!-- Progress bar and Rating -->
					<div class="col-9 col-sm-10">
						<!-- Progress item -->
						<div class="progress progress-sm bg-warning bg-opacity-15">
							<div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
							</div>
						</div>
					</div>
					<!-- Percentage -->
					<div class="col-3 col-sm-2">
						<span class="ms-auto h6 fw-light mb-0">75%</span>
					</div>

					<!-- Progress bar and Rating -->
					<div class="col-9 col-sm-10">
						<!-- Progress item -->
						<div class="progress progress-sm bg-warning bg-opacity-15">
							<div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
							</div>
						</div>
					</div>
					<!-- Percentage -->
					<div class="col-3 col-sm-2">
						<span class="ms-auto h6 fw-light mb-0">60%</span>
					</div>

					<!-- Progress bar and Rating -->
					<div class="col-9 col-sm-10">
						<!-- Progress item -->
						<div class="progress progress-sm bg-warning bg-opacity-15">
							<div class="progress-bar bg-warning" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
							</div>
						</div>
					</div>
					<!-- Percentage -->
					<div class="col-3 col-sm-2">
						<span class="ms-auto h6 fw-light mb-0">35%</span>
					</div>

					<!-- Progress bar and Rating -->
					<div class="col-9 col-sm-10">
						<!-- Progress item -->
						<div class="progress progress-sm bg-warning bg-opacity-15">
							<div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
							</div>
						</div>
					</div>
					<!-- Percentage -->
					<div class="col-3 col-sm-2">
						<span class="ms-auto h6 fw-light mb-0">15%</span>
					</div>
				</div> <!-- Row END -->

			</div>
			<!-- Rating END -->

			<!-- Review START -->
			<div class="col-md-7">
				<!-- Title and Select -->
				<div class="d-flex justify-content-between align-items-center">
					<!-- Title -->
					<h5 class="mb-0 mt-2">정렬 기준</h5>
					<!-- Select -->
					<div class="col-xl-3">
						<select class="form-select" aria-label="Default select example">
							<option value="1">최신순</option>
							<option value="2">별점순</option>
						</select>
					</div>	
				</div>
				
				
				<div th:each="productReply : ${replyList}">
				
					<hr class="my-4"> <!-- Divider -->
					<!-- Review item -->
					<div class="">
						<img class="avatar avatar-md rounded-circle float-start me-3" th:src="@{/assets/images/avatar/01.jpg}" alt="avatar">
						<div>
							<div class="d-flex justify-content-between mb-2">
								<div class="">
									<h5 class="m-0">[[${productReply.name}]]</h5>
									<span class="me-3 small col-6">[[${productReply.createDate}]] </span>
								</div>	
								
								<!-- 삭제 버튼 -->
								<div th:if="|${loginMember} != null|">
									<form class="" th:action="@{/shop/deleteReply}" method="post">
										<input type="hidden" name="rno" th:value="${productReply.rno}">
			                			<input type="hidden" name="pno" th:value="${productReply.pno}">
										<button class="btn ms-9 mt-n1" style="color:red;"><i class="fa-solid fa-xmark"></i></button>
									</form>
								</div>
									
								<!-- Rating Star -->
								<ul class="list-inline mb-0">
									<li class="list-inline-item small me-0"><i class="fa-solid fa-star text-warning"></i></li>
									<li class="list-inline-item small me-0"><i class="fa-solid fa-star text-warning"></i></li>
									<li class="list-inline-item small me-0"><i class="fa-solid fa-star text-warning"></i></li>
									<li class="list-inline-item small me-0"><i class="fa-solid fa-star text-warning"></i></li>
									<li class="list-inline-item small me-0"><i class="fa-regular fa-star text-warning"></i></li>
								</ul>
								
							</div>
							<p>[[${productReply.content}]] </p>
							
							
							
							<span>해당 리뷰가 도움이 되셨나요?</span>
							<div class="btn-group ms-md-2" role="group" aria-label="Basic radio toggle button group">
								<input type="radio" class="btn-check" name="btnradio" id="btnradio1">
								<label class="btn btn-outline-light btn-sm mb-0" for="btnradio1"><i class="far fa-thumbs-up me-1"></i> Yes</label>
								
								<input type="radio" class="btn-check" name="btnradio" id="btnradio2">
								<label class="btn btn-outline-light btn-sm mb-0" for="btnradio2"> No <i class="far fa-thumbs-down ms-1"></i></label>
							
							
							
							</div>
							
							
							
						</div>
					</div>
				
				</div>
				
				
				
				
				<hr class="my-4"> 


				
				

				<!-- button -->
				<div class="mt-4 text-end">
					<a class="btn btn-success2 mb-0" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
						리뷰 작성하기
					</a>
				</div>

				<!-- Collapse body -->
				<div class="collapse" id="collapseExample">
					<div class="card card-body">
						<form th:action="@{/shop/writeReply}" method="post">
							<input type="hidden" name="pno" th:value="${product.pno}">
							<select class="form-select mb-3" aria-label="Default select example">
								<option value="5">★★★★★ (5/5)</option>
								<option value="4">★★★★☆ (4/5)</option>
								<option value="3">★★★☆☆ (3/5)</option>
								<option value="2">★★☆☆☆ (2/5)</option>
								<option value="1">★☆☆☆☆ (1/5)</option>
							</select>
							<!-- Text area -->
							<textarea name="content" class="form-control mb-3" id="exampleFormControlTextarea1" placeholder="리뷰를 작성하세요." rows="3"></textarea>
							<!-- Button -->
							<div th:if="|${loginMember} != null|">
								<button type="submit" class="btn btn-success2 mb-0">등록하기 <i class="bi fa-fw bi-arrow-right ms-2"></i></button>
							</div>

						</form>
					</div>
				</div>

			</div>
			<!-- Review END -->
		</div>
	</div>
</section>
<!-- =======================
Rating and review END -->

<!-- =======================
Related Products START -->
<section class="pt-0 pt-md-5 mt-n5">
	<div class="container">
		<!-- Title -->
		<div class="mb-4">
			<h4 class="mb-0">관련 상품</h4>
		</div>

		<div class="row g-4">
			<!-- Slider item START -->
			<div class="col-md-12">
				<div class="tiny-slider arrow-hover arrow-dark arrow-blur arrow-round">
					<div class="tiny-slider-inner"
					data-autoplay="false"
					data-hoverpause="true"
					data-gutter="24"
					data-edge="2"
					data-arrow="true"
					data-dots="false"
					data-items-xl="4" 
					data-items-lg="3" 
					data-items-md="2" 
					data-items-xs="1"
					>

						<!-- Slider item START -->
						<div th:each="plist1 : ${plist1}">
							<div class="card border p-3 h-100">
								<div class="position-relative">
									<!-- Image -->
									<a th:href="|/shop/shoppingDetails?pno=${plist1.pno}|" class="position-relative z-index-9"><img class="card-img" th:src="${plist1.image}" alt="" style="height: 14.063rem;"></a>
								</div>
			
								<!-- Card body -->
								<div class="card-body text-center p-3 px-0">
									<!-- Badge and price -->
									<div class="d-flex justify-content-center mb-2">
										<ul class="list-inline mb-0">
											<li class="list-inline-item me-0 small"><i class="fa-regular fa-star text-warning"></i></li>
											<li class="list-inline-item me-0 small"><i class="fa-regular fa-star text-warning"></i></li>
											<li class="list-inline-item me-0 small"><i class="fa-regular fa-star text-warning"></i></li>
											<li class="list-inline-item me-0 small"><i class="fa-regular fa-star text-warning"></i></li>
											<li class="list-inline-item me-0 small"><i class="fa-regular fa-star text-warning"></i></li>
										</ul>
									</div>
									<!-- Title -->
									<h6 class="card-title"><a th:href="|/shop/shoppingDetails?pno=${plist1.pno}|">[[${plist1.title}]]</a></h6>
									<h7 class="mb-0" style="color: #446A46;">\[[${plist1.lprice}]]</h7>
								</div>
			
								<!-- Card footer -->
								<div class="card-footer text-center p-0" th:if="|${loginMember} != null|">
									<!-- Button -->
									<a th:href="|/shop/shoppingBasket?pno=${plist1.pno}|" class="btn btn-sm btn-success2 mb-0" type="button" 
										th:onclick="location.href=|/shop/addCart?pno=${plist1.pno}|"
									><i class="bi bi-cart me-2"></i>장바구니 담기</a>
								</div>
							</div>
						</div>	
						<!-- Slider item END -->

					</div>
				</div>
			</div>
			<!-- Slider item END -->
		</div>
	</div>
</section>
<!-- =======================
Related Products END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

	<footer th:replace="~{common/layout2 :: #footer}"></footer>
</body>
</html>

<script type="text/javascript">
	var url_href = window.location.href;
	var url = new URL(url_href); // URL 객체 선언

	function movePage(page){
		url.searchParams.set("page", page);
	
	window.location.search = url.searchParams;
};

</script>





